@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-popup {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #3A2C19;
  position: relative;
  padding: 50px 70px;
  background: #FEFCF7;
  border-radius: 1.2rem;
  width: 680px;
  height: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.step-popup .close {
  cursor: pointer;
  width: 48px;
  position: absolute;
  top: 4%;
  right: 5%;
}
.step-popup h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3A2C19;
  border-bottom: 0.5px solid #989794;
  padding-bottom: 16px;
  margin-bottom: 25px;
}
.step-popup .next-btn,
.step-popup .reserve-btn {
  width: 150px;
  height: 40px;
  background-color: #FF8740;
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #FEFCF7;
}
.step-popup .prev-btn,
.step-popup .home-btn {
  width: 150px;
  height: 40px;
  background-color: #FEFCF7;
  border-radius: 999px;
  border: 1px solid #FF8740;
  font-size: 1rem;
  font-weight: 700;
  color: #FF8740;
}

/* STEP1 選擇方案 */
.step1 {
  /* 按鈕區 */
}
.step1 .course {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
}
.step1 .course h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #FF8740;
}
.step1 .course .detail {
  display: flex;
  gap: 9px;
}
.step1 .course .detail img {
  width: 1.5rem;
  height: auto;
}
.step1 .plan-list {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.step1 .plan-list li {
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #989794;
  width: 100%;
}
.step1 .plan-list li .plan {
  display: flex;
  align-items: center;
}
.step1 .plan-list li .plan h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3A2C19;
  padding-right: 15px;
}
.step1 .plan-list li .plan .subtitle {
  font-size: 0.8rem;
  color: #FF8740;
}
.step1 .plan-list li .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.step1 .plan-list li .details .expiry {
  font-size: 0.8rem;
  font-weight: 700;
  color: #989794;
}
.step1 .plan-list li .details .priceBtn {
  display: flex;
  align-items: center;
  color: #3A2C19;
}
.step1 .plan-list li .details .priceBtn .align-left {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
.step1 .plan-list li .details .priceBtn .align-left .unit {
  font-size: 0.8rem;
  color: #989794;
  padding-right: 15px;
  white-space: nowrap;
}
.step1 .plan-list li .details .priceBtn .align-left .currency {
  font-size: 0.8rem;
  padding-right: 5px;
}
.step1 .plan-list li .details .priceBtn .align-left .price {
  font-size: 1.8rem;
  padding-right: 30px;
}
.step1 .plan-list li .details .priceBtn .select-btn {
  width: 90px;
  height: 40px;
  background-color: #FEFCF7;
  border: 1px solid #FF8740;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 700;
  color: #FF8740;
}
.step1 .button {
  display: flex;
  justify-content: flex-end;
}

.plan-list {
  padding-left: 0 !important;
  margin-left: 0 !important;
  list-style: none;
  width: 540px;
}

.plan-list li,
.plan-list .first-experience {
  margin-left: 0 !important;
  padding-left: 0 !important;
  box-sizing: border-box;
}

.plan-list .first-experience span {
  margin-right: 5px;
}