.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 16px;

  .page-item {
    cursor: pointer;

    .page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 16px;
      color: #4a3b2c;
      text-decoration: none;
    }

    &.active .page-link {
      background-color: #ff8740;
      color: white;
      font-weight: bold;
    }
  }
}