@use "../../reset.scss";

.order-table {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;

  //表格標題跟欄位
  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1.5fr 1.5fr 1fr 1.5fr 1.5fr 1fr;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #f9fafc;

    .order-id {
      cursor: pointer;

      &:hover {
        color: #f87c28;
        text-decoration: underline;
      }
    }
    .orderCheck {
      display: flex;
      flex-direction: column;
    }
  }

  .table-header {
    background-color: #fff;
    font-weight: bold;
  }

  .btn-orange {
    background-color: #ff8740;
    border: none;
    border-radius: 999px;
    padding: 4px 12px;
    color: #fefcf7;
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 1.4px;
    &:focus {
  outline: none;
  box-shadow: none;
}
  }

  //課程完成按鈕(完成&未進行)
  .status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;

    &.done {
      background-color: #fff;
      color: #ff8740;
      border: 1px solid #ff8740;
      padding: 4px 12px;
    }

    &.pending {
      color: #999;
    }
  }
}
.nothing {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.btn-outline-orange {
  border: 1px solid #ff8740;
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 12px;
  background: transparent;
  color: #ff8740;
}
