@use "../../reset.scss";

.orderview-table {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;

  .orderview-table-header,
  .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #F9FAFC;

    .order-id {
      cursor: pointer;

      &:hover {
        color: #f87c28;
        text-decoration: underline;
      }
    }

  }

  .orderview-table-header {
    background-color: #FFF;
    font-weight: bold;

  }

  .btn-orange {
    background-color: #FF8740;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 4px 12px;
    font-size: 12px;
  }

  .btn-outline {
    border: 1px solid #000;
    border-radius: 999px;
    padding: 4px 12px;
    font-size: 12px;
    background-color: transparent;
  }


}

@media (max-width: 1024px) {
  .orderview-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    border: none;
    width: 90%;
    .noOrder {
      flex: 2;
      padding-top: 50px;
    }
    .orderview-table-header {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 83px;
      height: 611px;
      color: #555;
      background: #f8f8f8;
      z-index: 2;
      color: #3a2c19;
      font-family: "Noto Sans TC";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      /* 16.8px */
      letter-spacing: 1.2px;

      span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .table-row {
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      border-radius: 8px;
      font-size: 12px;
      height: 611px;
       flex: 1;

      span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .table-row span {
      text-align: right;
    }

    .order-id {
      color: #ff7a00;
      cursor: pointer;
    }

    .btn-orange {
      background: #ff7a00;
      color: white;
      padding: 4px 10px;
      border-radius: 4px;
      border: none;
      font-size: 12px;
    }

    .btn-outline {
      border: 1px solid #333;
      padding: 4px 10px;
      border-radius: 4px;
      background: transparent;
    }

    .orderCheck {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span:first-child {
        margin-bottom: 4px;
      }
    }
  }
}