@use "../../reset.scss";

.order-table {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;

  //表格標題跟欄位
  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1.5fr 1.5fr 1fr 1.5fr 1.5fr 1fr;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #f9fafc;

    .order-id {
      cursor: pointer;

      &:hover {
        color: #f87c28;
        text-decoration: underline;
      }
    }

    .orderCheck {
      display: flex;
      flex-direction: column;
    }
  }

  .table-header {
    background-color: #fff;
    font-weight: bold;
  }

  .btn-orange {
    background-color: #ff8740;
    border: none;
    border-radius: 999px;
    padding: 4px 12px;
    color: #fefcf7;
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  //課程完成按鈕(完成&未進行)
  .status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;

    &.done {
      background-color: #fff;
      color: #ff8740;
      border: 1px solid #ff8740;
      padding: 4px 12px;
    }

    &.pending {
      color: #999;
    }
  }
}

.nothing {
  display: flex;
  flex-direction: column;
  gap: 10vh;

  @media (max-width: 1024px) {
    justify-content: center;
    width: 60%;
  }

  @media (max-width:767px) {
    width: 90%;
  }

  .noOrder {
    padding-top: 50px;
  }
}

.btn-outline-orange {
  border: 1px solid #ff8740;
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 12px;
  background: transparent;
  color: #ff8740;
}

@media (max-width: 1024px) {
  .order-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    border: none;

    .table-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 83px;
      height: 611px;
      color: #555;
      background: #f8f8f8;
      z-index: 2;
      color: #3a2c19;
      font-family: "Noto Sans TC";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      /* 16.8px */
      letter-spacing: 1.2px;

      span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .table-row {
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      border-radius: 8px;
      font-size: 12px;
      height: 611px;
      width: 137px;

      span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .table-row span {
      text-align: right;
    }

    .order-id {
      color: #ff7a00;
      cursor: pointer;
    }

    .btn-orange {
      background: #ff7a00;
      color: white;
      padding: 4px 10px;
      border-radius: 4px;
      border: none;
      font-size: 12px;
    }

    .btn-outline {
      border: 1px solid #333;
      padding: 4px 10px;
      border-radius: 4px;
      background: transparent;
    }

    .orderCheck {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span:first-child {
        margin-bottom: 4px;
      }
    }
  }
}