@use '../../reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.popup-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    // .popup-overlay {
    //     width: 800px;
    //     height: 800px;
    //     background-color: #FEFCF7;
    //     border-radius: 20px;

    // }
}

.step-popup {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    color: #3A2C19;
    position: relative;
    padding: 50px 70px;
    background: #FEFCF7;
    border-radius: 1.2rem;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 680px;
    height: 680px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    @media(max-width:768px) {
        width: 353px !important;
        height: 640px !important;
        padding: 12px 20px !important;
    }

    .close {
        cursor: pointer;
        width: 48px;
        position: absolute;
        top: 4%;
        right: 5%;

        @media(max-width: 768px) {
            width: 24px !important;
            top: 2% !important;
        }
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: #3A2C19;
        border-bottom: 0.5px solid #989794;
        padding-bottom: 16px;
        margin-bottom: 25px;

        @media(max-width: 768px) {
            font-size: 20px !important;
            margin-bottom: 15px !important;
        }
    }


    // 下一步按鈕、確認結帳按鈕、前往預約
    .next-btn,
    .reserve-btn {
        width: 150px;
        height: 40px;
        background-color: #FF8740;
        border-radius: 999px;
        border: none;

        font-size: 1rem;
        font-weight: 700;
        color: #FEFCF7;

        @media(max-width:768px) {
            width: 100% !important;
            border-radius: 8px !important;
        }

    }

    // 返回按鈕、回首頁按鈕
    .prev-btn,
    .home-btn {
        width: 150px;
        height: 40px;
        background-color: #FEFCF7;
        border-radius: 999px;
        border: 1px solid #FF8740;

        font-size: 1rem;
        font-weight: 700;
        color: #FF8740;

        @media(max-width:768px) {
            width: 100% !important;
            border-radius: 8px !important;
        }

    }
}

/* STEP1 選擇方案 */
.step1 {
    .course {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 25px;

        @media(max-width:768px) {
            padding-bottom: 15px !important;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: 700;
            color: #FF8740;

            .break {
                display: none;
            }

            @media(max-width:768px) {
                font-size: 20px !important;

                .break {
                    display: block;
                }
            }
        }

        .detail {
            display: flex;
            gap: 9px;

            img {
                width: 1.5rem;
                height: auto;

                @media(max-width:768px) {
                    width: 24px !important;
                }
            }

            p {
                font-size: 14px;
            }
        }
    }

    .plan-list {
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;

        li {
            padding-top: 10px;
            padding-bottom: 8px;
            border-bottom: 0.5px solid #989794;
            width: 100%;
            ;

            .plan {
                display: flex;
                align-items: center;

                h4 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #3A2C19;
                    padding-right: 15px;

                    @media(max-width:768px) {
                        font-size: 14px !important;
                    }

                }

                .subtitle {
                    font-size: 0.8rem;
                    color: #FF8740;

                    @media(max-width:768px) {
                        font-size: 14px !important;
                    }
                }
            }

            .details {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media(max-width:768px) {
                    flex-direction: column;
                    align-items: flex-start !important;
                }

                .expiry {

                    font-size: 0.8rem;
                    font-weight: 700;
                    color: #989794;

                    @media(max-width:768px) {
                        font-size: 14px !important;
                    }
                }


                .priceBtn {
                    display: flex;
                    align-items: center;
                    color: #3A2C19;

                    @media(max-width:768px) {
                        width: 100% !important;
                    }

                    .align-left {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex: 1; // 💡 關鍵，讓左邊區塊撐開，按鈕會自動靠右

                        @media(max-width:768px) {
                            justify-content: flex-end !important;
                            margin-right: 8px;
                        }


                        .unit {
                            font-size: 0.8rem;
                            color: #989794;
                            padding-right: 15px;
                            white-space: nowrap;

                            @media(max-width:768px) {
                                padding-right: 8px !important;
                            }
                        }

                        .currency {
                            font-size: 0.8rem;
                            padding-right: 5px;

                            @media(max-width:768px) {
                                padding-right: 0 !important;
                            }
                        }

                        .price {
                            font-size: 1.8rem;
                            padding-right: 30px;

                            @media(max-width:768px) {
                                padding-right: 0 !important;
                            }
                        }
                    }

                    .select-btn {
                        width: 90px;
                        height: 40px;
                        padding: 8px 24px;
                        justify-content: center;
                        align-items: center;
                        background-color: #FEFCF7;
                        border: 1px solid #FF8740;
                        border-radius: 999px;
                        font-size: 1rem;
                        font-weight: 700;
                        color: #FF8740;

                        &:hover {
                            display: inline-flex;
                            height: 40px;
                            padding: 8px 24px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 999px;
                            border: 4px solid var(--primary, #FF8740);
                            outline: none;
                        }

                    }
                }

            }
        }

    }

    /* 按鈕區 */
    .button {
        display: flex;
        justify-content: flex-end;

    }

}

.plan-list {
    padding-left: 0 !important;
    margin-left: 0 !important;
    list-style: none;
    width: 540px; // 或你想要的寬度

    @media(max-width:768px) {
        width: 313px !important;
    }
}

.plan-list li,
.plan-list .first-experience {
    margin-left: 0 !important;
    padding-left: 0 !important;
    box-sizing: border-box;
}

.plan-list .first-experience {
    span {
        margin-right: 5px;
    }
}

.selected-btn {
    display: flex;
    width: 90px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: var(--primary, #FF8740);

    &:hover,
    &:focus,
    &:focus-visible {
        border: none;
        outline: none;
    }

}