.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.chat-popup {
  position: relative;
  display: flex;
  width: 600px;
  height: 504px;
  padding: 36px 24px;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(67, 61, 61, 0.7);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.25) inset, 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  z-index: 1000;
}
.chat-popup hr {
  width: 100%;
}
.chat-popup .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.chat-popup .chat-header h2 {
  color: #ff8740;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.chat-popup .chat-header span {
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.chat-popup .chat-header .teacher-info {
  width: 270px;
}
.chat-popup .chat-header .teacher-info span {
  color: #fff;
}
.chat-popup .chat-header .close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #fefcf7;
  position: absolute;
  right: 12px;
  top: 10px;
  opacity: 0.8;
  padding: 0;
}
.chat-popup .avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  overflow: crop;
}
.chat-popup .messages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 552px;
}
.chat-popup .messages .bubble {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.4px;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.chat-popup .messages .messageUser {
  display: flex;
  flex-direction: row-reverse;
}
.chat-popup .messages .messageUser .bubble {
  color: #3a2c19;
  border-radius: 100px;
  border: 1px solid #3a2c19;
  background: #fefcf7;
}
.chat-popup .messages .messageCoach {
  display: flex;
}
.chat-popup .messages .messageCoach .bubble {
  color: #fefcf7;
  border-radius: 100px;
  border: 1px solid #fefcf7;
  background: #3a2c19;
}
.chat-popup .chat-input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.chat-popup .chat-input-area input {
  width: 453px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 100px;
  border: none;
}
.chat-popup .popup-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.chat-popup .popup-subtitle.booking-select {
  display: flex;
}
.chat-popup .popup-subtitle.problem-select {
  display: flex;
  flex-direction: column;
}
.chat-popup .popup-subtitle label {
  color: #fefcf7;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.chat-popup .popup-subtitle .problemBody {
  display: flex;
  padding: 0px 36px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.chat-popup .popup-subtitle .problemBody #classification1,
.chat-popup .popup-subtitle .problemBody #classification2 {
  border-radius: 20px;
  border: #3a2c19;
  background: #fefcf7;
  width: 200px;
  height: 40px;
  color: #989794;
  padding: 8px 20px;
  align-items: center;
}
.chat-popup .popup-subtitle .describe {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.chat-popup .popup-subtitle .describe textarea {
  height: 150px;
  align-self: stretch;
  border-radius: 12px;
  background: #fefcf7;
}
.chat-popup .popup-subtitle .popup-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.chat-popup .popup-subtitle .popup-submit .notice {
  color: #fefcf7;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.4px;
}
.chat-popup .popup-submit-btn {
  display: flex;
  padding: 4px 48px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #ff8740;
  width: 130px;
  height: 28px;
  text-align: center;
  color: #fefcf7;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border: none;
}

.problem-popup {
  gap: 12px;
}