/* @charset "UTF-8";
*/

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 重置字體，有空格字體或是中文字體要用引號 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", "Sans TC", sans-serif;
    ;
    font-size: 100%;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;

}

/* 重置連接 */
a {
    /* a預設是行內元素不知原設定尺寸，所以先改為display block */
    display: block;
    color: #444;
    text-decoration: none;
}

#footer {

    width: 100%;
    position: relative;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 300px; */
    flex-shrink: 0;
    /* border: 1px solid red; */
    padding: 0;
}

.footerwrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    min-height: 600px;
    background-image: url('/images/Footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;



}



.footer-overlaytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 添加間距 */
    align-items: center;
    /* height: 100%; */
}


.footer-columntext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    /* height: 50%; */
    position: absolute;
    top: 50%;
    left: 25%;

}

.explore,
.Joinus,
.aboutus,
.law {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.footer-overlaytext h4 {
    color: var(--white, var(--white, #FEFCF7));
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    /* line-height: 45px */
    margin-bottom: 12px;
}

.footer-overlaytext p {
    color: var(--dark, #3A2C19);
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.clickable {
    cursor: pointer;
  }


.copyright {
    position: absolute;
    bottom: 5%;
    color: #FFFCFA;

    font-family: "Nyght Serif";
    font-size: var(--fontsize-H3, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 222.222% */
    letter-spacing: 0.36px;
}

.Back-to-top-button {
    width: 150px;
    height: 140px;
    position: relative;
    left: 80%;
    top: 15rem;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;

    @media (max-width: 1024px) {
        left: 80% !important;

    }


    &:hover {
        border: none;
    }



    p {
        color: var(--primary, var(--primary, #FF8740));
        /* 段落/16 */
        font-family: "Noto Sans TC", "Sans TC", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 24px */
        letter-spacing: 1.6px;
        margin: 0 auto;



        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 40px;
            height: 2px;
            background-color: #FF8740;
            pointer-events: none;

        }

        &::before {
            right: 60%;
            top: 15px;
            transform: rotate(45deg);
        }

        &::after {
            right: 15%;
            top: 15px;
            transform: rotate(135deg);
        }
    }

}

.Back-to-top-button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}



@media (min-width: 769px) and (max-width: 1024px) {
    #footer-m .footerwrapper {
        background-image: url('/images/Footer769-1024.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        height: 200px !important;
        min-height: 0 !important;
        /* 清除 min-height 限制 */
        max-height: 200px !important;
        /* 可加強限制 */
    }


    #footer-m .footer-overlaytext {
        display: flex;
        flex-direction: column;
        /* 外層保持 column */
        justify-content: center;
        align-items: center;
    }

    #footer-m .footer-columntext {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* 空間均分 */
        align-items: center;
        gap: 50px;

        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        /* 居中 */
        width: 80%;

    }

    #footer-m .slogan-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
         position: absolute;
        left: 50%;
        transform: translateX(-50%);

        p {
            color: #FFF;
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 1.2px;
            white-space: nowrap;
        }

        button {
            display: flex;
            padding: 8px 10px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 0.5px solid var(--primary, #FF8740);
            background: #FFF;
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 1.2px;
            white-space: nowrap;
            cursor: pointer;
        }
    }

    #footer-m .footer-contact {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .footer-contact-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
        }

        p {
            color: var(--white, var(--white, #FEFCF7));
            font-family: "Noto Sans TC", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 1.2px;
            transform: rotate(90deg);
            margin-top: 0px;
        }
    }

    #footer-m .footer-icon {
        display: flex;
        flex-direction: column;
        gap: 8px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    #footer-m .copyright {
        color: var(--white, var(--white, #FEFCF7));
        /* 段落(小尺寸)/12 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 16.8px */
        letter-spacing: 1.2px;
    }


}

@media (max-width: 768px) {



    #footer-s {
        flex-shrink: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 0;
        margin: 0;
    }

    #footer-s .footerwrapper {
        background-image: url('/images/Footer393-768.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 183px;
        min-height: 183px;
        max-height: 183px;
        position: relative;
    }

    #footer-s .footer-overlaytext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #footer-s .footer-columntext {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 360px;
        box-sizing: border-box;
        padding: 0 16px;
    }
    
    #footer-s .slogan-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
         position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
    }

    #footer-s .slogan-login p {
        color: #FFF;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 1.2px;
        white-space: nowrap;
    }

    #footer-s .slogan-login button {
        display: flex;
        padding: 8px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 0.5px solid var(--primary, #FF8740);
        background: #FFF;
        color: var(--primary, var(--primary, #FF8740));
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.2px;
        white-space: nowrap;
    }

    #footer-s .footer-contact {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #footer-s .footer-contact .footer-contact-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }

    #footer-s .footer-contact p {
        color: var(--white, var(--white, #FEFCF7));
        font-family: "Noto Sans TC", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.2px;
        transform: rotate(90deg);
        margin-top: 0px;
    }

    #footer-s .footer-icon {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
    }

    #footer-s .footer-icon img {
        width: 20px;
        height: 20px;
    }

    #footer-s .copyright {
        color: var(--white, var(--white, #FEFCF7));
        font-family: "Noto Sans TC", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.2px;
        padding: 0 16px;
    }
}