@use "../../reset.scss";

.HeroSection {
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    z-index: 0;
    top: -100px;
    left: 0;

    .video-wrapper {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 99%);




        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            z-index: 0;


            @media (max-width: 393px) {
                width: 30%;
                margin: 0 auto;
            }

            @media (max-width: 1024px) {
                width: 50%;
                margin: 0 auto;
            }

            @media (max-width: 1360px) {
                width: 95%;
                margin: 0 auto;
            }

            @media (min-width: 1920px) {
                width: 100%;
            }


        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3); // 你想要的遮罩顏色與透明度
            z-index: 1;
            pointer-events: none;
        }


    }

    .Hero-Section-Title {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 15%;
        top: 8%;
        z-index: 2;
        height: 100vh;

        @media (max-width: 393px) {
            width: 30%;
            margin: 0 auto;
        }

        @media (max-width: 1024px) {
            width: 50%;
            margin: 0 auto;
        }

        @media (max-width: 1360px) {
            width: 95%;
            margin: 0 auto;
        }

        @media (min-width: 1920px) {
            width: 100%;
        }


        .Hero-Section-Catchphrase {
            padding: 2%;

            h2 {
                color: #FEFCF7;
                font-family: "Dela Gothic One";
                font-size: 180px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 180px */
            }

            .h3-HeroTitle {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: baseline;

                h3.S-HeroTitle {
                    color: #EB7223;
                    font-family: "Dela Gothic One";
                    font-size: 220px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    text-transform: capitalize;
                }

                h3.tronger-HeroTitle {
                    color: #EB7223;
                    font-family: "Dela Gothic One";
                    font-size: 180px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    text-transform: capitalize;
                }
            }


        }

        .Hero-Section-content {

            display: inline-block;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: 50%;
            // padding: 2%;

            p {
                color: #FFF;

                font-family: "Noto Sans TC";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 36px */
                letter-spacing: 2.4px;

            }


        }



    }

    .Hero-section-scroll {
        position: relative;
        left: 35%;
        top: 60%;

        p {
            color: var(--white, var(--white, #FEFCF7));
            text-align: center;
            /* 段落/14 */
            font-family: "Noto Sans TC";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;

        }

        .Hero-section-scroll-p,.HeoSectionArrow {
            animation: bounce 1.5s infinite;
            transition: transform 0.5s ease;
        }



        // &:hover {

        //     .HeoSectionArrow {
        //         transform: translateY(5px); // 向下微移
        //         transform: scale(1.4);
        //     }
        // }

        @keyframes bounce {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(10px);
            }


        }
    }



}