@use "../../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.HeroSection {
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
  z-index: 0;
  // top: -100px;
  left: 0;

  .video-wrapper {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 99%);




    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      z-index: 0;


      @media (max-width: 393px) {
        width: 30%;
        margin: 0 auto;
      }

      @media (max-width: 1024px) {
        width: 0%;
        margin: 0 auto;
      }

      @media (max-width: 1360px) {
        width: 95%;
        margin: 0 auto;
      }

      @media (min-width: 1920px) {
        width: 100%;
      }


    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); // 你想要的遮罩顏色與透明度
      z-index: 1;
      pointer-events: none;
    }


  }

  .Hero-Section-Title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    top: 8%;
    z-index: 2;
    height: 100vh;

    @media (max-width: 393px) {
      width: 30%;
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      width: 50%;
      margin: 0 auto;

    }

    @media (max-width: 1360px) {
      width: 95%;
      margin: 0 auto;
    }

    @media (min-width: 1920px) {
      width: 100%;
    }


    .Hero-Section-Catchphrase {


      h2 {
        color: #FEFCF7;
        font-family: "Dela Gothic One";
        font-size: 180px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 180px */
      }

      .h3-HeroTitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;

        h3.S-HeroTitle {
          color: #EB7223;
          font-family: "Dela Gothic One";
          font-size: 220px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          text-transform: capitalize;
        }

        h3.tronger-HeroTitle {
          color: #EB7223;
          font-family: "Dela Gothic One";
          font-size: 180px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;

        }
      }


    }

    .Hero-Section-content {

      display: inline-block;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      padding: 1%;

      p {
        color: #FFF;

        font-family: "Noto Sans TC";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 36px */
        letter-spacing: 2.4px;

      }


    }



  }

  .Hero-section-scroll {

    // position: relative;
    // flex-direction: column;
    // align-self: center;

    // // // left: 35%;
    // // top: -10%;
    // border: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    @media screen and (min-width: 1359px) and (max-width: 1361px) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -20%);
    }

    p {
      color: var(--white, #FEFCF7);
      text-align: center;
      font-family: "Alata";
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1.4px;
    }

    .HeoSectionArrow {
      animation: arrowMove 1.6s infinite ease-in-out;
      // 整段動畫時間1.6s
    }

    .Hero-section-scroll-p {
      animation: textMove 1.6s infinite ease-in-out;
    }

    /* 箭頭動畫 */
    @keyframes arrowMove {
      0% {
        transform: translateY(0);
      }

      15.625% {
        /* 0.25s */
        transform: translateY(10px);
        // (0.25 / 1.6) × 100 = 15.625%
      }

      50% {
        /* 到 0.8s 前都保持在下方 */
        transform: translateY(10px);
      }

      100% {
        /* 回到原位 0.8s */
        transform: translateY(0);
      }
    }

    /* scroll 字動畫 */
    @keyframes textMove {

      0%,
      18.75% {
        /* delay 0.3s */
        transform: translateY(0);
      }

      34.375% {
        /* 0.55s, 完成下移 */
        transform: translateY(10px);
      }

      50% {
        /* 保持在下方直到回復開始 */
        transform: translateY(10px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }







}


