@charset "UTF-8";
* {
  box-sizing: border-box; /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #FEFCF7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block; /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
#root {
  width: 100%;
}
#root .Allarticle-header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 100px;
}
#root .Allarticle-header .headertitle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
#root .Allarticle-header .headertitle h3 {
  color: var(--primary, var(--primary, #FF8740));
  font-family: "Mantou Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 72px */
  letter-spacing: 9.6px;
}
#root .Allarticle-header .headertitle h4 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark, #3A2C19);
  font-family: "Mantou Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 208.333% */
  letter-spacing: 2.4px;
  color: white;
  margin-top: 25px;
}
#root .Allarticle-header .headerline {
  margin-left: 0px;
  width: 100%;
}

.Search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 60px;
}
.Search .Coach-Button {
  height: 40px;
  min-width: 144px;
  padding: 12px 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background: #FF8740;
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: var(--fontsize-H3, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}
.Search .Nutriton-Button {
  display: flex;
  height: 40px;
  min-width: 144px;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  border: 1px solid #FF8740;
  opacity: 0.8;
  background: #FFF;
  color: #FF8740;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: var(--fontsize-H3, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}
.Search .Search-Button {
  display: flex;
  height: 40px;
  min-width: 479px;
  padding: 8px 20px;
  align-items: center;
  border-radius: 20px;
  border: 0.5px solid var(--dark, #3A2C19);
  background: var(--white, #FEFCF7);
}
.Search .Search-Button::placeholder {
  color: var(--gray, #989794);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Search .Search-Button::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("/images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.Search .ClickSearch-Button {
  display: flex;
  height: 40px;
  min-width: 236px;
  padding: 8px 84px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}

.Allarticle-content {
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: flex-start;
  align-items: first baseline;
}
.Allarticle-content .cat-tag {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.Allarticle-content .cat-tag .cat-tag-title p {
  margin-bottom: 15px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 14px;
}
.Allarticle-content .cat-tag .Cat-name {
  margin-top: 75px;
}
.Allarticle-content .cat-tag .Cat-name p {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
.Allarticle-content .cat-tag .Cat-name p:hover {
  color: var(--primary, var(--primary, #FF8740));
  cursor: pointer;
}
.Allarticle-content .cat-tag .Cat-name h4 {
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題4/medium */
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
.Allarticle-content .cat-tag .Tag {
  margin-top: 170px;
}
.Allarticle-content .cat-tag .Tag .TagName {
  gap: 15px;
  margin-bottom: 30px;
}
.Allarticle-content .cat-tag .Tag .TagName h4 {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
}
.Allarticle-content .cat-tag .Tag p {
  display: flex;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: right;
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Allarticle-content .Allarticle-cards .Allarticle-cards-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 600px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 6px;
}
.Allarticle-content .Allarticle-cards .Allarticle-cards-title p {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Allarticle-content .Allarticle-cards .Allarticle-cards-title h4 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: right;
  font-family: "Mantou Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.Allarticle-content .Allarticle-cards .Allarticle-Card {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 三欄 */
  gap: 10px;
  /* 卡片間距 */
}
.Allarticle-content .Allarticle-cards .Allarticle-Card #card2 > tag {
  position: relative;
  bottom: -15px;
}

.pagination {
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.pagination button {
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.pagination .page-button5 {
  width: 35px;
  height: 35px;
  background-color: var(--primary, #FF8740);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}