@charset "UTF-8";
* {
  box-sizing: border-box; /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #FEFCF7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block; /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

.centerTitleHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.centerTitleHead .centerHead {
  display: flex;
  align-items: flex-end;
}
.centerTitleHead .centerHead h2 {
  font-family: "Mantou Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 9.6px;
  color: #ff8740;
}
.centerTitleHead .centerHead h3 {
  font-family: "Mantou Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2.4px;
}
.centerTitleHead nav .breadcrumb {
  display: flex;
}

.centerHead {
  display: flex;
  align-items: flex-end;
}
.centerHead h2 {
  font-family: "Mantou Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 9.6px;
  color: #ff8740;
}
.centerHead h3 {
  font-family: "Mantou Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2.4px;
}

#centerMapMain {
  padding: 120px 50px;
  width: 100vw;
}

.mapSearchAll {
  display: flex;
  gap: 8px;
}
.mapSearchAll .mapSearchLeft {
  display: flex;
  width: 20%;
  justify-content: center;
}
.mapSearchAll .mapSearchLeft #center-search-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.mapSearchAll .mapSearchLeft #center-search-form #centername,
.mapSearchAll .mapSearchLeft #center-search-form #city,
.mapSearchAll .mapSearchLeft #center-search-form #area {
  font-family: Alata;
  padding: 12px 16px;
  border-radius: 20px;
  border: 0.5px solid #3A2C19;
  background: #FEFCF7;
  width: 100%;
}
.mapSearchAll .mapSearchLeft #center-search-form .nameCityArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.mapSearchAll .mapSearchLeft #center-search-form .nameCityArea input {
  width: 100%;
}
.mapSearchAll .mapSearchLeft #center-search-form .centerTitleItem {
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow: auto;
  height: 350px;
}
.mapSearchAll .mapSearchLeft #center-search-form .centerTitleItem .centerItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 24px;
}
.mapSearchAll .mapSearchLeft #center-search-form .centerTitleItem .centerItem legend {
  font-family: Alata;
  font-size: 14px;
}
.mapSearchAll .mapSearchLeft #center-search-form .centerTitleItem .centerItem .checkboxItem {
  display: flex;
  gap: 14px;
}
.mapSearchAll .mapSearchLeft #center-search-form .centermapSearch {
  border-radius: 999px;
  background: #FF8740;
  color: #FEFCF7;
  max-width: 350px;
  padding: 8px 84px;
}
.mapSearchAll .centerResultPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  gap: 12px;
  overflow: auto;
  height: 670px;
}
.mapSearchAll .centerResultPhoto .photosNumber {
  font-family: "Noto Sans TC";
  color: #3A2C19;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.4px;
}
.mapSearchAll .centerResultPhoto .gymCard {
  position: relative;
}
.mapSearchAll .centerResultPhoto .gymCard .centerPic {
  width: 287px;
  height: 162px;
  overflow: crop;
}
.mapSearchAll .centerResultPhoto .gymCard .gymCardText {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  color: white;
}
.mapSearchAll .centerResultPhoto .gymCard .gymCardText h3 {
  font-size: 14px;
}
.mapSearchAll .centerResultPhoto .gymCard .gymCardText p {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
}
.mapSearchAll .centerMapPhoto {
  border-radius: 16px;
  height: 650px;
  padding-left: 10%;
}