@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

button:focus {
  outline: none;
  box-shadow: none;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
/* 中間的選單列 */
.centerSection {
  width: 100%;
  padding: 20px;
}
@media (max-width: 1024px) {
  .centerSection {
    padding: 0px 20px;
  }
}

.centerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerMenuBt {
  display: flex;
  padding: 12px 80px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
}
@media (max-width: 1024px) {
  .centerMenuBt {
    padding: 8px;
    gap: 0px;
    max-width: 640px;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
  }
}
.centerMenuBt .centerActive {
  color: #ff8740;
  background-color: #fff;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 1.4px;
  outline: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 10%;
  text-underline-offset: 25%;
}
@media (max-width: 1024px) {
  .centerMenuBt .centerActive {
    font-size: 16px;
    flex: 1;
    border-radius: 99px;
    background: var(--primary, #ff8740);
    color: #fefcf7;
    text-decoration: none;
    padding: 8px 0px;
  }
}
.centerMenuBt .centerNoActive {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.4px;
  outline: none;
}
@media (max-width: 1024px) {
  .centerMenuBt .centerNoActive {
    font-size: 16px;
    flex: 1;
    padding: 8px 0px;
  }
}

.venueExterior {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  gap: 24px;
}
@media (max-width: 1024px) {
  .venueExterior {
    gap: 16px;
    max-width: 640px;
  }
}
.venueExterior .centerPhotosBox {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  gap: 16px;
  overflow: hidden;
}
.venueExterior .centerPhotosBox button {
  flex-shrink: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media (max-width: 1024px) {
  .venueExterior .centerPhotosBox button {
    display: none;
  }
}
.venueExterior .centerPhotosBox button img {
  width: 48px;
  height: auto;
}
.venueExterior .centerPhotosBox .centerPhotos {
  display: flex;
  gap: 11px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
@media (max-width: 1024px) {
  .venueExterior .centerPhotosBox .centerPhotos {
    gap: 8px;
  }
}
.venueExterior .centerPhotosBox .centerPhotos img {
  flex: 1 1 0;
  max-width: calc((100% - 22px) / 3);
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 3/2;
}
@media (max-width: 1024px) {
  .venueExterior .centerPhotosBox .centerPhotos img {
    width: 200px;
    height: 160px;
  }
}
.venueExterior .center-introduce {
  display: flex;
  padding: 0px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
@media (max-width: 1024px) {
  .venueExterior .center-introduce {
    padding: 0px;
    width: 100%;
  }
}
.venueExterior .center-introduce .center-sTitle {
  width: 250px;
  position: relative;
  color: #3a2c19;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.6px;
}
.venueExterior .center-introduce .center-sTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #ff8740;
}
.venueExterior .center-introduce .center-introduceBox {
  display: flex;
  gap: 12px;
  padding: 10px 48px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 1024px) {
  .venueExterior .center-introduce .center-introduceBox {
    padding: 0px 20px;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
}
.venueExterior .center-introduce .center-introduceBox span {
  color: #000;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.6px;
}
@media (max-width: 1024px) {
  .venueExterior .center-introduce .center-introduceBox span {
    letter-spacing: 1.4px;
  }
}
.venueExterior .center-introduce .center-introduceBox .orandge-dot {
  color: #ff8740;
}

/* 一、場館資料 */
#centerInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
  /* 基本資料 */
  /* 場景外觀 */
  /* 入場費用+聯絡方式 */
}
@media (max-width: 1024px) {
  #centerInformation {
    gap: 36px;
  }
}
#centerInformation .contactInfoBox {
  display: flex;
  padding: 0px 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
@media (max-width: 1024px) {
  #centerInformation .contactInfoBox {
    padding: 0px;
    gap: 16px;
  }
}
#centerInformation .contactInfoBox .contactInfo1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: stretch;
}
#centerInformation .contactInfoBox .contactInfo1 .contactInfo2 {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  color: #989794;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.6px;
}
@media (max-width: 1024px) {
  #centerInformation .contactInfoBox .contactInfo1 .contactInfo2 {
    font-size: 12px;
  }
}
#centerInformation .contactInfoBox .contactInfo1 .contactInfo3 {
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
@media (max-width: 1024px) {
  #centerInformation .contactInfoBox .contactInfo1 .contactInfo3 {
    padding: 0px 20px;
  }
}
#centerInformation .contactInfoBox .contactInfo1 .contactInfo3 .contactInfo4 {
  color: #3a2c19;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.4px;
}
@media (max-width: 1024px) {
  #centerInformation .contactInfoBox .contactInfo1 .contactInfo3 .contactInfo4 {
    font-size: 14px;
    line-height: 140%;
  }
}
#centerInformation .contactInfoBox .contactInfo1 .social-icons {
  display: flex;
  padding: 0px 36px;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  margin-top: 16px;
}
#centerInformation .basicVenueInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
}
@media (max-width: 1024px) {
  #centerInformation .basicVenueInfo {
    max-width: 640px;
    gap: 16px;
  }
}
#centerInformation .basicVenueInfo .informationSection {
  display: flex;
  width: 100%;
}
@media (max-width: 1024px) {
  #centerInformation .basicVenueInfo .informationSection {
    flex-direction: column;
    gap: 16px;
  }
}
#centerInformation .basicVenueInfo .informationSection .informationLeft {
  padding: 0px 36px;
  flex: 1;
  display: flex;
  gap: 12px;
}
@media (max-width: 1024px) {
  #centerInformation .basicVenueInfo .informationSection .informationLeft {
    padding: 0px;
  }
}
#centerInformation .basicVenueInfo .informationRight {
  width: 100%;
  height: 382px;
  padding: 0px 36px;
  flex: 1;
}
@media (max-width: 1024px) {
  #centerInformation .basicVenueInfo .informationRight {
    padding: 0px;
    width: 100%;
    max-width: 400px;
  }
}
#centerInformation .basicVenueInfo .informationRight img {
  border-radius: 16px;
  width: 390px;
  height: 382px;
}
@media (max-width: 1024px) {
  #centerInformation .basicVenueInfo .informationRight img {
    height: 235px;
  }
}
#centerInformation .costContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
@media (max-width: 1024px) {
  #centerInformation .costContact {
    flex-direction: column;
    max-width: 640px;
  }
}
#centerInformation .costContact .contactInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1024px) {
  #centerInformation .costContact .contactInfo {
    gap: 16px;
    width: 100%;
    padding: 10px 0px;
  }
}

/* 二、環境設施 */
#facilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
  /* 有氧器材 */
  /* 重訓器材 */
  /* 更衣淋浴 */
}
@media (max-width: 1024px) {
  #facilities {
    gap: 36px;
  }
}
#facilities .weightTrainingArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#facilities .weightTrainingArea .weightTrainingAreaPhotos {
  display: flex;
  width: 300px;
  height: 200px;
}
#facilities .showerArea {
  display: flex;
  flex-direction: column;
}
#facilities .showerArea .showerAreaPhotos {
  display: flex;
  width: 300px;
  height: 200px;
}

/* 教練卡 */
#fitnessTrainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 64px;
  width: 100%;
}
#fitnessTrainer .trainersCards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
}
#fitnessTrainer .trainersCards .threeCards {
  display: flex;
  gap: 32px;
  margin: 0 auto;
}