@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

#coachMain {
  padding: 120px 50px;
  /* 上下內距 */
  margin: 0 auto;
  /* 左右外距自動，實現置中 */
  width: 100%;
}
#coachMain .allCoachCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

#personal-search-form {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
#personal-search-form #area,
#personal-search-form #trainingNeeds,
#personal-search-form #sex {
  display: flex;
  width: 100%;
  height: 40px;
  max-width: 180px;
  padding: 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  cursor: pointer;
  outline: none;
}
#personal-search-form option {
  color: #3a2c19;
}
#personal-search-form #keyword-search {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 656px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 999px;
  border: 0.5px solid #989794;
  background-image: url("../../public/images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  transition: border 0.2s ease;
  cursor: pointer;
}
#personal-search-form #keyword-search::placeholder {
  color: #aaa;
  transition: opacity 0.2s ease;
}
#personal-search-form #keyword-search:focus {
  outline: none;
  border: 2px solid #ff8740;
}
#personal-search-form #keyword-search:focus::placeholder {
  opacity: 0;
}
#personal-search-form .submit {
  width: 170px;
  height: 40px;
  background: #ff8740;
  color: #fff;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  gap: 10px;
}

.coachNineCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.all-coach {
  color: #ff8740;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 80px;
  font-weight: 400;
  display: flex;
}

.favoriteBt {
  display: flex;
  justify-content: space-between;
  padding: 6px 24px;
  align-items: center;
  gap: 10px;
}
.favoriteBt .favoriteBt1 {
  display: flex;
  gap: 24px;
}
.favoriteBt .favoriteActive {
  outline: none;
  border-radius: 999px;
  border: 1px solid #ff8740;
  background: #ff8740;
  color: #3a2c19;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}
.favoriteBt .favoriteNoActive {
  color: #3a2c19;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  border-radius: 999px;
  border: 1px solid #ff8740;
  background: #fefcf7;
}
.favoriteBt .favorite-count {
  color: #3a2c19;
  font-family: "Dela Gothic One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  gap: 10px;
  display: flex;
}
.favoriteBt .favorite-count .c-count {
  color: #ff8740;
}
.favoriteBt .favorite-count .n-count {
  color: #56bd49;
}