.intro {
  width: 100%;
  margin-top: 50px;
}
.intro .joinustitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 0px;
}
.intro .joinustitle .titlecontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.intro .joinustitle .titlecontent h3 {
  margin-left: 50px;
  padding-right: 20px;
  font-family: "Mantou Sans";
  color: #FF8740;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 9.6px;
}
.intro .joinustitle .titlecontent h4 {
  font-family: "Mantou Sans";
  color: white;
  -webkit-text-stroke: 1.5px #3A2C19;
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 5px;
  letter-spacing: 2.4px;
}
.intro .joinustitle button {
  color: #3A2C19;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.4px;
  background-color: transparent;
  border: none;
}
.intro .joinusline {
  border: none;
  height: 1px;
  background-color: #3A2C19;
  margin: 40px 0;
}
.intro .backbutton {
  display: flex;
  flex-direction: row;
  width: 100%;
}