@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

button:focus {
  outline: none;
  box-shadow: none;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
#coachMain {
  padding: 120px 50px;
  margin: 0 auto;
  /* 左右外距自動，實現置中 */
  width: 100%;
}
@media (max-width: 1024px) {
  #coachMain {
    padding: 0px;
    padding-bottom: 50px;
  }
}
#coachMain .allCoachCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 25px;
  margin-top: 59px;
}
@media (max-width: 1024px) {
  #coachMain .allCoachCards {
    margin-top: 0px;
  }
}

.filterSection {
  width: 100%;
}
@media (max-width: 1024px) {
  .filterSection {
    width: 100%;
  }
}

.fiflterPhone {
  display: flex;
  justify-content: flex-end;
}
.fiflterPhone .fiflterBt {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 12px;
  border-radius: 99px;
  border: 1px solid #FF8740;
  background: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 1.4px;
  color: #FF8740;
}
.fiflterPhone .fiflterBt img {
  width: 24px;
}

.searchCoachBox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
@media (max-width: 1024px) {
  .searchCoachBox {
    gap: 24px;
  }
}
.searchCoachBox.mobileSearch {
  flex-direction: column;
  margin-top: 1rem;
  position: absolute;
  border-radius: 12px;
  border: 0.5px solid #989794;
  background: #FFF;
  width: 353px;
  height: 404px;
  z-index: 100;
}
@media (max-width: 1024px) {
  .searchCoachBox.mobileSearch {
    padding: 50px 16.5px;
    margin-top: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.searchCoachBox .closeFliter {
  position: absolute;
  background: transparent;
  top: 12px;
  right: 12px;
}
.searchCoachBox.desktopSearch {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.searchCoachBox #area,
.searchCoachBox #trainingNeeds,
.searchCoachBox #sex {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  cursor: pointer;
  outline: none;
  flex: 1;
  max-width: 225px;
}
.searchCoachBox option {
  color: #3a2c19;
}
.searchCoachBox #keyword-search {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 40px;
  padding: 8px 20px;
  border-radius: 999px;
  border: 0.5px solid #989794;
  background-image: url("../../public/images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  transition: border 0.2s ease;
  cursor: pointer;
  max-width: 517px;
  background-color: #fefcf7;
}
@media (max-width: 1024px) {
  .searchCoachBox #keyword-search {
    flex-grow: 0;
    width: 320px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #989794;
  }
}
.searchCoachBox #keyword-search::placeholder {
  color: #aaa;
  transition: opacity 0.2s ease;
}
.searchCoachBox #keyword-search:focus {
  outline: none;
  border: 2px solid #ff8740;
}
.searchCoachBox #keyword-search:focus::placeholder {
  opacity: 0;
}
.searchCoachBox .submit {
  width: 170px;
  height: 40px;
  background: #ff8740;
  color: #fff;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  flex-shrink: 0;
  gap: 10px;
}
@media (max-width: 1024px) {
  .searchCoachBox .submit {
    width: 320px;
    border-radius: 8px;
  }
}

.coachNineCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 600px) {
  .coachNineCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.coachTitleBox {
  width: 100%;
  display: flex;
}
@media (max-width: 1024px) {
  .coachTitleBox {
    justify-content: flex-end;
  }
}
.coachTitleBox .all-coach {
  color: #ff8740;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 80px;
  font-weight: 400;
  display: flex;
  width: 100%;
}
@media (max-width: 1024px) {
  .coachTitleBox .all-coach {
    color: #3A2C19;
    font-size: 36px;
    letter-spacing: 10.8px;
    justify-content: flex-end;
  }
}

.favoriteBt {
  display: flex;
  justify-content: space-between;
  padding: 6px 24px;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .favoriteBt {
    width: 100%;
    flex-direction: column;
    padding: 6px 20px;
  }
}
.favoriteBt .favoriteBt1 {
  display: flex;
  gap: 24px;
}
@media (max-width: 1024px) {
  .favoriteBt .favoriteBt1 {
    border-radius: 999px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 8px;
    gap: 0px;
  }
}
.favoriteBt .favoriteBt1 button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 999px;
  padding: 6px 24px;
  border: 1px solid #ff8740;
}
@media (max-width: 1024px) {
  .favoriteBt .favoriteBt1 button {
    display: flex;
    justify-content: center;
    flex: 1;
    border: none;
    white-space: nowrap;
    padding: 8px 0px;
    background-color: #FFF;
  }
}
.favoriteBt .favoriteBt1 .favoriteActive {
  outline: none;
  background: #ff8740;
  color: #FFF;
}
.favoriteBt .favoriteBt1 .favoriteNoActive {
  color: #3a2c19;
}
.favoriteBt .favorite-count {
  color: #3a2c19;
  font-family: "Dela Gothic One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  gap: 10px;
  display: flex;
}
@media (max-width: 1024px) {
  .favoriteBt .favorite-count {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 8px 0px;
  }
}
.favoriteBt .favorite-count .c-count {
  color: #ff8740;
}
.favoriteBt .favorite-count .n-count {
  color: #56bd49;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  max-width: 225px;
  flex: 1;
  background-color: #fefcf7;
}
@media (max-width: 1024px) {
  .custom-dropdown {
    max-width: 320px;
    flex-grow: 0;
    border-radius: 8px;
  }
}
.custom-dropdown .dropdown-btn {
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  color: #989794;
  background-color: #fefcf7;
  border: 0.5px solid #989794;
  border-radius: 999px;
  text-align: left;
  cursor: pointer;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  background-image: url("/public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 14px;
}
@media (max-width: 1024px) {
  .custom-dropdown .dropdown-btn {
    max-width: 320px;
    flex-grow: 0;
    border-radius: 8px;
    background-color: #fff;
  }
}
.custom-dropdown .dropdown-list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.custom-dropdown .dropdown-list .dropdown-item {
  padding: 12px 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  color: #3a2c19;
  font-family: "Noto Sans TC", sans-serif;
  cursor: pointer;
}
.custom-dropdown .dropdown-list .dropdown-item:hover {
  background-color: #fff5eb;
}
.custom-dropdown .dropdown-list .dropdown-item .arrow {
  color: #aaa;
  font-size: 16px;
}
.custom-dropdown .dropdown-list .dropdown-item:last-child {
  border-bottom: none;
}