@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
.ForgetPassword {
  padding: 120px 50px;
  width: 100vw;
  margin-top: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.ForgetPassword .ForgetPassword-title {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 165px;
  top: 25px;
  margin: 0px;
  background: var(--white, #FEFCF7);
  color: var(--dark, #3A2C19);
  text-align: center;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
}
.ForgetPassword .KeyinEmail {
  display: flex;
  width: 600px;
  padding: 60px 95px 70px 95px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 0.8px solid var(--dark, #3A2C19);
}
.ForgetPassword .KeyinEmail label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.ForgetPassword .KeyinEmail input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 0.6px solid var(--dark, #3A2C19);
  background: #FFF;
}
.ForgetPassword .KeyinEmail input:focus {
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--primary, #FF8740);
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
}
.ForgetPassword .KeyinEmail button {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 999px;
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  background-color: #FFF;
  color: var(--primary, var(--primary, #FF8740));
  border: 1px solid var(--primary, #FF8740);
}
.ForgetPassword .KeyinEmail button:hover {
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
}
.ForgetPassword .KeyinEmail button img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 52%;
  top: 59%;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.ForgetPassword .KeyinEmail button:hover {
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  background: var(--white, #FEFCF7);
}
.ForgetPassword .KeyinEmail button:hover .email-text {
  transform: translateX(-10px);
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.ForgetPassword .KeyinEmail button:hover img {
  opacity: 1;
  transform: translateX(0);
}
.ForgetPassword .ForgetPassword-option {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.ForgetPassword .ForgetPassword-option button {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
  padding: 0px;
}
.ForgetPassword .ForgetPassword-option button:hover, .ForgetPassword .ForgetPassword-option button:focus, .ForgetPassword .ForgetPassword-option button:focus-visible {
  border: none;
  outline: none;
}