@charset "UTF-8";
* {
  box-sizing: border-box; /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block; /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
.JoinusStep1-header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 50px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 100px;
}
.JoinusStep1-header .JoinusStep1-headertitle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #3A2C19;
  position: relative;
}
.JoinusStep1-header .JoinusStep1-headertitle h3 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}
.JoinusStep1-header .JoinusStep1-headertitle h4 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark, #3A2C19);
  font-family: "Mantou Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 208.333% */
  letter-spacing: 2.4px;
  color: white;
}

.CoachJoinus-Step1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 700px;
  margin-left: 350px;
  margin-right: 450px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 32px;
  border: 1px solid var(--dark, #3A2C19);
  background: #FFF;
  box-shadow: 4px 4px 24px 0px rgba(58, 44, 25, 0.3);
}
.CoachJoinus-Step1 .JoinusStep1-title {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin-bottom: 40px;
  border-bottom: 1px solid #3a2c19;
}
.CoachJoinus-Step1 .JoinusStep1-title .Step1-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
}
.CoachJoinus-Step1 .JoinusStep1-title .Step1-title h3 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}
.CoachJoinus-Step1 .JoinusStep1-title .Step1-title h4 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
  /* 35px */
  letter-spacing: 1.4px;
}
.CoachJoinus-Step1 .JoinusStep1-title p {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.CoachJoinus-Step1 .Step1-form {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 12px;
}
.CoachJoinus-Step1 .Step1-form label {
  color: var(--gray, #989794);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.CoachJoinus-Step1 .Step1-form input:focus + label {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
}
.CoachJoinus-Step1 .Step1-form input {
  border-radius: 999px;
  border: 0.6px solid var(--gray, #989794);
  background: var(--white, #FEFCF7);
  height: 30px;
  position: relative;
  padding-left: 17px;
}
.CoachJoinus-Step1 .Step1-form input ::placeholder {
  color: var(--gray, #989794);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.CoachJoinus-Step1 .Step1-form input:focus {
  border: 2px solid var(--primary, #FF8740);
  background: #FFF;
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
}
.CoachJoinus-Step1 .Step1-form-button {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 30px;
}
.CoachJoinus-Step1 .Step1-form-button button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}

CoachJoinus-Step2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 700px;
  margin-left: 350px;
  margin-right: 450px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 32px;
  border: 1px solid var(--dark, #3A2C19);
  background: #FFF;
  box-shadow: 4px 4px 24px 0px rgba(58, 44, 25, 0.3);
}
CoachJoinus-Step2 .JoinusStep2-header {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin-bottom: 40px;
  border-bottom: 1px solid #3a2c19;
}
CoachJoinus-Step2 .JoinusStep2-header .Step2-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
}
CoachJoinus-Step2 .JoinusStep2-header .Step2-title h3 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}
CoachJoinus-Step2 .JoinusStep2-header .Step2-title h4 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
  /* 35px */
  letter-spacing: 1.4px;
}