@charset "UTF-8";
* {
  box-sizing: border-box; /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block; /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
.card1-card2-card3 {
  position: relative;
}
.card1-card2-card3 .CoachJoinus-Step2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 700px;
  margin-left: 350px;
  margin-right: 450px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 32px;
  border: 1px solid var(--dark, #3A2C19);
  background: #FFF;
  box-shadow: 4px 4px 24px 0px rgba(58, 44, 25, 0.3);
}
.card1-card2-card3 .CoachJoinus-Step2 .JoinusStep2-header {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 40px;
  border-bottom: 1px solid #3a2c19;
}
.card1-card2-card3 .CoachJoinus-Step2 .JoinusStep2-header .Step2-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
}
.card1-card2-card3 .CoachJoinus-Step2 .JoinusStep2-header .Step2-title h4 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .JoinusStep2-header .Step2-title h5 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
  /* 35px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .JoinusStep2-header p {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox {
  position: relative;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Specitialty-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 4px;
  width: 193px;
  border-bottom: 1px solid #3A2C19;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Specitialty-title h4 {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Specitialty-title p {
  color: var(--primary, var(--primary, #FF8740));
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Specitialty-title::after {
  width: 193px;
  height: 0.5px;
  background: #3A2C19;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Step2Checkbox-group {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Step2Checkbox-group label {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2Checkbox .Step2Checkbox-group input {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  border-radius: 3px;
  border: 1px solid var(--dark, #3A2C19);
  background: #FFF;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2-certification {
  margin-top: 30px;
  margin-bottom: 18px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2-certification .Step2-certification-header {
  display: flex;
  flex-direction: column;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2-certification .Step2-certification-header .Step2-certification-title {
  display: flex;
  flex-direction: row;
  width: 222px;
  margin-bottom: 4px;
  border-bottom: 1px solid #3A2C19;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2-certification .Step2-certification-header .Step2-certification-title h4 {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2-certification .Step2-certification-header .Step2-certification-title h5 {
  color: var(--primary, var(--primary, #FF8740));
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.card1-card2-card3 .CoachJoinus-Step2 .Step2-certification .Step2-certification-header p {
  color: var(--gray, #989794);
  font-family: "Noto Sans TC";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 14px */
  letter-spacing: 1px;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset {
  width: 441px;
  max-height: 300px;
  overflow-y: auto;
  padding: 16px;
  border-bottom: 1px solid #D0CDC9;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset legend {
  width: 441px;
  color: var(--dark, #3A2C19);
  font-family: "Noto Sans TC";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 14px */
  letter-spacing: 1px;
  border-top: 1px solid #D0CDC9;
  padding-top: 18px;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset::-webkit-scrollbar {
  width: 10px;
  height: 143px;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 99px;
  background: #D9D9D9;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset::-webkit-scrollbar-track {
  background: transparent;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset input {
  height: 30px;
  border-radius: 99px;
  border: 0.5px solid var(--dark, #3A2C19);
  background: #FFF;
  margin-right: 18px;
}
.card1-card2-card3 .CoachJoinus-Step2 .scrollFieldset button {
  margin-right: 18px;
  margin-bottom: 8px;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  color: var(--dark, #3A2C19);
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
  letter-spacing: 1.2px;
}
.card1-card2-card3 .CoachJoinus-Step2 .NextPreButton {
  display: flex;
  flex-direction: row;
  gap: 300px;
  width: 100%;
  margin-top: 40px;
}
.card1-card2-card3 .CoachJoinus-Step2 .NextPreButton Button {
  margin: 0px;
  white-space: nowrap;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}