@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

button:focus {
  outline: none;
  box-shadow: none;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
#Joinus-Form {
  margin: 0 auto;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  /* 隱藏橫向溢出 */
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 393px) and (max-width: 1024px) {
  #Joinus-Form {
    margin-bottom: 10rem;
    padding-top: 0px;
  }
}

.Joinus-introduction .BringPro {
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.Joinus-introduction .BringPro-intro {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  margin-top: 10px;
}

.Joinus-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 150px;
}
.Joinus-form .imcoach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Joinus-form .imcoach form {
  border-radius: 24px;
  background: #FFF;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 420px;
  position: relative;
}
.Joinus-form .imcoach form .coach-label-img {
  display: flex;
  flex-direction: row;
  gap: 150px;
  position: relative;
  height: 50px;
}
.Joinus-form .imcoach form .coach-label-img img {
  width: 60px;
  height: 120px;
  position: relative;
  top: -150%;
  left: 70%;
}
.Joinus-form .imcoach form .coach-label-img label {
  position: relative;
  top: -15px;
  left: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 33px;
}
.Joinus-form .imcoach form .coach-label-img label .imcoach-Iam {
  color: var(--dark, #3A2C19);
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 166.667% */
  letter-spacing: 2.4px;
  margin-right: 5px;
}
.Joinus-form .imcoach form .coach-label-img label .imcoach-coach {
  color: var(--primary, var(--primary, #FF8740));
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 3.6px;
}
.Joinus-form .imcoach form .imcoach-youcan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
  padding-left: 30px;
}
.Joinus-form .imcoach form .imcoach-youcan h4 {
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  opacity: 0.6;
}
.Joinus-form .imcoach form .imcoach-youcan .imcoach-youcan-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imcoach form p {
  margin-top: 14px;
  padding-left: 30px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Joinus-form .imcoach form .imcoach-youhaveto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
  padding-left: 30px;
}
.Joinus-form .imcoach form .imcoach-youhaveto h4 {
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  opacity: 0.6;
}
.Joinus-form .imcoach form .imcoach-youhaveto .imcoach-youhaveto-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imnutrionist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Joinus-form .imnutrionist form {
  border-radius: 24px;
  background: #FFF;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 420px;
  position: relative;
}
.Joinus-form .imnutrionist form .nutri-label-img {
  display: flex;
  flex-direction: row;
  gap: 150px;
  position: relative;
  height: 50px;
}
.Joinus-form .imnutrionist form .nutri-label-img img {
  width: 60px;
  height: 120px;
  position: relative;
  top: -150%;
  left: 30%;
}
.Joinus-form .imnutrionist form .nutri-label-img label {
  position: relative;
  top: -15px;
  left: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 33px;
}
.Joinus-form .imnutrionist form .nutri-label-img label .imnutrionist-Iam {
  color: var(--dark, #3A2C19);
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 166.667% */
  letter-spacing: 2.4px;
  margin-right: 5px;
}
.Joinus-form .imnutrionist form .nutri-label-img label .imnutrionist-nutrionist {
  color: var(--primary, var(--primary, #FF8740));
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 3.6px;
}
.Joinus-form .imnutrionist form .imnutrionist-youcan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
  padding-left: 30px;
}
.Joinus-form .imnutrionist form .imnutrionist-youcan h4 {
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  opacity: 0.6;
}
.Joinus-form .imnutrionist form .imnutrionist-youcan-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imnutrionist p {
  margin-top: 14px;
  padding-left: 30px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Joinus-form .imnutrionist .imnutrionist-youhaveto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
  padding-left: 30px;
}
.Joinus-form .imnutrionist .imnutrionist-youhaveto h4 {
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  opacity: 0.6;
}
.Joinus-form .imnutrionist .imnutrionist-youhaveto .imnutrionist-youhaveto-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imnutrionist-joinbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 320px;
  height: 50px;
  padding: 8px 84px;
  margin-top: 30px;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 1.6px;
}
.Joinus-form .imnutrionist-joinbutton img {
  width: 20px;
  height: 23px;
  position: absolute;
  right: 80px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.Joinus-form .imnutrionist-joinbutton:hover {
  transform: translateY(-4px);
  box-shadow: 4px 8px 0px 0px #3A2C19;
  border: none;
  outline: none;
}
.Joinus-form .imnutrionist-joinbutton:hover img {
  opacity: 1;
}
.Joinus-form .imnutrionist-joinbutton:hover span {
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.Joinus-form .imnutrionist-joinbutton:active {
  box-shadow: 3px 6px 0px 0px #3A2C19;
  font-size: 14px;
  border: none;
  outline: none;
  transform: translate(2px, 2px);
}
.Joinus-form .imnutrionist-joinbutton:active img {
  width: 18px;
  height: 20px;
}

@media (min-width: 801px) and (max-width: 1024px) {
  .Joinus-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* 不用 center，圖片可以靠上，靠 margin 控制 */
    margin-top: 5%;
    gap: 4rem;
  }
  .imnutrionist-Iam,
  .imcoach-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 285.714% */
    letter-spacing: 1.4px;
    white-space: nowrap;
  }
  .imcoach-coach,
  .imnutrionist-nutrionist {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    white-space: nowrap;
  }
  .imcoach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .imcoach form {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
    height: 290px !important;
    width: 330px !important;
    position: relative;
  }
  .imcoach form .coach-label-img {
    display: flex;
    flex-direction: row;
    gap: 150px;
    position: relative;
    height: 50px;
  }
  .imcoach form .coach-label-img img {
    position: absolute;
    top: 5rem !important;
    left: -2rem !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain;
    width: 150px !important;
    height: 200px !important;
  }
  .imcoach form .coach-label-img label {
    position: relative;
    top: -15px;
    left: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 33px;
  }
  .imcoach form .coach-label-img label .imcoach-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    margin-right: 5px;
  }
  .imcoach form .coach-label-img label .imcoach-coach {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3.6px;
  }
  .imcoach form .imcoach-youcan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-bottom: 5px !important;
    padding-left: 30px;
  }
  .imcoach form .imcoach-youcan h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imcoach form .imcoach-youcan .imcoach-youcan-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imcoach form p {
    margin-top: 14px;
    padding-left: 30px;
    color: var(--dark, #3A2C19);
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
  .imcoach form .imcoach-youhaveto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-top: 10px;
  }
  .imcoach form .imcoach-youhaveto h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imcoach form .imcoach-youhaveto .imcoach-youhaveto-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imcoach .join-button {
    width: 320px !important;
    height: 40px !important;
    border-radius: 8px !important;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 900 !important;
    line-height: 140%;
    /* 19.6px */
  }
  .imcoach .join-button:hover {
    transform: none;
    box-shadow: none;
  }
  .imcoach .join-button:hover img {
    opacity: 0;
  }
  .imcoach .join-button:hover span {
    transform: none;
    transition: none;
  }
  .imcoach .join-button:active {
    transform: none;
    box-shadow: none;
    font-size: 14px;
  }
  .imcoach .join-button:active img {
    width: auto;
    height: auto;
  }
  .imnutrionist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .imnutrionist form {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
    height: 290px !important;
    width: 330px !important;
    position: relative;
  }
  .imnutrionist form .nutri-label-img {
    display: flex;
    flex-direction: row;
    gap: 150px;
    position: relative;
    height: 50px;
  }
  .imnutrionist form .nutri-label-img img {
    width: 60px;
    height: 120px;
    position: relative;
    top: -150%;
    left: 70%;
  }
  .imnutrionist form .nutri-label-img label {
    position: relative;
    top: -15px;
    left: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 33px;
  }
  .imnutrionist form .nutri-label-img label .imnutrionist-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    margin-right: 5px;
  }
  .imnutrionist form .nutri-label-img label .imnutrionist-nutrionist {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3.6px;
  }
  .imnutrionist form .imnutrionist-youcan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-bottom: 5px !important;
    padding-left: 30px;
  }
  .imnutrionist form .imnutrionist-youcan h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imnutrionist form .imnutrionist-youcan .imnutrionist-youcan-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imnutrionist form p {
    margin-top: 14px;
    padding-left: 30px;
    color: var(--dark, #3A2C19);
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
  .imnutrionist form .imnutrionist-youhaveto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-top: 10px;
  }
  .imnutrionist form .imnutrionist-youhaveto h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imnutrionist form .imnutrionist-youhaveto .imnutrionist-youhaveto-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imnutrionist .nutri-label-img {
    display: flex;
    flex-direction: row;
    gap: 150px;
    position: relative;
    height: 50px;
  }
  .imnutrionist .nutri-label-img img {
    position: absolute;
    top: 6rem !important;
    left: -4rem !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain;
    width: 150px !important;
    height: 200px !important;
  }
  .imnutrionist .nutri-label-img label {
    position: relative;
    top: -15px;
    left: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 33px;
  }
  .imnutrionist .nutri-label-img label .imnutrionist-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    margin-right: 5px;
  }
  .imnutrionist .nutri-label-img label .imnutrionist-nutrionist {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3.6px;
  }
  .imnutrionist .join-button {
    width: 320px !important;
    height: 40px !important;
    border-radius: 8px !important;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 900 !important;
    line-height: 140%;
    /* 19.6px */
  }
  .imnutrionist .join-button:hover {
    transform: none;
    box-shadow: none;
  }
  .imnutrionist .join-button:hover img {
    opacity: 0;
  }
  .imnutrionist .join-button:hover span {
    transform: none;
    transition: none;
  }
  .imnutrionist .join-button:active {
    transform: none;
    box-shadow: none;
    font-size: 14px;
  }
  .imnutrionist .join-button:active img {
    width: auto;
    height: auto;
  }
}
@media (min-width: 393px) and (max-width: 800px) {
  #Joinus-Form {
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    /* 隱藏橫向溢出 */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10rem;
  }
  .Joinus-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 5rem;
  }
  .Joinus-introduction {
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 350px !important;
    margin-left: auto;
  }
  .imcoach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .imcoach form {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
    height: 280px !important;
    width: 327px !important;
    position: relative;
  }
  .imcoach form .coach-label-img {
    display: flex;
    flex-direction: row;
    gap: 150px;
    position: relative;
    height: 30px !important;
  }
  .imcoach form .coach-label-img img {
    position: absolute !important;
    top: 1.25rem !important;
    left: 18rem !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain;
    width: 10rem !important;
    height: 20rem !important;
  }
  .imcoach form .coach-label-img label {
    position: relative;
    top: -15px;
    left: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
  }
  .imcoach form .coach-label-img label .imcoach-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    margin-right: 5px;
  }
  .imcoach form .coach-label-img label .imcoach-coach {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3.6px;
  }
  .imcoach form .imcoach-youcan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding-left: 20px !important;
  }
  .imcoach form .imcoach-youcan h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imcoach form .imcoach-youcan .imcoach-youcan-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imcoach form p {
    margin-top: 14px;
    padding-left: 20px !important;
    color: var(--dark, #3A2C19);
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
  .imcoach form .imcoach-youhaveto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-top: 10px;
  }
  .imcoach form .imcoach-youhaveto h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imcoach form .imcoach-youhaveto .imcoach-youhaveto-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imcoach .join-button {
    width: 320px !important;
    height: 40px !important;
    border-radius: 8px !important;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 900 !important;
    line-height: 140%;
    /* 19.6px */
  }
  .imcoach .join-button:hover {
    transform: none;
    box-shadow: none;
  }
  .imcoach .join-button:hover img {
    opacity: 0;
  }
  .imcoach .join-button:hover span {
    transform: none;
    transition: none;
  }
  .imcoach .join-button:active {
    transform: none;
    box-shadow: none;
    font-size: 14px;
  }
  .imcoach .join-button:active img {
    width: auto;
    height: auto;
  }
  .imnutrionist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .imnutrionist form {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
    height: 280px !important;
    width: 327px !important;
    position: relative;
  }
  .imnutrionist form .nutri-label-img {
    display: flex;
    flex-direction: row;
    gap: 150px;
    position: relative;
    height: 30px !important;
  }
  .imnutrionist form .nutri-label-img img {
    position: absolute;
    top: 2rem !important;
    left: -3rem !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain;
    width: 10rem !important;
    height: 20rem !important;
  }
  .imnutrionist form .nutri-label-img label {
    position: relative;
    top: -15px;
    left: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
  }
  .imnutrionist form .nutri-label-img label .imnutrionist-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    margin-right: 5px;
  }
  .imnutrionist form .nutri-label-img label .imnutrionist-nutrionist {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3.6px;
  }
  .imnutrionist form .imnutrionist-youcan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding-left: 20px !important;
  }
  .imnutrionist form .imnutrionist-youcan h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imnutrionist form .imnutrionist-youcan .imnutrionist-youcan-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imnutrionist form p {
    margin-top: 14px;
    padding-left: 20px !important;
    color: var(--dark, #3A2C19);
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
  .imnutrionist form .imnutrionist-youhaveto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-top: 10px;
  }
  .imnutrionist form .imnutrionist-youhaveto h4 {
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
    opacity: 0.6;
  }
  .imnutrionist form .imnutrionist-youhaveto .imnutrionist-youhaveto-line {
    width: 60%;
    height: 0.6px;
    background: #3A2C19;
  }
  .imnutrionist .join-button {
    width: 320px !important;
    height: 40px !important;
    border-radius: 8px !important;
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 900 !important;
    line-height: 140%;
    /* 19.6px */
  }
  .imnutrionist .join-button:hover {
    transform: none;
    box-shadow: none;
  }
  .imnutrionist .join-button:hover img {
    opacity: 0;
  }
  .imnutrionist .join-button:hover span {
    transform: none;
    transition: none;
  }
  .imnutrionist .join-button:active {
    transform: none;
    box-shadow: none;
    font-size: 14px;
  }
  .imnutrionist .join-button:active img {
    width: auto;
    height: auto;
  }
  .imnutrionist-Iam,
  .imcoach-Iam {
    color: var(--dark, #3A2C19);
    font-family: "Dela Gothic One";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 285.714% */
    letter-spacing: 1.4px;
    white-space: nowrap;
  }
  .imcoach-coach,
  .imnutrionist-nutrionist {
    color: var(--primary, var(--primary, #FF8740));
    font-family: "Dela Gothic One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    letter-spacing: 2.4px;
    white-space: nowrap;
  }
}