@charset "UTF-8";
* {
  box-sizing: border-box; /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block; /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
.body {
  width: 90%;
}

.Joinus-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  gap: 150px;
}
.Joinus-form .imcoach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Joinus-form .imcoach form {
  border-radius: 24px;
  background: #FFF;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 420px;
  position: relative;
}
.Joinus-form .imcoach form label {
  position: relative;
  top: -15px;
  left: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
}
.Joinus-form .imcoach form label .imcoach-Iam {
  color: var(--dark, #3A2C19);
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 166.667% */
  letter-spacing: 2.4px;
}
.Joinus-form .imcoach form label .imcoach-coach {
  color: var(--primary, var(--primary, #FF8740));
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 3.6px;
}
.Joinus-form .imcoach form .imcoach-youcan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
}
.Joinus-form .imcoach form .imcoach-youcan h4 {
  margin-left: 40px;
}
.Joinus-form .imcoach form .imcoach-youcan .imcoach-youcan-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imcoach form p {
  margin-top: 12px;
  margin-left: 70px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Joinus-form .imcoach form .imcoach-youhaveto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
  margin-top: 33px;
}
.Joinus-form .imcoach form .imcoach-youhaveto h4 {
  margin-left: 40px;
}
.Joinus-form .imcoach form .imcoach-youhaveto .imcoach-youhaveto-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imcoach .imcoach-joinbutton {
  align-items: center;
  width: 320px;
  height: 50px;
  padding: 8px 84px;
  margin-top: 50px;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 1.6px;
}
.Joinus-form .imnutrionist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Joinus-form .imnutrionist form {
  border-radius: 24px;
  background: #FFF;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 420px;
  position: relative;
}
.Joinus-form .imnutrionist form label {
  position: relative;
  top: -15px;
  left: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
}
.Joinus-form .imnutrionist form label .imnutrionist-Iam {
  color: var(--dark, #3A2C19);
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 166.667% */
  letter-spacing: 2.4px;
}
.Joinus-form .imnutrionist form label .imnutrionist-nutrionist {
  color: var(--primary, var(--primary, #FF8740));
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 3.6px;
}
.Joinus-form .imnutrionist form .imnutrionist-youcan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
}
.Joinus-form .imnutrionist form .imnutrionist-youcan h4 {
  margin-left: 40px;
}
.Joinus-form .imnutrionist form .imnutrionist-youcan .imnutrionist-youcan-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imnutrionist form p {
  margin-top: 12px;
  margin-left: 70px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Joinus-form .imnutrionist form .imnutrionist-youhaveto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  margin-bottom: 11px;
  margin-top: 33px;
}
.Joinus-form .imnutrionist form .imnutrionist-youhaveto h4 {
  margin-left: 40px;
}
.Joinus-form .imnutrionist form .imnutrionist-youhaveto .imnutrionist-youhaveto-line {
  width: 60%;
  height: 0.6px;
  background: #3A2C19;
}
.Joinus-form .imnutrionist .imnutrionist-joinbutton {
  align-items: center;
  width: 320px;
  height: 50px;
  padding: 8px 84px;
  margin-top: 50px;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 1.6px;
}