#memberListAll {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 120px 50px;
  gap: 28px;
}
#memberListAll .memberList {
  display: flex;
}
#memberListAll .memberList .memberBotton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
#memberListAll .memberList .memberBotton .personalStudentList {
  display: flex;
  flex-direction: column;
  height: 240px;
  gap: 10px;
  border-radius: 20px 0px 0px 20px;
  background: #FBADAD;
  padding: 20px;
}
#memberListAll .memberList .memberBotton .personalStudentList button {
  width: 162px;
  border-radius: 20px;
  background: #FFF;
}