@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

button:focus {
  outline: none;
  box-shadow: none;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
#MemberSignup-form {
  padding: 120px 50px;
  width: 100vw;
}

.MemberSignup-wrapper {
  margin-top: 5%;
  height: 40%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 15%;
  position: relative;
  gap: 10px;
  max-width: 70%;
  border-radius: 20px;
  border: 0.8px solid var(--dark, #3A2C19);
}
.MemberSignup-wrapper .MemberSignup-form-s {
  display: none;
}
.MemberSignup-wrapper .MemberSignup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.MemberSignup-wrapper .MemberSignup-form .MemberSignup-title {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  left: 320px;
  top: -40px;
  background: var(--white, #FEFCF7);
  color: var(--dark, #3A2C19);
  text-align: center;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinName label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinName input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 0.6px solid var(--dark, #3A2C19);
  background: #FFF;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinName input:focus {
  border-radius: 999px;
  border: 2px solid var(--primary, #FF8740);
  background: #FFF;
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
  outline: none;
  border-radius: 10px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinEmail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinEmail label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinEmail input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 0.6px solid var(--dark, #3A2C19);
  background: #FFF;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinNameEmail .KeyinEmail input:focus {
  border-radius: 999px;
  border: 2px solid var(--primary, #FF8740);
  background: #FFF;
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
  outline: none;
  border-radius: 10px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinGenderTel {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinGenderTel .ChooseGender {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinGenderTel .ChooseGender .ChooseGender-label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinGenderTel .ChooseGender .ChooseGender-button {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinGenderTel .ChooseGender .ChooseGender-button button {
  border-radius: 99px;
  border: 1px solid var(--primary, #FF8740);
  background: var(--white, #FEFCF7);
  margin-right: 20px;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: var(--fontsize-H3, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  outline: none;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinGenderTel .ChooseGender .ChooseGender-button button.active {
  border: none;
  outline: none;
  border-radius: 99px;
  background: #FF8740;
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: var(--fontsize-H3, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}
.MemberSignup-wrapper .MemberSignup-form .KeyinTel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-left: 0px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinTel label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinTel input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 0.6px solid var(--dark, #3A2C19);
  background: #FFF;
}
.MemberSignup-wrapper .MemberSignup-form .KeyinTel input:focus {
  border-radius: 999px;
  border: 2px solid var(--primary, #FF8740);
  background: #FFF;
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
  outline: none;
  border-radius: 10px;
}
.MemberSignup-wrapper .KeyinBirthday {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.MemberSignup-wrapper .KeyinBirthday label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.MemberSignup-wrapper .KeyinBirthday input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 0.6px solid var(--dark, #3A2C19);
  background: #FFF;
}
.MemberSignup-wrapper .KeyinBirthday input:focus {
  border-radius: 999px;
  border: 2px solid var(--primary, #FF8740);
  background: #FFF;
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
  outline: none;
  border-radius: 10px;
}
.MemberSignup-wrapper .TermsNext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 50PX;
}
.MemberSignup-wrapper .TermsNext span {
  color: var(--gray, #989794);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.MemberSignup-wrapper .TermsNext span.serviceterm,
.MemberSignup-wrapper .TermsNext span.privateterm {
  color: var(--gray, #989794);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 50%;
  text-underline-position: from-font;
}
.MemberSignup-wrapper .Signup-button {
  align-self: center;
}
.MemberSignup-wrapper .Signup-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  border: none;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white, #FEFCF7);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.MemberSignup-wrapper .Signup-button button .Signup-text {
  transition: transform 0.3s ease, color 0.3s ease;
}
.MemberSignup-wrapper .Signup-button button img {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  right: 30px;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.MemberSignup-wrapper .Signup-button button:hover {
  background: var(--white, #FEFCF7);
  border: 1px solid var(--primary, #FF8740);
}
.MemberSignup-wrapper .Signup-button button:hover .Signup-text {
  transform: translateX(-10px);
  color: var(--primary, #FF8740);
}
.MemberSignup-wrapper .Signup-button button:hover img {
  opacity: 1;
}
.MemberSignup-wrapper .Signup-button button:active .Signup-text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}
.MemberSignup-wrapper .Signup-button button:active img {
  width: 20px;
  height: 20px;
}
.MemberSignup-wrapper .MemberSignup-option {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  width: 100%;
}
.MemberSignup-wrapper .MemberSignup-option button {
  background-color: transparent;
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
  border: none;
  margin-bottom: 10px;
}
.MemberSignup-wrapper .MemberSignup-option button span {
  color: #FF8740;
}
.MemberSignup-wrapper .MemberSignup-option button:hover, .MemberSignup-wrapper .MemberSignup-option button:focus, .MemberSignup-wrapper .MemberSignup-option button:focus-visible {
  border: none;
  outline: none;
}

@media (min-width: 393px) and (max-width: 1024px) {
  #MemberSignup-form {
    padding: 5rem;
    width: 100vw;
  }
  .MemberSignup-wrapper {
    border: none;
  }
  .MemberSignup-wrapper .MemberSignup-form {
    display: none;
  }
  .MemberSignup-wrapper .MemberSignup-form-s {
    display: block;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-title {
    color: var(--dark, #3A2C19);
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .KeyinName-s, .MemberSignup-wrapper .MemberSignup-form-s .KeyinBirthday-s, .MemberSignup-wrapper .MemberSignup-form-s .KeyinEmail-s, .MemberSignup-wrapper .MemberSignup-form-s .KeyinTel-s {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin-top: 2rem;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .KeyinName-s label, .MemberSignup-wrapper .MemberSignup-form-s .KeyinBirthday-s label, .MemberSignup-wrapper .MemberSignup-form-s .KeyinEmail-s label, .MemberSignup-wrapper .MemberSignup-form-s .KeyinTel-s label {
    color: var(--dark, #3A2C19);
    /* 段落/16 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    background: var(--white, #FEFCF7);
    position: absolute;
    top: -1.2rem;
    left: 3rem;
    padding: 8px;
    padding: 8px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .KeyinName-s input, .MemberSignup-wrapper .MemberSignup-form-s .KeyinBirthday-s input, .MemberSignup-wrapper .MemberSignup-form-s .KeyinEmail-s input, .MemberSignup-wrapper .MemberSignup-form-s .KeyinTel-s input {
    width: 320px !important;
    height: 60px !important;
    border-radius: 12px !important;
    border: 0.5px solid var(--dark, #3A2C19) !important;
    margin: 0 auto;
    padding-left: 2rem;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .KeyinName-s input:focus, .MemberSignup-wrapper .MemberSignup-form-s .KeyinBirthday-s input:focus, .MemberSignup-wrapper .MemberSignup-form-s .KeyinEmail-s input:focus, .MemberSignup-wrapper .MemberSignup-form-s .KeyinTel-s input:focus {
    border-radius: 999px;
    border: 2px solid var(--primary, #FF8740);
    background: #FFF;
    box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
    outline: none;
    border-radius: 10px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .KeyinName-s::placeholder, .MemberSignup-wrapper .MemberSignup-form-s .KeyinBirthday-s::placeholder, .MemberSignup-wrapper .MemberSignup-form-s .KeyinEmail-s::placeholder, .MemberSignup-wrapper .MemberSignup-form-s .KeyinTel-s::placeholder {
    color: var(--gray, #989794);
    text-align: left;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.4px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .ChooseGender-s {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin-top: 30px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .ChooseGender-s label {
    color: var(--dark, #3A2C19);
    /* 段落/16 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    background: var(--white, #FEFCF7);
    position: absolute;
    top: -1.5rem;
    left: 4rem;
    padding: 8px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .ChooseGender-s .ChooseGender-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .ChooseGender-s .ChooseGender-button button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 0.5px solid var(--dark, #3A2C19);
    background: var(--white, #FEFCF7);
    color: var(--dark, #3A2C19);
    text-align: center;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .Signup-button-s {
    align-self: center;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .Signup-button-s button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    background: var(--primary, #FF8740);
    border: none;
    cursor: pointer;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px !important;
    font-weight: 900;
    letter-spacing: 1.4px;
    color: var(--white, #FEFCF7);
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .Signup-button-s button .Signup-text {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .Signup-button-s button img {
    width: 24px;
    height: 24px;
    opacity: 0;
    position: absolute;
    right: 30px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-option-s {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-option-s button {
    background-color: transparent;
    color: var(--gray, #989794);
    /* 段落/16 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
    letter-spacing: 1.6px;
    border: none;
    margin-bottom: 10px;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-option-s button span {
    color: #FF8740;
  }
  .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-option-s button:hover, .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-option-s button:focus, .MemberSignup-wrapper .MemberSignup-form-s .MemberSignup-option-s button:focus-visible {
    border: none;
    outline: none;
  }
}