.order-table {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
}
.order-table .table-header,
.order-table .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr 1fr 1.5fr 1.5fr 1fr;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  background-color: #F9FAFC;
}
.order-table .table-header {
  background-color: #FFF;
  font-weight: bold;
}
.order-table .btn-orange {
  background-color: #FF8740;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 12px;
}
.order-table .btn-outline {
  border: 1px solid #000;
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 12px;
  background: transparent;
}
.order-table .status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}
.order-table .status.done {
  background-color: #FFF;
  color: #FF8740;
  border: 1px solid #FF8740;
  padding: 4px 12px;
}
.order-table .status.pending {
  color: #999;
}