@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
#Nutriintro {
  padding: 120px 50px;
}
#Nutriintro #aboutNutri,
#Nutriintro #spefield,
#Nutriintro #Nutri-exp-cer,
#Nutriintro #Nutri-reservation,
#Nutriintro #Nutriarticle,
#Nutriintro #Nutri-comment {
  scroll-margin-top: 80px;
}
#Nutriintro .Nutriintro-person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo {
  margin-left: 5%;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo .Nutri-photogallery {
  width: 40%;
  height: 30%;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo .Nutri-photogallery .selfie {
  margin-bottom: 24px;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo .Nutri-photogallery .selfie img {
  border-radius: 20px;
  width: 100%;
  height: 80%;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo .Nutri-photogallery .more {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 0px;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo .Nutri-photogallery .more img {
  width: 13rem;
  height: 10rem;
  border-radius: 20px;
}
#Nutriintro .Nutriintro-person .Nutri-person-class-photo .Nutri-photogallery .TurnButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  margin-left: 150px;
  margin-top: 5%;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-personinfo .namefavorite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 300px;
  margin-bottom: 10px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-personinfo .namefavorite h2 {
  color: var(--dark, #3A2C19);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-personinfo .namefavorite button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-personinfo .namefavorite button:focus, #Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-personinfo .namefavorite button:focus-visible {
  outline: none;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-personinfo p {
  white-space: nowrap;
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox {
  border-radius: 30px;
  border: 1px solid var(--gray, #989794);
  background: var(--white, #FEFCF7);
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  white-space: nowrap;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .classtime {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .classtime h2 {
  color: var(--dark, #3A2C19);
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  white-space: nowrap;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .classtime .timeblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: last baseline;
  margin-top: 30px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color p {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color p.p-linethrough {
  margin-right: 5px;
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
  text-decoration: line-through;
  text-decoration-color: #FF8740;
  /* 控制槓掉線的顏色 */
  text-decoration-thickness: 2px;
  /* 控制槓掉線的粗細 */
  text-decoration-style: solid;
  /* 控制槓掉線的樣式 */
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color span {
  position: relative;
  gap: 5px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color span p.FirstPrice {
  position: relative;
  margin-bottom: 5px;
  margin-left: 25px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color span .Arrow-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color span .Arrow-price .Arrow-orange {
  width: 24px;
  height: 24px;
  color: #FF8740;
  margin-top: 5px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color span .Arrow-price p.OrangePrice {
  color: var(--primary, var(--primary, #FF8740));
  font-family: "Noto Sans TC", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: 0.8px;
  margin-left: 0px;
  padding-left: 0pX;
  margin-right: 5px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color span p.SingleClass {
  color: var(--dark, #3A2C19);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .p-linethrough-color p.SingleClass {
  color: var(--dark, #3A2C19);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button {
  margin-top: 5%;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button p {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  gap: 40%;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 40px;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 140px;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button:hover {
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  background: var(--white, #FEFCF7);
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button:hover .Nutriclassinrto-text {
  transform: translateX(-10px);
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button:hover img {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button:active {
  outline: none;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button:active .Nutriclassinrto-text {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
#Nutriintro .Nutriintro-person .Nutriclass-container .Nutri-classbox .Nutri-prices-button .Nutri-price-with-button button:active img {
  width: 20px;
  height: 20px;
}
#Nutriintro .Nutri-place {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 8rem;
  margin-bottom: 0px;
  gap: 40px;
}
#Nutriintro .Nutri-place p {
  writing-mode: vertical-rl;
  color: #3A2C19;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 55px;
}
#Nutriintro .Nutri-place img {
  width: 204px;
  height: 112px;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 15px;
}
#Nutriintro .Nutri-place .moreimg4,
#Nutriintro .Nutri-place .moreimg5 {
  margin-top: 5px;
}
#Nutriintro .Nutri-place .moreimg4 p,
#Nutriintro .Nutri-place .moreimg5 p {
  writing-mode: horizontal-tb;
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
  text-align: center;
}
#Nutriintro .Nutri-place .moreimg4 img,
#Nutriintro .Nutri-place .moreimg5 img {
  border-radius: 20px;
}
#Nutriintro .nav-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-bottom: 150px;
  margin-top: 100px;
}
#Nutriintro .nav-nav-content .Nutrinav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 80px;
}
#Nutriintro .nav-nav-content .Nutrinav .Nutri-intro {
  margin-top: 60px;
  width: 100%;
}
#Nutriintro .nav-nav-content .Nutrinav .Nutri-intro ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 0.6px solid #3A2C19;
  gap: 30px;
  padding-right: 20px;
}
#Nutriintro .nav-nav-content .Nutrinav .Nutri-intro ul a {
  display: flex;
  flex-direction: column;
  color: var(--dark, #3A2C19);
  text-align: right;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  margin-right: 5px;
  white-space: nowrap;
}
#Nutriintro .nav-nav-content .Nutrinav .Nutri-intro ul a:hover {
  color: var(--primary, var(--primary, #FF8740));
  text-align: right;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 10%;
  /* 1.4px */
  text-underline-offset: 25%;
  /* 3.5px */
  text-underline-position: from-font;
}
#Nutriintro .nav-nav-content #aboutNutri {
  width: 80%;
  margin-top: 20px;
  justify-content: center;
}
#Nutriintro .nav-nav-content #aboutNutri p {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2%;
  position: relative;
  margin-top: 0px;
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .about h3 {
  width: 138px;
  white-space: nowrap;
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .about h4 {
  margin-left: 50px;
  width: 300px;
  position: relative;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 8px;
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .svg {
  position: relative;
  left: 30px;
}
@media (min-width: 1920px) {
  #Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .svg {
    left: 20%;
  }
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .svg svg {
  position: relative;
  bottom: 70px;
  left: 150px;
}
#Nutriintro .nav-nav-content #aboutNutri .Nutriaboutcontent .svg p {
  position: relative;
  bottom: 10px;
  left: 250px;
  color: var(--dark, #3A2C19);
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  transform: rotate(-4.964deg);
}
#Nutriintro #spefield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
#Nutriintro #spefield .spefield-wrapper .spetitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#Nutriintro #spefield .spefield-wrapper .spetitle h3 {
  color: #FF8740;
  text-align: right;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-right: 16px;
}
#Nutriintro #spefield .spefield-wrapper .spetitle h4 {
  width: 300px;
  position: relative;
  color: #3A2C19;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  margin-top: 5px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
}
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0px;
  margin-top: 30px;
}
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle1,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle2,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle3,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle4 {
  width: 310px;
  height: 310px;
  position: relative;
  margin-left: -30px;
}
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle1 span,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle2 span,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle3 span,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle4 span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 250px;
  position: relative;
  left: 50px;
  bottom: -200px;
}
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle1 span h4,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle2 span h4,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle3 span h4,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle4 span h4 {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 11%;
  /* 2.2px */
  text-underline-offset: 50%;
  /* 10px */
  padding-bottom: 15px;
}
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle1 span p,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle2 span p,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle3 span p,
#Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper .circle4 span p {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
@media (min-width: 1440px) {
  #Nutriintro #spefield .spefield-wrapper .nutri-circlewrapper {
    margin-left: 70%;
  }
}
#Nutriintro #Nutri-exp-cer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 300px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .expcontent {
  margin-left: 10%;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .expcontent .exptitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;
  white-space: nowrap;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .expcontent .exptitle h3 {
  color: #FF8740;
  text-align: right;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-left: 0px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .expcontent .exptitle h4 {
  width: 300px;
  position: relative;
  color: #3A2C19;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-left: 16px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .expcontent ul {
  list-style-type: disc;
  margin-left: 20px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .expcontent ul li {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .certificate {
  flex: 1;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .certificate .certitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 50px;
  white-space: nowrap;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .certificate .certitle h3 {
  color: #FF8740;
  text-align: right;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-right: 16px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .certificate .certitle h4 {
  width: 300px;
  color: #3A2C19;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-left: 16px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .certificate ul {
  list-style-type: disc;
  margin-left: 20px;
}
#Nutriintro #Nutri-exp-cer .Nutri-exp-cer-wrapper .certificate ul li {
  color: var(--dark, #3A2C19);
  /* heading/標題4/medium */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 0.4px;
}
#Nutriintro #Nutri-reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  margin-top: 10%;
}
#Nutriintro #Nutri-reservation .nutrireserve {
  margin-left: 25%;
  flex: 1;
}
#Nutriintro #Nutri-reservation .nutrireserve .restitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5%;
}
#Nutriintro #Nutri-reservation .nutrireserve .restitle h3 {
  color: #FF8740;
  text-align: right;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  white-space: nowrap;
}
#Nutriintro #Nutri-reservation .nutrireserve .restitle h4 {
  width: 300px;
  position: relative;
  color: #3A2C19;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-left: 16px;
}
#Nutriintro #Nutri-reservation .nutrireserve .process {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
#Nutriintro #Nutri-reservation .nutrireserve .process .number p {
  background-color: #FF8740;
  width: 60px;
  height: 60px;
  border-radius: 999px;
  color: #FEFCF7;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 140%;
  margin-bottom: 10px;
}
#Nutriintro #Nutri-reservation .nutrireserve .process .resdetail p {
  display: flex;
  width: 300px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 99px;
  border: 1px solid var(--primary, #FF8740);
  background: var(--white, #FEFCF7);
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  white-space: nowrap;
  margin-bottom: 30px;
  margin-top: 10px;
}
#Nutriintro #Nutri-reservation .nutrireserve .reserve-img {
  display: flex;
  flex-direction: row;
  position: relative;
}
#Nutriintro #Nutri-reservation .nutrireserve .reserve-img img {
  width: 50%;
  height: 90%;
  position: relative;
  right: 70px;
  top: -50px;
}
#Nutriintro #Nutri-reservation .nutrireserve .reserve-img p {
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  position: relative;
  right: 90px;
  top: -5px;
}
#Nutriintro #Nutri-reservation .nutrireserve .reserve-img p::before, #Nutriintro #Nutri-reservation .nutrireserve .reserve-img p::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: #FF8740;
}
#Nutriintro #Nutri-reservation .nutrireserve .reserve-img p::before {
  left: -40px;
  top: 30px;
  transform: rotate(45deg);
}
#Nutriintro #Nutri-reservation .nutrireserve .reserve-img p::after {
  right: -30px;
  top: 30px;
  transform: rotate(135deg);
}
@media (min-width: 1440px) {
  #Nutriintro #Nutri-reservation .nutrireserve {
    margin-left: 30%;
  }
}
#Nutriintro #Nutri-reservation .Nutri-calendar-reservetime {
  flex: 1;
  margin-right: 8%;
}
#Nutriintro #Nutri-reservation .Nutri-calendar-reservetime .caltitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#Nutriintro #Nutri-reservation .Nutri-calendar-reservetime .caltitle h3 {
  color: #FF8740;
  text-align: right;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-right: 16px;
  white-space: nowrap;
}
#Nutriintro #Nutri-reservation .Nutri-calendar-reservetime .caltitle h4 {
  width: 300px;
  position: relative;
  color: #3A2C19;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-left: 16px;
}
#Nutriintro #Nutri-reservation .Nutri-calendar-reservetime .Nutri-Available-calendar {
  margin-top: 10%;
  padding: 0;
}
#Nutriintro #Nutriarticle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  position: relative;
  margin-left: 2%;
  scroll-margin-top: 80px;
  /* 如果有固定的 header，可調整此值 */
  scroll-margin-left: 0;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper {
  display: flex;
  flex-direction: column;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .articletitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15%;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .articletitle h3 {
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-right: 0px;
  white-space: nowrap;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .articletitle h4 {
  width: 300px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
  letter-spacing: 1.4px;
  margin-left: 15px;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  margin-left: 0px;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 2%;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards .NutriViewArticles-left,
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards .NutriViewArticles-right {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards .NutriViewArticles-left:focus,
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards .NutriViewArticles-left:focus-visible {
  outline: none;
  box-shadow: none;
}
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards .NutriViewArticles-right:focus,
#Nutriintro #Nutriarticle .Nutriarticle-wrapper .Nutri-ViewArticles .Three-classcards .VNutriViewArticles-right:focus-visible {
  outline: none;
  box-shadow: none;
}
@media (min-width: 1440px) {
  #Nutriintro #Nutriarticle {
    margin-left: 4%;
  }
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10%;
  position: relative;
  scroll-margin-top: 80px;
  /* 如果有固定的 header，可調整此值 */
  scroll-margin-left: 0;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutricommentitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 18%;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutricommentitle h3 {
  color: var(--primary, var(--primary, #FF8740));
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-right: 15px;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutricommentitle h4 {
  width: 300px;
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-bottom: 2px solid #3A2C19;
  padding-bottom: 15px;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .star-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .star-rate p {
  color: var(--dark, #3A2C19);
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 150px */
  text-transform: capitalize;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard::before, #Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 1px dashed #ccc;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard::before {
  left: calc(33.333% + 0px);
  /* 第一條虛線 */
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard::after {
  left: calc(66.666% + 3px);
  /* 第二條虛線 */
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard .Star-rate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard h3 {
  color: var(--dark, #3A2C19);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 45px */
  text-transform: capitalize;
  margin-left: 40%;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard p.description {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  margin-top: 30px;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard .Name-date {
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  gap: 120px;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard .Name-date p.Name {
  color: #000;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  white-space: nowrap;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .Nutri-commentcard .Name-date p.Date {
  color: var(--dark, #3A2C19);
  text-align: right;
  /* 段落/14 */
  font-family: " Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button {
  display: flex;
  width: 300px;
  height: 40px;
  padding: 8px 84px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  white-space: nowrap;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button img {
  width: 24px;
  height: 24px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:hover {
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  background: var(--white, #FEFCF7);
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:hover .seeMore-text {
  transform: translateX(-10px);
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:hover img {
  opacity: 1;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:focus, #Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:focus-visible {
  border: 1px solid #FF8740;
  outline: none;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:active {
  outline: none;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:active .seeMore-text {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
#Nutriintro .Nutri-comment-wrapper #Nutri-comment .seeMoreComment button:active img {
  width: 20px;
  height: 20px;
}