@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "" Noto Sans TC ", sans-serif; Sans TC", sans-serif, "Dela Gothic One";
  line-height: 1.5;
  background-color: #FEFCF7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #FEFCF7;
  overflow-x: hidden;
}

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
#Nutri-JoinusStep3-Form {
  padding: 120px 50px;
  width: 100%;
}

.Nutri-Joinus-Step3-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 {
  position: relative;
  top: -10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 700px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 32px;
  border: 1px solid var(--dark, #3A2C19);
  background: #FFF;
  box-shadow: 8px 8px 0px 0px #3A2C19;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriJoinusStep3-title {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 40px;
  border-bottom: 1px solid #3a2c19;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriJoinusStep3-title .Step3-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  white-space: nowrap;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriJoinusStep3-title .Step3-title h3 {
  color: var(--dark, #3A2C19);
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriJoinusStep3-title .Step3-title h4 {
  color: var(--dark, #3A2C19);
  opacity: 0.5;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
  /* 35px */
  letter-spacing: 1.4px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriJoinusStep3-title p {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form {
  position: relative;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-textarea .Aboutme-textarea-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 120%;
  margin-bottom: 4px;
  width: 193px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-textarea .Aboutme-textarea-title h4 {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  white-space: nowrap;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-textarea .Aboutme-textarea-title p {
  color: var(--primary, var(--primary, #FF8740));
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  white-space: nowrap;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-textarea textarea {
  height: 156px;
  width: 393px;
  border-radius: 8px;
  border: 1px solid var(--dark, #3A2C19);
  background: var(--white, #FEFCF7);
  margin-top: 10px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-uploadphotos {
  margin-top: 14px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-uploadphotos .Aboutme-uploadphotos-title {
  width: 202px;
  margin-bottom: 12px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-uploadphotos .Aboutme-uploadphotos-title h4 {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-uploadphotos .Aboutme-uploadphotos-button {
  margin-bottom: 36px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .Aboutme-uploadphotos .Aboutme-uploadphotos-button button {
  margin-right: 18px;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  color: var(--dark, #3A2C19);
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 14px */
  letter-spacing: 1px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .teachingExperiences {
  display: flex;
  flex-direction: row;
  gap: 150%;
  width: 199px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .teachingExperiences h4 {
  color: var(--dark, #3A2C19);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  white-space: nowrap;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .teachingExperiences p {
  color: var(--primary, var(--primary, #FF8740));
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  white-space: nowrap;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience {
  margin-top: 8px;
  border: 1px solid #d0cdc9;
  border-radius: 8px;
  max-height: 114px;
  /* 設置最大高度以啟用滾動條 */
  overflow-y: auto;
  width: 430px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #f4f4f4;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable thead th {
  padding: 8px;
  font-size: 10px;
  margin: 5px;
  text-align: center;
  color: var(--gray, #989794);
  border-bottom: 1px solid #3a2c19;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody td {
  padding: 8px;
  font-size: 14px;
  text-align: center;
  color: var(--dark, #3A2C19);
  border-bottom: 1px solid #3a2c19;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody input {
  width: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #989794;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody .buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody .buttonGroup button {
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  color: var(--dark, #3A2C19);
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 14px */
  letter-spacing: 1px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable th:first-child,
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable td:first-child {
  width: 5px;
  padding-left: 5px;
  text-align: left;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody::-webkit-scrollbar {
  width: 8px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 4px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .Step3-form .scrollFieldset-teachExperience .simpleTable tbody::-webkit-scrollbar-track {
  background: transparent;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriStep3-NextPreButton {
  display: flex;
  flex-direction: row;
  gap: 300px;
  width: 100%;
  margin-top: 40px;
}
.Nutri-Joinus-Step3-wrapper .NutriJoinus-Step3 .NutriStep3-NextPreButton button {
  margin: 0px;
  white-space: nowrap;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  color: var(--dark, #3A2C19);
  text-align: center;
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
}