@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

button:focus {
  outline: none;
  box-shadow: none;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}
.SetAccountPassword {
  padding: 120px 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SetAccountPassword .SetAccountPassword-form-s {
  display: none;
}
.SetAccountPassword .SetAccountPassword-title {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 170px;
  top: 25px;
  margin: 0px;
  background: var(--white, #FEFCF7);
  color: var(--dark, #3A2C19);
  text-align: center;
  /* heading/標題3 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
}
.SetAccountPassword .SetEmailAccount {
  display: flex;
  width: 600px;
  padding: 60px 95px 70px 95px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 0.8px solid var(--dark, #3A2C19);
}
.SetAccountPassword .SetEmailAccount label {
  color: var(--dark, #3A2C19);
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.SetAccountPassword .SetEmailAccount input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 0.6px solid var(--dark, #3A2C19);
  background: #FFF;
}
.SetAccountPassword .SetEmailAccount input::placeholder {
  color: var(--gray, #989794);
  /* 段落/14 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  padding-left: 5px;
}
.SetAccountPassword .SetEmailAccount input:focus {
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--primary, #FF8740);
  box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
}
.SetAccountPassword .SetEmailAccount .Join-button {
  align-self: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 999px;
  background: var(--primary, #FF8740);
  border: none;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white, #FEFCF7);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.SetAccountPassword .SetEmailAccount .Join-button:hover {
  background: var(--primary, #FF8740);
  color: var(--white, var(--white, #FEFCF7));
}
.SetAccountPassword .SetEmailAccount .Join-button img {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  right: 30px;
  transition: opacity 0.3s ease;
}
.SetAccountPassword .SetEmailAccount .Join-button:hover {
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--primary, #FF8740);
  background: var(--white, #FEFCF7);
}
.SetAccountPassword .SetEmailAccount .Join-button:hover .join-text {
  transform: translateX(-10px);
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.SetAccountPassword .SetEmailAccount .Join-button:hover img {
  opacity: 1;
}
.SetAccountPassword .SetEmailAccount .Join-button:active {
  outline: none;
}
.SetAccountPassword .SetEmailAccount .Join-button:active .join-text {
  color: var(--primary, var(--primary, #FF8740));
  text-align: center;
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
}
.SetAccountPassword .SetEmailAccount .Join-button:active img {
  width: 20px;
  height: 20px;
}
.SetAccountPassword .SetAccountPassword-option {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 60px;
}
.SetAccountPassword .SetAccountPassword-option .SetAccountPassword-return {
  color: #FF8740;
  /* 段落/16 */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
  padding: 0px;
  outline: none;
}
.SetAccountPassword .SetAccountPassword-option .SetAccountPassword-return:hover, .SetAccountPassword .SetAccountPassword-option .SetAccountPassword-return:focus, .SetAccountPassword .SetAccountPassword-option .SetAccountPassword-return:focus-visible {
  border: none;
  outline: none;
}

@media (min-width: 393px) and (max-width: 1024px) {
  .SetAccountPassword {
    padding: 5rem;
    width: 100vw;
  }
  .SetAccountPassword-form {
    display: none;
  }
  .SetAccountPassword-form-s {
    display: block !important;
  }
  .SetAccountPassword-form-s .Set-title-s {
    color: var(--dark, #3A2C19);
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .SetAccountPassword-form-s .SetEmailAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 2rem;
    border: none;
    padding: 2.5rem;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccount {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin-top: -3rem;
    align-self: center;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccount label {
    color: var(--dark, #3A2C19);
    /* 段落/16 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    background: var(--white, #FEFCF7);
    padding: 8px;
    padding: 8px;
    position: absolute;
    top: -1.2rem;
    left: 1rem;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccount input {
    width: 320px !important;
    height: 60px !important;
    border-radius: 12px !important;
    border: 0.5px solid var(--dark, #3A2C19) !important;
    margin: 0 auto;
    padding-left: 1rem;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccount input:focus {
    border-radius: 999px;
    border: 2px solid var(--primary, #FF8740);
    background: #FFF;
    box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
    outline: none;
    border-radius: 10px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccount::placeholder {
    color: var(--gray, #989794);
    text-align: left;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.4px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetPass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin-top: 3rem;
    align-self: center;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetPass label {
    color: var(--dark, #3A2C19);
    /* 段落/16 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    background: var(--white, #FEFCF7);
    padding: 8px;
    padding: 8px;
    position: absolute;
    top: -1.2rem;
    left: 1rem;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetPass input {
    width: 320px !important;
    height: 60px !important;
    border-radius: 12px !important;
    border: 0.5px solid var(--dark, #3A2C19) !important;
    margin: 0 auto;
    padding-left: 1rem;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetPass input:focus {
    border-radius: 999px;
    border: 2px solid var(--primary, #FF8740);
    background: #FFF;
    box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.2);
    outline: none;
    border-radius: 10px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetPass::placeholder {
    color: var(--gray, #989794);
    text-align: left;
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.4px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .Join-button-s {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 30px;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    background: var(--primary, #FF8740);
    border: none;
    cursor: pointer;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
    color: var(--white, #FEFCF7);
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .SetAccountPassword-form-s .SetEmailAccount .Join-button-s .join-text-s {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .SetAccountPassword-form-s .SetEmailAccount .Join-button-s img {
    width: 24px;
    height: 24px;
    opacity: 0;
    position: absolute;
    right: 30px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .SetAccountPassword-form-s .SetEmailAccount .Join-button-s:active .Signup-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .Join-button-s:active img {
    width: 20px;
    height: 20px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccountPassword-s {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 320px;
    height: 40px;
    border-radius: 8px !important;
    border: 0.5px solid var(--primary, #FF8740) !important;
    background: var(--white, #FEFCF7);
    color: var(--gray, #989794);
    /* 段落/16 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
    letter-spacing: 1.6px;
    border: none;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccountPassword-s span {
    color: #FF8740;
  }
  .SetAccountPassword-form-s .SetEmailAccount .SetAccountPassword-s:hover, .SetAccountPassword-form-s .SetEmailAccount .SetAccountPassword-s:focus, .SetAccountPassword-form-s .SetEmailAccount .SetAccountPassword-s:focus-visible {
    border: none;
    outline: none;
  }
  .SetAccountPassword-form-s .SetEmailAccount .alreadyButton {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    align-self: center;
    margin-top: 2rem;
    gap: 5px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .alreadyButton span {
    color: var(--gray, #989794);
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
  .SetAccountPassword-form-s .SetEmailAccount .alreadyButton p {
    color: var(--primary, var(--primary, #FF8740));
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
}