@use "../reset.scss";

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


#Allarticle-section {
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
    /* 隱藏橫向溢出 */
    width: 100%;
    height: auto;
    // border: 1px solid red;
    box-sizing: border-box;

}





.Allarticle-Search {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 60px;
    position: relative;

    .selected-button {
        display: flex;
        flex-direction: row;
        gap: 5%;

        button {
            display: flex;
            height: 40px;
            min-width: 144px;
            padding: 12px 36px;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            border: 1px solid #FF8740;
            opacity: 0.8;
            background: #FFF;
            color: #FF8740;

            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: var(--fontsize-H3, 18px);
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            white-space: nowrap;

            /* 27px */
        }

        button:hover,
        button:active {
            display: flex;
            height: 40px;
            min-width: 144px;
            padding: 12px 36px;
            justify-content: center;
            align-items: center;

            border-radius: 99px;
            background: #FF8740;
            color: #FFF;

            text-align: center;
            font-family: "Noto Sans TC";
            font-size: var(--fontsize-H3, 18px);
            font-style: normal;
            font-weight: 700;
            line-height: 150%;

            border: none;
            outline: none;
        }

    }



    .Search-Button {
        display: flex;
        height: 40px;
        width: 479px;
        padding: 8px 20px;
        align-items: center;

        border-radius: 20px;
        border: 0.5px solid var(--dark, #3A2C19);
        background: var(--white, #FEFCF7);

        &::placeholder {
            color: var(--gray, #989794);
            /* 段落/14 */
            font-family: "" Sans TC", sans-serif; Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

        &::after {
            content: "";
            // position: absolute;
            // right: 12px;
            width: 16px;
            height: 16px;
            background-image: url("/images/search-icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }


        &:focus,
        &:focus-visible,
        &:active,
        &:hover {
            // border: none;
            outline: none;
        }
    }

    .ClickSearch-Button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; // 給 img 定位用
        overflow: hidden;
        width: 300px;
        height: 40px;
        padding: 8px 84px;
        border-radius: 999px;
        background: var(--primary, #FF8740);
        color: var(--white, #FEFCF7);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 1.4px;
        white-space: nowrap;
        cursor: pointer;

        .text-search {
            transition: transform 0.3s ease; // 修正這裡的語法
        }

        img {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 100px;
            opacity: 0;
            transform: translateX(10px); // 預設略偏右
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        &:hover {

            width: 300px;
            height: 40px;
            padding: 8px 84px;
            justify-content: center;
            align-items: center;
            border-radius: 999px;
            border: 1px solid var(--primary, #FF8740);
            background: var(--white, #FEFCF7);

            .text-search {
                transform: translateX(-10px); // 文字左滑
                color: var(--primary, var(--primary, #FF8740));
                text-align: center;
                /* heading/標題4/Bold */
                font-family: "Noto Sans TC";
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px;
            }

            img {
                opacity: 1;
                transform: translateX(0); // icon 滑進來
            }
        }

        &:active {
            .text-search {
                color: var(--primary, var(--primary, #FF8740));
                text-align: center;
                /* 段落/16 */
                font-family: "Noto Sans TC";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
                letter-spacing: 1.6px;
            }

            img {
                width: 18px;
                height: 18px;
            }
        }


    }





}

.Allarticle-content {
    width: 100%;

    margin-top: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: flex-start;
    align-items: first baseline;


    .cat-tag {
        display: flex;
        flex-direction: column;
        width: 10%;

        .cat-tag-title {
            p {
                margin-bottom: 5px;
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
                border-bottom: 2px solid #3A2C19;
                padding-bottom: 14px;
            }
        }

        .Cat-name {
            // margin-top: 2%;

            button {
                height: 40px;
                bottom: 5px;
                color: var(--dark, #3A2C19);
                background-color: transparent;
                /* heading/標題4/medium */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
                /* 200% */
                letter-spacing: 0.4px;
                border: none;
                outline: none;

                &:hover {

                    color: var(--primary, var(--primary, #FF8740));
                    cursor: pointer;
                    border: none;
                    outline: none;
                }

                &:focus,
                &:focus-visible {
                    outline: none;
                    border: none;
                }
            }

            h4 {
                color: var(--primary, var(--primary, #FF8740));

                /* heading/標題4/medium */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
                /* 200% */
                letter-spacing: 0.4px;
            }
        }

        .Tag {
            margin-top: 30%;

            .TagName {

                margin-bottom: 10px;

                h4 {
                    color: var(--dark, #3A2C19);
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    border-bottom: 2px solid #3A2C19;
                    padding-bottom: 15px;
                }
            }

            button {
                display: flex;
                padding: 3px 10px;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                border-radius: 8px;
                background: var(--primary, #FF8740);

                color: var(--white, var(--white, #FEFCF7));
                text-align: right;
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }
        }


    }

    .Allarticle-cards {

        // width: 80%;
        .Allarticle-cards-title {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            gap: 70%;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            border-bottom: 2px solid #3A2C19;
            padding-bottom: 6px;

            p {
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                // line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            h4 {
                color: var(--primary, var(--primary, #FF8740));
                text-align: right;
                font-family: "Mantou Sans";
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0px;
                white-space: nowrap;
            }
        }


        .Allarticle-Card-article {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* 三欄 */
            gap: 5%;
            /* 卡片間距 */

            //調整測試
            width: 100%;
            margin-top: 5%;

            #card2>tag {
                position: relative;
                bottom: -15px;


            }
        }
    }
}


.pagination {
    max-width: 100%;

    margin-top: 250px;
    // margin-left: 5%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
        color: var(--dark, #3A2C19);
        text-align: center;
        /* 段落/14 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: 1.4px;
    }

    .page-button5 {
        width: 35px;
        height: 35px;
        background-color: var(--primary, #FF8740);
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white, var(--white, #FEFCF7));
        text-align: center;
        /* 段落/14 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: 1.4px;
    }
}