.card {
  position: relative;
  width: max-content;
  height: auto; 
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    width: auto !important;
    height: auto !important;
  }
}


/* 日期 */
.data {
  position: absolute;
  top: 10px;
  right: 40px;

  width: 100px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white, var(--white, #FEFCF7));
  /* 段落/14 */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 1.4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);

  @media (max-width: 1024px) {
    position: absolute;
    top: 5px;
    left: 100px;
  }

}


/* 文章內容摘要區 */
.contentBox {
  position: relative;
  background: #FEFCF7;
  height: 170px;
  width: 300px;
  right: 50px;
  top: -10px;
  border-radius: 20px;
  border: 1px solid #3A2C19;
  padding:0.8rem;



  @media (max-width: 1024px) {
    width: 200px !important;
    height: auto;
  }
}

/* 文章標題 */
.contentBox h4 {
  color: var(--dark, #3A2C19);
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 10px;
}


/* 文章摘要內容 */
.contentBox p {

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3A2C19;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 1.4;
}

/* 1024螢幕時變成兩行 */
@media (max-width: 1024px) {
  .contentBox p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 限制 2 行 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-height: 2.8em;
    行高 * 2 行 */
  }
}

/* 底下兩個tag */
.tag {
  display: flex;
  justify-content: flex-end;
  gap: 3%;
  flex-wrap: wrap;
  margin-top: 8px;
  position: relative;
  bottom: -30px;
  right: -12%;


  @media (max-width: 1024px) {
    flex-wrap: nowrap;
    white-space: nowrap;
    position: absolute;
    bottom: -40px;
    right: -31%;
    margin-top: 10px;
  }
}

/* 底下兩個tag的文字樣式 */
.tag p {
  background: #FF8740;
  color: #FEFCF7;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  border-radius: 8px;
  padding: 3px 10px;
}

/* 左上角的tag */
.tagBox {
  position: relative;
  background: #FF8740;
  border-radius: 10px;
  padding: 5px 15px;
  width: fit-content;
  left: -60px;
  top: -200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FEFCF7;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  white-space: nowrap;
}

/* 圖片區 */
.Articleimgbox {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  max-width: 320px;
  max-height: 200px;
  border: none !important;
  outline: none !important;
  margin: 0 30px 5px 0;

  @media (max-width: 1024px) {
    width: 210px;
    height: 130px;


  }
}

/* 圖片區的圖片 */
.Articleimgbox img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
  display: block;
  /* 確保 hover 可正常觸發 */

  @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
  }
}

/* 圖片區hover效果 */
.Articleimgbox img:hover {
  transform: scale(1.1);
}



/* .card2 .tag {

  position: relative;
  bottom: -100px;
}

.card7TagAdjust .tag p {
  position: relative;
  left: 150px;
} */