@use "../../reset.scss";

.coachDashboardAll {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 120px 80px;
  gap: 28px;

  .coachDashboardList {
    display: flex;
    height: 409px;

    .coachDashboardBotton {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 20%;
      padding-top: 70px;
      padding-left: 30px;

      .coachDashboardBox {
        display: flex;
        flex-direction: column;

        border-radius: 20px 0px 0px 20px;
        background: #fbdbad;

        width: 206px;
        .coachDashboardBox1 {
          display: flex;
          flex-direction: column;
          padding: 20px 20px 0px 20px;
          gap: 10px;
        }

        .list-illustration {
          display: flex;
        align-items: flex-end;
          .list-illustration1 {
            width: 85px;
          }

          .iAmCoach {
            display: flex;
            flex-direction: column;

            .iAmCoach1 {
              color: #3a2c19;
              /* 段落/14 */
              font-family: "Noto Sans TC", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              /* 19.6px */
              letter-spacing: 1.4px;
            }

            .iAmCoach2 {
              color: #3a2c19;
              text-align: center;
              /* heading/標題4/Bold */
              font-family: "Noto Sans TC", sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 2px;
            }
          }
        }
      }

      /* 被選到跟沒選到的按鈕樣式 */
      .memberBt {
        width: 162px;
        height: 50px;
        border-radius: 20px;
        background: #fff;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 24px */
        letter-spacing: 1.6px;
        outline: none;
        display: flex;
        padding: 13px 46px 13px 47px;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
      }

      .memberBt.memberActive {
        width: 216px;
        color: #ff8740;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        outline: none;
        z-index: 1;
      }
      .logoutBt{
        margin-top: 48px ;
      }
    }
  }
}
