.member-box {
  display: flex;
  align-items: center;
  gap: 10px;
  // margin-bottom: 40px;

  .member-title {
    color: #ff8740;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3.2px;

    @media (max-width:1024px) {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
    }
  }

  .subtitleWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .member-subtitle {
    font-size: 16px;
    color: #4a3928; // 可以自己設定英文副標的顏色
    letter-spacing: 0.5px;

    @media (max-width:1024px) {
      font-size: 10px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1px;
    }


  }
      .member-lineSmall {
      width: 150%;
      height: 2px;
      background-color: #4a3928; // 和副標一樣色
      margin-top: 4px; // 副標和橫線的距離
        @media (max-width:1024px) {
          height: 1px;
        }
    }
}