@use "../reset.scss";

.order-table {
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;

  //表格標題跟欄位
  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr 1fr 1.5fr 1.5fr 1fr;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #F9FAFC;

    .order-id {
      cursor: pointer;

      &:hover {
        color: #f87c28;
        text-decoration: underline;
      }
    }
  }

  .table-header {
    background-color: #FFF;
    font-weight: bold;
  }

  .btn-orange {
    background-color: #FF8740;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 4px 12px;
    font-size: 12px;
  }

  .btn-outline {
    border: 1px solid #000;
    border-radius: 999px;
    padding: 4px 12px;
    font-size: 12px;
    background: transparent;
  }

  //課程完成按鈕(完成&未進行)
  .status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;

    &.done {
      background-color: #FFF;
      color: #FF8740;
      border: 1px solid #FF8740;
      padding: 4px 12px;

    }

    &.pending {
      color: #999;

    }
  }
}
.nothing{
      display: flex;
flex-direction: column;
gap: 10vh;


}