@use "../reset.scss";

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

.CoachJoinus-Step4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 550px;
    height: 700px;
    margin-left: 700px;
    margin-top: 35px;
    margin-right: 450px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 32px;
    padding-left: 32px;

    border-radius: 32px;
    border: 1px solid var(--dark, #3A2C19);
    background: #FFF;
    box-shadow: 4px 4px 24px 0px rgba(58, 44, 25, 0.30);

    .JoinusStep4-title {
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin-bottom: 40px;
        border-bottom: 1px solid #3a2c19;
        width: 450px;

        .Step4-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            gap: 10px;
            white-space: nowrap;

            h3 {
                color: var(--primary, var(--primary, #FF8740));
                text-align: center;
                font-family: "Dela Gothic One";
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0px;
            }

            h4 {
                color: var(--primary, var(--primary, #FF8740));
                text-align: center;
                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 250%;
                /* 35px */
                letter-spacing: 1.4px;
            }
        }

        p {
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Dela Gothic One";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

    }

    .scrollFieldset-CollabarationTerm {
        display: flex;
        padding: 14px 12px 10px 27px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 17px;
        max-width: 393px;
        max-height: 300px;
        overflow-y: auto;
        margin-left: 80px;
        margin-right: 70px;


        border-radius: 8px;
        border: 1px solid var(--dark, #3A2C19);
        background: var(--white, #FEFCF7);

        p {
            color: var(--dark, #3A2C19);
            font-family: "Noto Sans TC";
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 14px */
            letter-spacing: 1px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 143px;
        }

        &::-webkit-scrollbar-thumb {
            width: 8px;
            border-radius: 99px;
            background: #D9D9D9;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

    }

    .AgreeTerm-checkbox {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
            aspect-ratio: 1/1;
            border-radius: 3px;
            border: 1px solid var(--dark, #3A2C19);
            background: #FFF;
        }

        label {
            color: var(--dark, #3A2C19);
            /* 段落/14 */
            font-family: "Noto Sans TC";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }
    }

    .PreSSendButton {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
            border-radius: 999px;
            border: 1px solid var(--primary, #FF8740);
            text-align: center;
            /* 段落/14 */
            font-family: "Noto Sans TC";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;

            &:active {
                border-radius: 999px;
                background: var(--primary, #FF8740);

                color: var(--white, var(--white, #FEFCF7));
                text-align: center;
                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

        }

    }
}