.join-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 320px;
  height: 50px;
  padding: 8px 84px;
  margin-top: 50px;
  border-radius: 999px;
  background-color: #FF8740;

  color: #FEFCF7;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 1.6px;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  white-space: nowrap;



  img {
    width: 20px;
    height: 23px;
    position: absolute;
    right: 80px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 4px 8px 0px 0px #3A2C19;

    img {
      opacity: 1;
    }

    span {
      transform: translateX(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  }

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 3px 6px 0px 0px #3A2C19;
    font-size: 16px;

    img {
      width: 18px;
      height: 20px;
    }
  }
}

.join-button2 {
  background-color: #FEFCF7;
  color: #FF8740;
  border: 2px solid #FF8740;

  &:hover {
    box-shadow: 4px 8px 0px 0px #FF8740;
      border: 2px solid #FF8740;
  }

}