@use "../reset.scss";


@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}


.ForgetPassword {
    padding: 120px 50px;
    width: 100vw;
    margin-top: 180px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    @media  (max-width: 1024px) {
        margin-bottom: 10rem;
        height: 50vh;

    }

    .ForgetPassword-title {
        display: flex;
        justify-content: center; // 水平置中
        align-items: center;
        background: var(--white, #FEFCF7);
        color: var(--dark, #3A2C19);
        text-align: center;
        /* heading/標題3 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
        position: relative;
        top: 1.5rem;
        width: 270px;
        margin: 0 auto;
        z-index: 2;

        @media  (max-width: 1024px) {
            color: var(--dark, #3A2C19);
            text-align: center;
            /* heading/標題4/Bold */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
        }
    }

    .KeyinEmail {
        display: flex;
        width: 600px;
        padding: 60px 95px 70px 95px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        border: 0.8px solid var(--dark, #3A2C19);
        position: relative;

        @media(max-width: 1024px) {
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        label {
            color: var(--dark, #3A2C19);
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;

            @media (max-width: 1024px) {
                color: var(--dark, #3A2C19);
                text-align: center;
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
                position: absolute;
                background: var(--white, #FEFCF7);
                top: 3rem;
                left: 12rem;
                padding: 8px;

            }
        }

        input {
            width: 400px;
            height: 40px;
            border-radius: 10px;
            border: 0.6px solid var(--dark, #3A2C19);
            background: #FFF;

            &:focus {
                outline: none;
                border-radius: 10px;
                border: 2px solid var(--primary, #FF8740);
                box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
            }

            @media  (max-width: 1024px) {
                display: flex;
                width: 320px;
                height: 60px;
                padding: 8px 24px;
                justify-content: center;
                align-self: center;
                border-radius: 12px;
                border: 0.5px solid var(--dark, #3A2C19);

            }

        }

        button {

            width: 200px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 100px;

            border-radius: 999px;
            text-align: center;
            /* heading/標題4/Bold */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
            background-color: #FFF;
            color: var(--primary, var(--primary, #FF8740));
            border: 1px solid var(--primary, #FF8740);

            @media  (max-width: 1024px) {
                margin: 20px auto 0;
                display: flex;
                // padding: 10px;
                justify-content: center;
                align-self: center;
                border-radius: 8px;
                background: var(--primary, #FF8740);
                width: 320px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: #FFF;

                text-align: center;
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            @media (min-width: 1025px) {



                &:hover {

                    justify-content: center;
                    align-items: center;
                    border-radius: 999px;
                    border: 1px solid var(--primary, #FF8740);
                    background: var(--white, #FEFCF7);

                    .email-text {
                        transform: translateX(-10px); // 文字左滑
                        color: var(--primary, var(--primary, #FF8740));
                        text-align: center;
                        /* heading/標題4/Bold */
                        font-family: "Noto Sans TC";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 2px;
                    }

                    img {
                        opacity: 1;
                        transform: translateX(0); // icon 滑進來
                    }
                }
            }

            img {
                width: 24px;
                height: 24px;
                position: absolute;
                left: 21rem;
                top: 10.5rem;
                opacity: 0;
                transform: translateX(10px); // 預設略偏右
                transition: opacity 0.3s ease, transform 0.3s ease;
            }





        }


    }

    .ForgetPassword-option {
        position: relative;
        top: -100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-top: 60px;

        .Returntologin {
            display: flex;
            flex-direction: row;
            gap: 5px;
            color: var(--dark, #3A2C19);
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
            padding: 0px;


            &:hover,
            &:focus,
            &:focus-visible {
                border: none;
                outline: none;
            }

            span {
                color: var(--gray, #989794);
                /* 段落/16 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
                letter-spacing: 1.6px;
            }

            p {
                color: var(--primary, var(--primary, #FF8740));
                /* 段落/16 */
                font-family:  "Noto Sans TC", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
                letter-spacing: 1.6px;
            }
        }
    }
}