@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

#MemberSignup-form {
    padding: 120px 50px;
    width: 100vw;
}

.MemberSignup-wrapper {
    margin-top: 5%;
    height: 40%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 15%;
    position: relative;
    gap: 10px;
    max-width: 70%;


    border-radius: 20px;
    border: 0.8px solid var(--dark, #3A2C19);

    .MemberSignup-form-s {
        display: none;
    }


    .MemberSignup-form {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;




        .MemberSignup-title {
            display: inline-flex;
            padding: 10px 30px;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            position: relative;
            left: 320px;
            top: -40px;

            background: var(--white, #FEFCF7);
            color: var(--dark, #3A2C19);
            text-align: center;
            /* heading/標題3 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 3.2px;
        }

        .KeyinNameEmail {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .KeyinName {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                gap: 10px;

                label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 1.6px;
                }

                input {
                    width: 400px;
                    height: 40px;
                    border-radius: 10px;
                    border: 0.6px solid var(--dark, #3A2C19);
                    background: #FFF;

                    &:focus {
                        border-radius: 999px;
                        border: 2px solid var(--primary, #FF8740);
                        background: #FFF;
                        box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                        outline: none;
                        border-radius: 10px;
                    }
                }
            }

            .KeyinEmail {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                gap: 10px;

                label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 1.6px;
                }

                input {
                    width: 400px;
                    height: 40px;
                    border-radius: 10px;
                    border: 0.6px solid var(--dark, #3A2C19);
                    background: #FFF;

                    &:focus {
                        border-radius: 999px;
                        border: 2px solid var(--primary, #FF8740);
                        background: #FFF;
                        box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                        outline: none;
                        border-radius: 10px;
                    }
                }
            }


        }

        .KeyinGenderTel {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            gap: 20px;

            .ChooseGender {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;

                .ChooseGender-label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 1.6px;
                }

                .ChooseGender-button {
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;


                    button {
                        border-radius: 99px;
                        border: 1px solid var(--primary, #FF8740);
                        background: var(--white, #FEFCF7);
                        margin-right: 20px;
                        height: 40px;
                        width: 120px;

                        display: flex;
                        justify-content: center;
                        align-items: center;


                        color: var(--primary, var(--primary, #FF8740));
                        text-align: center;
                        font-family: "Noto Sans TC", sans-serif;
                        font-size: var(--fontsize-H3, 18px);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        /* 27px */
                        outline: none;

                    }

                    button.active {
                        border: none;
                        outline: none;
                        border-radius: 99px;
                        background: #FF8740;
                        color: var(--white, var(--white, #FEFCF7));
                        text-align: center;
                        font-family: "Noto Sans TC";
                        font-size: var(--fontsize-H3, 18px);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        /* 27px */
                    }
                }

            }



        }

        .KeyinTel {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            margin-left: 0px;

            label {
                color: var(--dark, #3A2C19);
                /* 段落/16 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
                letter-spacing: 1.6px;
            }

            input {
                width: 400px;
                height: 40px;
                border-radius: 10px;
                border: 0.6px solid var(--dark, #3A2C19);
                background: #FFF;

                &:focus {
                    border-radius: 999px;
                    border: 2px solid var(--primary, #FF8740);
                    background: #FFF;
                    box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                    outline: none;
                    border-radius: 10px;
                }
            }
        }





    }

    .KeyinBirthday {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            color: var(--dark, #3A2C19);
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
        }

        input {
            width: 400px;
            height: 40px;
            border-radius: 10px;
            border: 0.6px solid var(--dark, #3A2C19);
            background: #FFF;

            &:focus {
                border-radius: 999px;
                border: 2px solid var(--primary, #FF8740);
                background: #FFF;
                box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                outline: none;
                border-radius: 10px;
            }
        }

    }

    .TermsNext {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        margin-top: 40px;
        margin-bottom: 50PX;

        span {
            color: var(--gray, #989794);
            /* 段落/14 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

        span.serviceterm,
        span.privateterm {
            color: var(--gray, #989794);
            /* 段落/14 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 1.4px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: 50%;
            text-underline-position: from-font;

        }
    }

    .Signup-button {
        align-self: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 200px;
            height: 40px;
            border-radius: 999px;
            background: var(--primary, #FF8740);
            border: none;
            cursor: pointer;

            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--white, #FEFCF7);
            text-align: center;
            position: relative;
            overflow: hidden;

            .Signup-text {
                transition: transform 0.3s ease, color 0.3s ease;
            }

            img {
                width: 24px;
                height: 24px;
                opacity: 0;
                position: absolute;
                right: 30px;
                transition: opacity 0.3s ease;
                opacity: 0;
            }

            &:hover {
                background: var(--white, #FEFCF7);
                border: 1px solid var(--primary, #FF8740);

                .Signup-text {
                    transform: translateX(-10px); // 向左滑動
                    color: var(--primary, #FF8740);
                }

                img {
                    opacity: 1;
                }
            }

            &:active {
                .Signup-text {
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1.6px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }


    }

    .MemberSignup-option {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
        width: 100%;


        button {
            background-color: transparent;
            color: var(--dark, #3A2C19);
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
            border: none;
            margin-bottom: 10px;

            span {
                color: #FF8740;
            }

            &:hover,
            &:focus,
            &:focus-visible {
                border: none;
                outline: none;

            }
        }


    }



}

@media (min-width: 393px) and (max-width: 1024px) {
    #MemberSignup-form {
        padding: 5rem;
        width: 100vw;
    }

    .MemberSignup-wrapper {
        border: none;

        .MemberSignup-form {
            display: none;
        }

        .MemberSignup-form-s {
            display: block;
            

            .MemberSignup-title {
                color: var(--dark, #3A2C19);
                text-align: center;
                font-family: "Noto Sans TC", sans-serif;
                font-size: 20px !important;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px;
            }

            .KeyinName-s,.KeyinBirthday-s,.KeyinEmail-s,.KeyinTel-s {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                position: relative;
                margin-top: 2rem;


                label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    background: var(--white, #FEFCF7);
                    position: absolute;
                    top: -1.2rem;
                    left: 3rem;
                    padding: 8px;
                    padding: 8px;

                }

                input {
                    width: 320px !important;
                    height: 60px !important;
                    border-radius: 12px !important;
                    border: 0.5px solid var(--dark, #3A2C19) !important;
                    margin: 0 auto;
                    padding-left: 2rem;

                    &:focus {
                        border-radius: 999px;
                        border: 2px solid var(--primary, #FF8740);
                        background: #FFF;
                        box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                        outline: none;
                        border-radius: 10px;
                    }
                }

                &::placeholder {
                    color: var(--gray, #989794);
                    text-align: left;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 1.4px;

                }
            }

            .ChooseGender-s {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                position: relative;
                margin-top: 30px;

                label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    background: var(--white, #FEFCF7);
                    position: absolute;
                    top: -1.5rem;
                    left: 4rem;
                    padding: 8px;
                    

                }

                .ChooseGender-button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1.5rem;
                    gap: 1rem;

                    button {
                        display: flex;
                        padding: 8px 24px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 99px;
                        border: 0.5px solid var(--dark, #3A2C19);
                        background: var(--white, #FEFCF7);
                        color: var(--dark, #3A2C19);
                        text-align: center;
                        /* 段落/14 */
                        font-family: "Noto Sans TC", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                        letter-spacing: 1.4px;
                    }

                }


            }

            .Signup-button-s {
                align-self: center;
        
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5rem;
        
                    width:320px;
                    height: 40px;
                    border-radius: 8px;
                    background: var(--primary, #FF8740);
                    border: none;
                    cursor: pointer;
        
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px !important;
                    font-weight: 900;
                    letter-spacing: 1.4px;
                    color: var(--white, #FEFCF7);
                    text-align: center;
                    position: relative;
                    overflow: hidden;
        
                    .Signup-text {
                        transition: transform 0.3s ease, color 0.3s ease;
                    }
        
                    img {
                        width: 24px;
                        height: 24px;
                        opacity: 0;
                        position: absolute;
                        right: 30px;
                        transition: opacity 0.3s ease;
                        opacity: 0;
                    }
        
                    // &:hover {
                    //     background: var(--white, #FEFCF7);
                    //     border: 1px solid var(--primary, #FF8740);
        
                    //     .Signup-text {
                    //         transform: translateX(-10px); // 向左滑動
                    //         color: var(--primary, #FF8740);
                    //     }
        
                    //     img {
                    //         opacity: 1;
                    //     }
                    // }
        
                    &:active {
                        .Signup-text {
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 1.6px;
                        }
        
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
        
        
            }

            .MemberSignup-option-s {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 200px;
                width: 100%;
        
        
                button {
                    background-color: transparent;
                    color: var(--gray, #989794);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 1.6px;
                    border: none;
                    margin-bottom: 10px;
        
                    span {
                        color: #FF8740;
                    }
        
                    &:hover,
                    &:focus,
                    &:focus-visible {
                        border: none;
                        outline: none;
        
                    }
                }
        
        
            }


        }

    }
}