@use "../reset.scss";


@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

.SetAccountPassword {
    padding: 120px 50px;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .SetAccountPassword-form-s {
        display: none;
    }

    .SetAccountPassword-title {
        display: inline-flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 170px;
        top: 25px;
        margin: 0px;

        background: var(--white, #FEFCF7);
        color: var(--dark, #3A2C19);
        text-align: center;
        /* heading/標題3 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
    }


    .SetEmailAccount {
        display: flex;
        width: 600px;
        padding: 60px 95px 70px 95px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        border-radius: 20px;
        border: 0.8px solid var(--dark, #3A2C19);

        label {
            color: var(--dark, #3A2C19);
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
        }

        input {
            width: 400px;
            height: 40px;
            border-radius: 10px;
            border: 0.6px solid var(--dark, #3A2C19);
            background: #FFF;

            &::placeholder {
                color: var(--gray, #989794);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
                padding-left: 5px;
            }

            &:focus {
                outline: none;
                border-radius: 10px;
                border: 2px solid var(--primary, #FF8740);
                box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
            }
        }

        .Join-button {
            align-self: center;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 200px;
            height: 40px;
            border-radius: 999px;
            background: var(--primary, #FF8740);
            border: none;
            cursor: pointer;

            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--white, #FEFCF7);
            text-align: center;
            position: relative;
            overflow: hidden;

            &:hover {
                background: var(--primary, #FF8740);
                color: var(--white, var(--white, #FEFCF7));
            }

            img {
                width: 24px;
                height: 24px;
                opacity: 0;
                position: absolute;
                right: 30px;
                transition: opacity 0.3s ease;
            }

            &:hover {

                justify-content: center;
                align-items: center;
                border-radius: 999px;
                border: 1px solid var(--primary, #FF8740);
                background: var(--white, #FEFCF7);

                .join-text {
                    transform: translateX(-10px); // 文字左滑
                    color: var(--primary, var(--primary, #FF8740));
                    text-align: center;
                    /* heading/標題4/Bold */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2px;
                    transition: opacity 0.3s ease, transform 0.3s ease;
                }

                img {
                    opacity: 1;
                    // transform: translateX(0); // icon 滑進來
                }
            }

            &:active {
                outline: none;

                .join-text {
                    color: var(--primary, var(--primary, #FF8740));
                    text-align: center;
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 24px */
                    letter-spacing: 1.6px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }
            }

        }

    }

    .SetAccountPassword-option {
        position: relative;
        top: -100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
        margin-top: 60px;

        .SetAccountPassword-return {
            color: #FF8740;
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
            padding: 0px;
            outline: none;

            &:hover,
            &:focus,
            &:focus-visible {
                border: none;
                outline: none;
            }
        }


    }
}

@media(max-width: 1024px) {
    .SetAccountPassword {
        padding: 5rem;
        width: 100vw;
    }



    .SetAccountPassword-form {
        display: none;
    }

    .SetAccountPassword-form-s {
        display: block !important;


        .Set-title-s {
            color: var(--dark, #3A2C19);
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px !important;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
        }

        .SetEmailAccount {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            position: relative;
            margin-top: 2rem;
            border: none;
            padding: 2.5rem;

            .SetAccount {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                position: relative;
                margin-top: -3rem;
                align-self: center;

                label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    background: var(--white, #FEFCF7);
                    padding: 8px;
                    padding: 8px;
                    position: absolute;
                    top: -1.2rem;
                    left: 1rem;

                }

                input {
                    width: 320px !important;
                    height: 60px !important;
                    border-radius: 12px !important;
                    border: 0.5px solid var(--dark, #3A2C19) !important;
                    margin: 0 auto;
                    padding-left: 1rem;

                    &:focus {
                        border-radius: 999px;
                        border: 2px solid var(--primary, #FF8740);
                        background: #FFF;
                        box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                        outline: none;
                        border-radius: 10px;
                    }
                }

                &::placeholder {
                    color: var(--gray, #989794);
                    text-align: left;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 1.4px;

                }
            }

            .SetPass {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: center;
                position: relative;
                margin-top: 3rem;
                align-self: center;

                label {
                    color: var(--dark, #3A2C19);
                    /* 段落/16 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    background: var(--white, #FEFCF7);
                    padding: 8px;
                    padding: 8px;
                    position: absolute;
                    top: -1.2rem;
                    left: 1rem;

                }

                input {
                    width: 320px !important;
                    height: 60px !important;
                    border-radius: 12px !important;
                    border: 0.5px solid var(--dark, #3A2C19) !important;
                    margin: 0 auto;
                    padding-left: 1rem;

                    &:focus {
                        border-radius: 999px;
                        border: 2px solid var(--primary, #FF8740);
                        background: #FFF;
                        box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
                        outline: none;
                        border-radius: 10px;
                    }
                }

                &::placeholder {
                    color: var(--gray, #989794);
                    text-align: left;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 1.4px;

                }
            }


            .Join-button-s {
                display: flex;
                justify-content: center; // 水平置中
                align-items: center; // ✅ 垂直置中
                align-self: center;
                margin-top: 30px;
                width: 320px;
                height: 40px;
                border-radius: 8px;
                background: var(--primary, #FF8740);
                border: none;
                cursor: pointer;

                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-weight: 900;
                letter-spacing: 1.4px;
                color: var(--white, #FEFCF7);
                text-align: center;
                position: relative;
                overflow: hidden;

                .join-text-s {
                    transition: transform 0.3s ease, color 0.3s ease;

                }

                img {
                    width: 24px;
                    height: 24px;
                    opacity: 0;
                    position: absolute;
                    right: 30px;
                    transition: opacity 0.3s ease;
                    opacity: 0;
                }

                // &:hover {
                //     background: var(--white, #FEFCF7);
                //     border: 1px solid var(--primary, #FF8740);

                //     .Signup-text {
                //         transform: translateX(-10px); // 向左滑動
                //         color: var(--primary, #FF8740);
                //     }

                //     img {
                //         opacity: 1;
                //     }
                // }

                &:active {
                    .Signup-text {
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 1.6px;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .SetAccountPassword-s {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                text-align: center;
                width: 320px;
                height: 40px;
                border-radius: 8px !important;
                border: 0.5px solid var(--primary, #FF8740) !important;
                background: var(--white, #FEFCF7);
                color: var(--gray, #989794);
                /* 段落/16 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
                letter-spacing: 1.6px;
                border: none;

                span {
                    color: #FF8740;
                }

                &:hover,
                &:focus,
                &:focus-visible {
                    border: none;
                    outline: none;


                }


            }

            .alreadyButton {
                display: flex;
                flex-direction: row;
                justify-content: center !important;
                align-items: center;
                align-self: center;
                margin-top: 2rem;
                gap: 5px;

                span {
                    color: var(--gray, #989794);
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                }

                p {
                    color: var(--primary, var(--primary, #FF8740));
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                }

            }


        }







    }



}