@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

.LoginSuccess {
    padding: 120px 50px;
    width: 100vw;
    margin-bottom: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .LoginSuccess-title {
        display: inline-flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 220px;
        top: 25px;
        margin: 0px;

        background: var(--white, #FEFCF7);
        color: var(--dark, #3A2C19);
        text-align: center;
        /* heading/標題3 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
    }


    .LoginSuccess-content {
        width: 600px;
        padding: 60px 95px 70px 95px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 20px;
        border: 0.8px solid var(--dark, #3A2C19);

        p {
           
            color: var(--dark, #3A2C19);
            text-align: center;
            /* heading/標題4/medium */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            /* 200% */
            letter-spacing: 0.4px;
            margin-top: 50px;
            margin-bottom: 40px;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 200px;
            height: 40px;
            border-radius: 999px;
            background: var(--primary, #FF8740);
            border: none;
            cursor: pointer;
        
            font-family: "Noto Sans TC", sans-serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--white, #FEFCF7);
            text-align: center;
            position: relative;
            overflow: hidden;
        
            .success-text {
                transition: transform 0.3s ease, color 0.3s ease;
            }
        
            img {
                width: 24px;
                height: 24px;
                opacity: 0;
                position: absolute;
                right: 30px;
                transition: opacity 0.3s ease;
                opacity: 0;
            }
        
            &:hover {
                background: var(--white, #FEFCF7);
                border: 1px solid var(--primary, #FF8740);
        
                .success-text {
                    transform: translateX(-10px); // 向左滑動
                    color: var(--primary, #FF8740);
                }
        
                img {
                    opacity: 1;
                }
            }
        
            &:active {
                .success-text {
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1.6px;
                }
        
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

    .SetAccountPassword-option {
        position: relative;
        top: -100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
        margin-top: 60px;

        button {
            color: var(--dark, #3A2C19);
            /* 段落/16 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
            padding: 0px;
        }
    }
}