@use "../reset.scss";

#navbarHeader {
  position: fixed;
  top: 2.5%;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 999; //排序最高

  @media (max-width: 1024px) {
    top: 0px;
    display: flex;

  }
}

.container {
  width: 100%;
  max-width: 1200px; // 上限寬度給桌機用
  margin: 0 auto;
  padding: 0 24px; // 左右空間用 padding 做

  @media (max-width: 1024px) {
    max-width: 100%;
    padding: 0;
  }

  #navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    background-color: rgba(237, 237, 237, 0.6);
    border-radius: 999px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);

    @media (max-width: 1024px) {
      width: 100%;
      border-radius: 0px;
      display: flex;
      background-color: #fff;

    }

    .navbarHamburger {
      cursor: pointer;
      background-color: transparent;
      display: none;

      .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: black;
        margin: 5px auto;
        border: none;
      }

      @media (max-width: 1024px) {
        display: block;
      }

    }


    .logo {
      display: flex;
      align-items: baseline;
      width: 109px;
      height: 35px;
      margin: 13px;
      font-weight: 400;
      font-family: "Dela Gothic One";
      @media (max-width: 1024px) {

        
      }
      .fit {
        font-size: 16px;
        color: #3a2c19;
      }

      .navi {
        font-size: 24px;
        color: #ff8740;


      }
    }

    .menu {
      display: flex;
      // padding: 0px 25px;
      width: 100%;
      justify-content: space-evenly;

      @media (max-width: 1024px) {
        display: none; // 預設隱藏

      }

      li {
        display: flex;
        padding: 0px 25px;

        a {
          font-family: "Noto Sans TC", sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #3a2c19;
        }
      }
    }
  }

  .nbr-login {
    background: #ff8740;
    color: #fff;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    border-radius: 999px;
    font-size: 14px;
    letter-spacing: 1.4px;

    @media (max-width: 1024px) {
      display: none; // 預設隱藏
    }
  }
}