@charset "UTF-8";
* {
  box-sizing: border-box; /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", ""Noto Sans TC", sans-serif; Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #FEFCF7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block; /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

.HeroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  top: -100px;
  left: 0;
}
.HeroSection .video-wrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 99%);
}
.HeroSection .video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}
@media (max-width: 393px) {
  .HeroSection .video-wrapper video {
    width: 30%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .HeroSection .video-wrapper video {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 1360px) {
  .HeroSection .video-wrapper video {
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .HeroSection .video-wrapper video {
    width: 100%;
  }
}
.HeroSection .Hero-Section-Title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15%;
  top: 8%;
  z-index: 1;
}
@media (max-width: 393px) {
  .HeroSection .Hero-Section-Title {
    width: 30%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .HeroSection .Hero-Section-Title {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 1360px) {
  .HeroSection .Hero-Section-Title {
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .HeroSection .Hero-Section-Title {
    width: 100%;
  }
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase {
  padding: 2%;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase h2 {
  color: #FEFCF7;
  font-family: "Dela Gothic One";
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 180px */
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase .h3-HeroTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase .h3-HeroTitle h3.S-HeroTitle {
  color: #EB7223;
  font-family: "Dela Gothic One";
  font-size: 220px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase .h3-HeroTitle h3.tronger-HeroTitle {
  color: #EB7223;
  font-family: "Dela Gothic One";
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
}
.HeroSection .Hero-Section-Title .Hero-Section-content {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.HeroSection .Hero-Section-Title .Hero-Section-content p {
  color: #FFF;
  font-family: ""Noto Sans TC", sans-serif; Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 36px */
  letter-spacing: 2.4px;
}