.HeroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.HeroSection .video-wrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 99%);
}
.HeroSection .video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}
@media (max-width: 393px) {
  .HeroSection .video-wrapper video {
    width: 30%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .HeroSection .video-wrapper video {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 1360px) {
  .HeroSection .video-wrapper video {
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .HeroSection .video-wrapper video {
    width: 100%;
  }
}
.HeroSection .Hero-Section-Title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: 10%;
  left: 23%;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase {
  padding: 2%;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase h2 {
  color: #FEFCF7;
  font-family: "Dela Gothic One";
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 180px */
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase .h3-HeroTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase .h3-HeroTitle h3.S-HeroTitle {
  color: #EB7223;
  font-family: "Dela Gothic One";
  font-size: 220px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
}
.HeroSection .Hero-Section-Title .Hero-Section-Catchphrase .h3-HeroTitle h3.tronger-HeroTitle {
  color: #EB7223;
  font-family: "Dela Gothic One";
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
}
.HeroSection .Hero-Section-Title .Hero-Section-content {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 2%;
}
.HeroSection .Hero-Section-Title .Hero-Section-content p {
  color: #FFF;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 36px */
  letter-spacing: 2.4px;
}