@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

.home-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.home-search .home-search-mainTitle {
  color: #3a2c19;
  font-family: "Mantou Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 9.6px;
}
.home-search .home-search-section {
  display: flex;
  gap: 48px;
}
.home-search .home-search-section .home-search-block {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
  background: #fefcf7;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
  width: 578px;
  height: 516px;
}
.home-search .home-search-section .home-search-block .home-search-titleBox {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  margin: 36px;
}
.home-search .home-search-section .home-search-block .home-search-titleBox .home-search-title {
  color: #ff8740;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.2px;
}
.home-search .home-search-section .home-search-block .home-search-titleBox .home-search-titleEn {
  color: #ff8740;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.home-search .home-search-section .home-search-block .home-search-main {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.home-search .home-search-section .home-search-block .home-search-main img {
  position: absolute;
  left: -30px;
  bottom: 60px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-illustration {
  width: 300px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 330px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .home-search-dropdowns1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns select {
  display: flex;
  width: 300px;
  height: 40px;
  padding: 8px 20px;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  border-radius: 20px;
  border: 0.5px solid #3a2c19;
  color: #989794;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.4px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .home-search-botton {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .home-search-botton .home-search-toggleBt {
  display: flex;
  gap: 8px;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .home-search-botton .home-search-toggleBt button {
  display: flex;
  height: 40px;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 99px;
  border: 1px solid #ff8740;
  opacity: 0.8;
  background: #fff;
  color: #ff8740;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .home-search-botton .home-search-toggleBt button:hover {
  background: #ff8740;
  color: #fff;
  opacity: 1;
  outline: none;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .home-search-botton .home-search-toggleBt button.selected {
  background: #ff8740;
  color: #fff;
  opacity: 1;
  outline: none;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .homeSearchBt {
  display: flex;
  height: 40px;
  padding: 8px 84px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 999px;
  background: #ff8740;
  color: #fefcf7;
  text-align: center;
  /* heading/標題4/Bold */
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  transition: all 0.15s ease-out;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .homeSearchBt .faSearch {
  margin-left: 8px;
  display: none;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .homeSearchBt:hover {
  background-color: #fff;
  color: #ff8740;
  border: 2px solid #ff8740;
  outline: none;
}
.home-search .home-search-section .home-search-block .home-search-main .home-search-dropdowns .homeSearchBt:hover .faSearch {
  display: inline-block;
  outline: none;
}/*# sourceMappingURL=SearchSection.css.map */