@use "../reset.scss";
#centerMain {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  .main-content {
    padding: 19px 100px;
    display: flex;
    flex-direction: column;
    padding: 19px 150px;

    .centerPhotoBox {
      position: relative;
      width: 100%;
      .centerPic {
        align-self: stretch;
        border-radius: 16px;
        max-height: 338px;
        object-fit: cover;
      }
      .centerTitle2 {
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 34px;
        bottom: -53px;
        gap: 14px;
        .centerLogoPic {
          width: 143px;
          height: 143px;
          aspect-ratio: 1;
          border-radius: 143px;
          margin: 0px 14px 0px 0px;
        }

        .center-name {
          color: #3a2c19;
          font-family: Alata;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .center-area {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 2px;
        }
        .hashtag {
          display: flex;
          gap: 5px;
        }
        .hashtag a {
          font-family:  "Noto Sans TC", sans-serif; 
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          /* 24px */
          letter-spacing: 1.6px;
          color: #ff8740;
        }
      }
    }
    .centerIntroduction {
      display: flex;
      flex-direction: column;
      padding: 87px 122px 24px 122px;
      .introductionTitle {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #ff8740;
      }
      .introduction {
        font-family:  "Noto Sans TC", sans-serif; 
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        letter-spacing: 1.6px;
        color: #3a2c19;

        padding: 26px 48px;
      }
    }
    .expandContent {
      display: flex;
      justify-content: center;
      margin: 24px;
    }
  }
}
