@use "../reset.scss";

/* 中間的選單列 */
.centerSection {
  width: 95%;
}

.centerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerMenuBt {
  display: flex;
  padding: 12px 80px;
  // margin: 0px 0px 64px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;

  @media (max-width:1024px) {
    padding: 8px;
    gap: 0px;
  }

  .centerActive {
    color: #ff8740;
    background-color: #fff;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: 1.4px;
    outline: none;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 10%;
    text-underline-offset: 25%;

    @media (max-width:1024px) {
      font-size: 16px;
      padding: 8px 20px;
    }
  }

  .centerNoActive {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.4px;
    outline: none;

    @media (max-width:1024px) {
      font-size: 16px;
      padding: 8px 20px;
    }
  }
}

.venueExterior {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  gap: 24px;

  .centerPhotosBox {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;

    gap: 16px;
    overflow: hidden;

    button {
      flex-shrink: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;

      img {
        width: 48px;
        height: auto;
      }
    }

    .centerPhotos {
      display: flex;
      gap: 11px;

      img {
        flex: 1 1 0;
        max-width: calc((100% - 22px) / 3); // ✅ 三張塞進去 + gap
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        aspect-ratio: 3 / 2;
      }
    }
  }

  .center-introduce {
    display: flex;
    padding: 0px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .center-sTitle {
      width: 250px;
      position: relative;
      color: #3a2c19;
      font-family: "Noto Sans TC";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 1.6px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px; // 距離文字的距離
        width: 100%;
        height: 1px;
        background-color: #ff8740;
      }
    }

    .center-introduceBox {
      display: flex;
      gap: 12px;
      padding: 10px 48px;
      justify-content: center;
      align-items: center;
      align-self: stretch;

      span {
        color: #000;
        text-align: center;
        font-family: "Noto Sans TC";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 1.6px;
      }

      .orandge-dot {
        color: #ff8740;
      }
    }
  }
}

/* 一、場館資料 */
#centerInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  // width: 85%;
  margin-top: 64px;

  ul li {
    color: #3a2c19;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.4px;

    strong {
      color: #989794;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 1.6px;
    }
  }

  /* 基本資料 */
  .basicVenueInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;

    .informationSection {
      display: flex;
      width: 100%;

      @media (max-width: 1024px) {
        flex-direction: column;
      }

      .informationLeft {
        padding: 0px 36px;
        flex: 1;
      }
    }

    .informationRight {
      width: 390px;
      height: 382px;
      padding: 0px 36px;
      flex: 1;

      img {
        border-radius: 16px;
        width: 390px;
        height: 382px;
      }
    }
  }

  /* 場景外觀 */

  /* 入場費用+聯絡方式 */
  .costContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .contactInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 24px;

      .contactInfoBox {
        display: flex;
        padding: 0px 36px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        .contactInfo1 {
          display: flex;
          flex-direction: column;
          gap: 4px;
          align-self: stretch;

          .contactInfo2 {
            display: flex;

            align-items: flex-start;
            gap: 4px;
            align-self: stretch;
            color: #989794;

            font-family: "Noto Sans TC";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
          }

          .contactInfo3 {
            display: flex;
            padding: 0px 32px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-self: stretch;

            .contactInfo4 {
              color: #3a2c19;
              font-family: "Noto Sans TC";
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 40px;
              letter-spacing: 0.4px;
            }
          }

          .social-icons {
            display: flex;
            padding: 0px 36px;
            align-items: flex-start;
            gap: 48px;
            align-self: stretch;
            margin-top: 16px;
          }
        }
      }
    }
  }
}

/* 二、環境設施 */
#facilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 64px;

  /* 有氧器材 */

  /* 重訓器材 */
  .weightTrainingArea {
    display: flex;
    // padding: 0px 400px;
    flex-direction: column;
    justify-content: flex-start;

    .weightTrainingAreaPhotos {
      display: flex;
      width: 300px;
      height: 200px;
    }
  }

  /* 更衣淋浴 */
  .showerArea {
    display: flex;
    // padding: 0px 400px;
    flex-direction: column;

    .showerAreaPhotos {
      display: flex;
      width: 300px;
      height: 200px;
    }
  }
}

/* 教練卡 */

#fitnessTrainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 64px;
  width: 100%;

  // margin: 0 auto;
  .trainersCards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;

    .threeCards {
      display: flex;
      gap: 32px;
      margin: 0 auto;
    }
  }
}