@use "../reset.scss";
.titlehead {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .head {
      display: flex;
      align-items: flex-end;

      h2 {
        font-family: "Mantou Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 9.6px;
        color: #ff8740;
      }

      h3 {
        font-family: "Mantou Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 2.4px;
      }
    }

    nav {
      .breadcrumb {
        display: flex;
      }
    }
  }
