#centerMain {
  padding: 120px 50px;
}
.centerTitle {
  // position: absolute;
  // top: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .centertitlehead {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    .head {
      display: flex;
      align-items: flex-end;
      h2 {
        font-family: "Mantou Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 9.6px;
        color: #ff8740;
      }
      h3 {
        font-family: "Mantou Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 2.4px;
      }
    }
    nav {
      .breadcrumb {
        display: flex;
      }
    }
  }
}

.main-content {
  padding: 19px 100px;
  align-items: flex-start;
 
  .centerPhotoBox{
    position: relative;
  }
}

.return {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.centerPic {
  align-self: stretch;
  border-radius: 16px;
  max-height: 338px;
  object-fit: cover;

}

.centerLogoPic {
  // position: absolute;
  width: 143.253px;
  height: 143.253px;
  aspect-ratio: 1;
  border-radius: 143.253px;
  margin: 0px 14px 0px 0px;
}

.hashtag {
  display: flex;
}

.hashtag a {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.6px;
  color: #ff8740;
}

.centerTitle2{
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 34px;
  bottom: -53.467px;

}

.title2 h2 {
  font-family: Alata;
  font-size: 32px;
  font-weight: 400;
  color: #3A2C19;
}

.title2 h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.introductionTitle {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ff8740;
}

.introduction {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1.6px;
}

.expandContent {
  display: flex;
  justify-content: center;
  margin: 24px;
}
.centerMain{
  display: flex;
  flex-direction: column;
  padding: 87px 122px 24px 122px;
}