@use "../reset.scss";

/* 中間的選單列 */
#centerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 64px;
}

.centerMenuBt {
  display: flex;
  padding: 12px 80px;
  margin: 0px 0px 64px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;

  .centerActive {
    color: #ff8740;
    background-color: #fff;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: 1.4px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 10%;
    text-underline-offset: 25%;
  }

  .centerNoActive {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.4px;
  }
}


.venueExterior {
  display: flex;
  flex-direction: column;
  align-items:flex-start ;
  .centerPhotos {
    display: flex;
    width: 315px;
    height: 200px;
  }
}

/* 一、場館資料 */
#centerInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  width: 100%;
  width: 1140px;
  ul li {
    color: #3a2c19;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.4px;

    strong {
      color: #989794;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 1.6px;
    }
  }
  /* 基本資料 */
  .basicVenueInfo {
    display: flex;
    gap: 36px;
    justify-content: space-between;
    // align-items: flex-end;
    width: 100%;

    .informationLeft {
      display: flex;
      flex-direction: column;
      .informationList {
        padding: 0px 36px;
      }
    }

    .informationRight {
      width: 390px;
      height: 382px;
    }
  }

  /* 場景外觀 */

  /* 入場費用+聯絡方式 */
  .costContact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    .contactInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  /* 二、環境設施 */
  #facilities {
    /* 有氧器材 */

    /* 重訓器材 */
    .weightTrainingArea {
      display: flex;
      // padding: 0px 400px;
      flex-direction: column;
      justify-content: flex-start;

      .weightTrainingAreaPhotos {
        display: flex;
        width: 300px;
        height: 200px;
      }
    }

    /* 更衣淋浴 */
    .showerArea {
      display: flex;
      // padding: 0px 400px;
      flex-direction: column;

      .showerAreaPhotos {
        display: flex;
        width: 300px;
        height: 200px;
      }
    }
  }
}

/* 教練卡 */
#fitnessTrainer {
  display: flex;
  flex-direction: column;
  gap: 64px;

  .threeCards {
    display: flex;
    gap: 64px;
  }
}
