@use "../reset.scss";
#centerMain {
  width: 100%;
  padding: 120px 50px;
      display: flex;
    flex-direction: column;
 
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 19px;
    // padding: 0px 150px;
    .centerPhotoBox {
      position: relative;
      width: 85%;
      .centerPic {
        align-self: stretch;
        border-radius: 16px;
        height: 338.786px;
        object-fit: cover;
        width: 100%;
      }
      .centerTitle2 {
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 34px;
        bottom: -70px;
        gap: 6px;
        width: 100%;
        .centerLogoPic {
          width: 143px;
          height: 143px;
          aspect-ratio: 1;
          border-radius: 143px;

        }
        .center-nameBox {
          display: flex;
          flex-direction: column;
          .center-name {
            color: #3a2c19;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .center-area {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
          }
          .hashtag {
            display: flex;
            gap: 10px;
          }
          .hashtag a {
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
            letter-spacing: 1.6px;
            color: #ff8740;

          }
        }
      }
    }
    .centerIntroduction {
      display: flex;
      flex-direction: column;
      padding: 87px 0px 0px 0px;
      width: 75%;
      .introductionTitle {
              display: flex;
               align-items: center;
               gap: 24px;

        span {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 2px;
          color: #ff8740;

        }
        .introductionTitleLine {
          flex: 1; // 撐滿剩下的寬度
          height: 1px;
          background-color: #3a2c19;
        }
      }
      .introduction {
        font-family: "Noto Sans TC", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        letter-spacing: 1.6px;
        color: #3a2c19;

        padding: 26px 48px;
      }
    }

  }
}
