@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-popup {
  z-index: 1000;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #3A2C19;
  position: relative;
  padding: 50px 70px;
  background: #FEFCF7;
  border-radius: 1.2rem;
  width: 680px;
  height: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.step-popup .close {
  cursor: pointer;
  width: 48px;
  position: absolute;
  top: 4%;
  right: 5%;
}
.step-popup h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3A2C19;
  border-bottom: 0.5px solid #989794;
  padding-bottom: 16px;
  margin-bottom: 25px;
}
.step-popup .next-btn,
.step-popup .reserve-btn {
  width: 150px;
  height: 40px;
  background-color: #FF8740;
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #FEFCF7;
}
.step-popup .prev-btn,
.step-popup .home-btn {
  width: 150px;
  height: 40px;
  background-color: #FEFCF7;
  border-radius: 999px;
  border: 1px solid #FF8740;
  font-size: 1rem;
  font-weight: 700;
  color: #FF8740;
}

.step3 {
  /* 共用設定 */
  /* 結帳方式及價錢 */
  /* 輸入卡號 */
  /* 更改付款方式 */
  /* 按鈕區 */
}
.step3 img {
  width: 48px;
}
.step3 .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step3 .price .method {
  font-size: 1.2rem;
}
.step3 .price .align-right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.step3 .price .align-right .total {
  font-weight: 700;
  font-size: 1.2rem;
}
.step3 .price .align-right .currency {
  font-size: 0.8rem;
}
.step3 .price .align-right .price {
  font-size: 1.8rem;
  font-weight: 400;
  color: #FF8740;
}
.step3 .credit-payment {
  padding: 15px 0 20px 0;
  border-bottom: 0.5px solid #989794;
}
.step3 .credit-payment .icon {
  display: flex;
}
.step3 .credit-payment .input-credit {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 400px;
  height: 200px;
  background-color: #EAE8E2;
  border-radius: 10px;
}
.step3 .credit-payment .input-credit label {
  font-size: 0.8rem;
}
.step3 .credit-payment .input-credit .input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.step3 .credit-payment .input-credit .input::placeholder {
  background-color: #FEFCF7;
  color: #989794;
  padding: 3px;
}
.step3 .credit-payment .input-credit .row2 {
  display: flex;
  margin-top: 10px;
}
.step3 .credit-payment .input-credit .row1,
.step3 .credit-payment .input-credit .col1,
.step3 .credit-payment .input-credit .col2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.step3 .change-method {
  padding: 15px 0;
  border-bottom: 0.5px solid #989794;
  margin-bottom: 21px;
}
.step3 .change-method p {
  font-size: 1.2rem;
}
.step3 .change-method fieldset {
  display: flex;
  gap: 20px;
}
.step3 .change-method fieldset .option1,
.step3 .change-method fieldset .option2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.step3 .button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}