@use "../reset.scss";

#homePage {


  .gradient {
  position: relative;
   background-color: #e41549;
    background: linear-gradient(180deg,
        #FEFCF7 17.5%,
        rgba(255, 135, 64, 0.4) 64.1%,
        #FEFCF7 100%);
   top: -450px;
    border-top-left-radius: 80% 50%;
    border-top-right-radius:  80% 50%;
    width: 100vw;
    
  }

  .homeSearchSection {
    position: relative;
    background-color: #FEFCF7;
    padding: 140px;  
    border-top-left-radius: 80% 50%;
    border-top-right-radius: 80% 50%;
  }
}