@use "/src/fitnavi/reset.scss";

.coach-card {
  width: 330px;
  height: 452px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding: 12px 16px;
  gap: 8px 14px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  .image-container {
    position: relative;
    img {
      width: 298px;
      height: 270px;
      object-fit: cover;
    }
    .label {
      position: absolute;
      left: 15px;
      top: 15px;
      border-radius: 8px;
      background: #fefcf7;
      padding: 4px 8px;
      font-family: ""Noto Sans TC", sans-serif; Sans TC";
      color: #ff8740;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1.4px;
    }
  }
  .coach-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
height: 116px;
    .coach-name {
      color: #3a2c19;
      font-family: ""Noto Sans TC", sans-serif; Sans TC";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
    }

    .hashtag {
      display: flex;
      a {
        color: #ff8740;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.4px;
        display: flex;
        margin: 0px 14px 0px 0px;
      }
    }
  }
  .coach-details {
    color: #3a2c19;
    font-family: ""Noto Sans TC", sans-serif; Sans TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 1.4px;
  }
  .more-button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #3a2c19;
    font-family: ""Noto Sans TC", sans-serif; Sans TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 1.4px;
  }
}
