@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

#card9 {
  padding-top: 120px;
  // padding-right: 10px;
  // padding-left: 10px;
  width: 100%;
  background: var(--white, #FEFCF7);
}

#Article-maincontent,
#phase3,
#phase4,
#phase5,
#phase6 {
  scroll-margin-top: 90px;
}

.card9-title {
  padding-left: 50px;
  padding-right: 50px;
}

.Coachintro-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #3A2C19;
}

.article-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;

  .backbutton {
    display: flex;
    color: var(--dark, #3A2C19);
    text-align: center;
    /* heading/標題4/Bold */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }

  .article-content {
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    // margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center; // ✅ 中間對齊
    align-items: flex-start;
    margin: 0;


    .article-bannercontent {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 70px;
      margin-top: 0px;


      >p {
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center; // 水平置中
        align-items: center;
        border-radius: 10px;
        background: var(--primary, #FF8740);
        color: var(--white, var(--white, #FEFCF7));
        /* 段落/14 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: 1.4px;
      }

      >h2 {
        font-size: 40px;
        color: #3a2c19;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5px;
      }

      .dateshare {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 13px;
        gap: 25px;

        p {
          font-size: 14px;
          font-family: "Noto Sans TC", sans-serif;
          color: #3a2c19;
        }

        button.share {
          justify-content: center;
          align-items: center;
          display: inline-block;
          background-color: transparent;
          border: none;
          text-align: center;
          // background-image: url("../images/share.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          font-size: 14px;
          width: 24px;
          height: 24px;
          margin-bottom: 10px;
          border: none;
          outline: none;
        }
      }
    }
  }

  button.bread {
    flex: 0;
    font-size: 14px;
    font-family: "Noto Sans TC", sans-serif;
    background-color: transparent;
    border: none;
    color: #3a2c19;
  }
}

.bannerimg {
  width: 100%;
  height: 400px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.phase2.content,
.phase3.content .phase3img,
#phase4.content1,
#phase4.content2,
#phase4.content3 {
  display: inline-block;
  width: 40%;
  /* 設定相同的寬度 */
  box-sizing: border-box;
  vertical-align: top;
  text-align: justify;
}

.articlecard-wrapper {
  display: flex;
  flex-direction: row;


  .tablecontent {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    /* 這裡去掉固定高度，讓它撐滿 */
    height: auto;
    padding-left: 10px;
    // position: sticky;
    // top: 80px; // 調整距離上方的距離，讓它不要被 header 蓋到
    // z-index: 10;

    .tabletitle {
      p {
        color: var(--dark, #3A2C19);
        /* 段落/14 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: 1.4px;
        width: auto;
        border-bottom: 2px solid #3A2C19;
        padding-bottom: 10%;
        margin-bottom: 5%;
      }
    }

    .article-table-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      padding: 0px;
      margin-top: 40px;

      
      

      button {
        color: #000;
        /* 段落/14 */
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        white-space: nowrap;
        letter-spacing: 1.4px;
        background-color: transparent;
        padding: 0px;
      }
    }
  }

  .articlecard-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 3;
    margin: 0 auto;
    padding: 16px;


    .phase1 {
      margin-top: 100px;
      margin-bottom: 80px;

      h4 {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
      }
    }

    #Article-maincontent {
      margin-bottom: 80px;

      h3 {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1%;
      }

      p {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
      }
    }


    #phase3 {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      align-self: stretch;
      margin-bottom: 70px;




      h3 {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1%;


      }

      p {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
      }
    }

    .phase3img {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 70px;
      width: 100%;
    }

    #phase4 {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      align-self: stretch;


      h3 {
        margin-bottom: 5%;
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
      }
    }

    #phase5 {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      align-self: stretch;





      h3 {
        margin-bottom: 5%;
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
      }
    }

    #phase6 {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      align-self: stretch;


      h3 {
        margin-bottom: 5%;
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
      }
    }
  }



  .article-author {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    /* 這裡去掉固定高度，讓它撐滿 */
    height: auto;
    padding-left: 10px;
    max-width: 300px;
    height: 200px;
    display: flex;
    width: 263px;
    padding: 26px 22px;
    align-items: flex-start;
    gap: 17px;
    border-radius: 20px;
    background: #DFDFDE;
    margin-right: 10px;

    @media(max-width: 1024px) {
      display: none;
    }



    .author-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;


      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        aspect-ratio: 1 / 1;
      }

      p {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

    }

    p {
      text-align: left;
      align-items: flex-start;
      color: var(--dark, #3A2C19);
      /* 段落/14 */
      font-family: "Noto Sans TC", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      /* 19.6px */
      letter-spacing: 1.4px;
      padding: 5%;
    }
  }


}


.bottom-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;

}




.bottom {
  width: 100%;
  background: var(--white, #FEFCF7);
  padding: 40px 0;

  // .bottom-inner {
  //   width: 100%;
  //   max-width: 1440px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   box-sizing: border-box;

  //   @media (min-width: 801px) and (max-width: 1024px) {
  //     max-width: 1024px;
  //     width: 70%;

  //     align-items: flex-start; // 還原為 flex-start
  //     margin-left: auto;
  //   }

  //    @media (min-width: 1025px) and (max-width: 1440px) {
     
  //     margin: 0 auto; // 置中
  //     align-items: center;
  //     width: 70%;
  //     max-width: 1000px;
  //   }

  //   @media (min-width: 1441px) {
     
  //     margin: 0 auto; // 置中
  //     align-items: center;
  //      width: 100%;
  //   }
  // }
.bottom-inner {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: 801px) and (max-width: 1024px) {
    max-width: 1024px;
    width: 70%; // ok 這裡 1024px 可以自己設定想要 70%
    align-items: flex-end;
    margin-left: auto;
  
  }

  @media (min-width: 1025px) {
    max-width: 1200px;   // 固定 1024px 和內容一致
    width: 100%;         // 讓內容固定 1024px，不要用 70%，就能和內容齊
    margin: 0 auto;
    align-items: center; // 視需求可改 flex-start
  }
}

  .bottom-line {
    width: 100%;
    // max-width: 1440px;
    box-sizing: border-box;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 2px;
      box-sizing: border-box;
      width: 100%; // 滿寬填滿父容器
      display: block;
      margin-left: 0;
      margin-right: 10px;
    }

    @media (min-width: 390px) and (max-width: 800px) {
      justify-content: center;

      svg {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    @media (min-width: 801px) and (max-width: 1024px) {
      justify-content: flex-end !important;

      svg {
        margin-left: 0;
        margin-right: 0;
        width: 100%; // 填滿父元素
      }
    }
  }

  .bottomcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (min-width: 390px) and (max-width: 800px) {
      justify-content: center;
      align-items: center;
    }

    .hashtag {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      width: 100%;
      max-width: 1024px;
      margin-top: 30px;
      box-sizing: border-box;

      @media (min-width: 390px) and (max-width: 800px) {
        padding-left: 10px;
      }

      @media (min-width: 801px) and (max-width: 1024px) {
        justify-content: flex-start;
        white-space: nowrap;

      }



      p {
        display: flex;
        padding: 3px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: var(--primary, #FF8740);
        color: var(--white, #FEFCF7);
        text-align: center;
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.4px;
      }
    }
  }
}

// 同步調整文章區塊寬度，使 bottom-inner 與 articlecard-content 寬度一致
// .articlecard-wrapper .articlecard-content {
//   width: 100%;
//   max-width: 1024px;

//   @media (min-width: 801px) and (max-width: 1024px) {
//     width: 70%;
//     padding-left: 10%;
//   }
// }




//393-800調整
@media  (max-width: 800px) {
  #card9 {
    width: 100%;
    display: block;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .article-banner .article-content .article-bannercontent {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px !important;
    margin-top: 0px;
  }

  .bannerimg {
    width: 100%;
    height: 10rem !important;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .articlecard-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .phase1 {
    margin-top: 1rem;


    h4 {
      color: var(--gray, #989794) !important;
      /* 段落/14 */
      font-family: "Noto Sans TC", sans-serif;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      /* 19.6px */
      letter-spacing: 1.4px;
    }
  }

  #Article-maincontent,
  #phase3,
  #phase4,
  #phase5,
  #phase6 {
    h3 {
      color: var(--dark, #3A2C19);
      font-size: 20px !important;
      font-style: normal;
      font-weight: 700 !important;
      line-height: normal;
      letter-spacing: 2px;
    }

    p {
      font-size: 14px !important;
      color: var(--dark, #3A2C19) !important;
      font-style: normal;
      font-weight: 500 !important;
      line-height: 140% !important;
      /* 19.6px */
      letter-spacing: 1.4px !important;
    }
  }






}







//響應式出現的欄位
.responsive-author {
  display: none;

  @media screen and (min-width: 390px) and (max-width: 1024px) {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    border: 1px solid var(--white, #FEFCF7);
  }

  .articleWriter {
    color: var(--gray, #989794);
    font-family: "Noto Sans TC", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
  }

  .WriterName {
    color: var(--primary, var(--primary, #FF8740));
    /* 段落/14 */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 1.4px;
  }
}