@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

// #JoinusStep1-Form {
//     padding: 120px 50px;
//     width: 100vw;
// }


// .CoachJoinus-Step1-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh; // 讓它垂直滿版置中
//     position: relative;

// }

.CoachJoinus-Step1-form {
    position: relative;
    top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 700px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 32px;
    border: 1px solid var(--dark, #3A2C19);
    background: #FFF;
    // box-shadow: 4px 4px 24px 0px rgba(58, 44, 25, 0.30);
    box-shadow: 8px 8px 0px 0px #3A2C19;

    .JoinusStep1-title {
        display: flex;
        flex-direction: row;
        gap: 150px;
        margin-bottom: 40px;
        border-bottom: 1px solid #3a2c19;

        .Step1-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            gap: 12px;
            white-space: nowrap;

            h3 {
                color: var(--dark, #3A2C19);
                text-align: center;
                font-family: "Dela Gothic One";
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 5.4px;
            }

            h4 {
                color: var(--dark, #3A2C19);
                opacity: 0.5;
                text-align: center;
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 250%;
                /* 35px */
                letter-spacing: 1.4px;
            }
        }

        p {
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Dela Gothic One";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

    }

    .Step1-form {
        display: flex;
        width: 400px;
        flex-direction: column;
        gap: 12px;

        label {
            color: var(--gray, #989794);
            /* 段落/14 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

        input:focus {
            outline: #FF8740;

        }

        input {
            border-radius: 999px;
            border: 0.6px solid var(--gray, #989794);
            background: var(--white, #FEFCF7);
            height: 30px;
            position: relative;
            padding-left: 17px;

            ::placeholder {
                color: var(--gray, #989794);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            &:focus {
                border: 2px solid var(--primary, #FF8740);
                background: #FFF;
                box-shadow: 1px 2px 4px 0px rgba(58, 44, 25, 0.20);
            }
        }

    }

    .Step1-form-button {

        margin-top: 30px;
        display: flex;
        flex-direction: row;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: flex-end;
        gap: 5px;
        border-radius: 999px;
        border: 1px solid var(--primary, #FF8740);
        color: #FF8740;
        text-align: center;
        /* 段落/14 */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: 1.4px;

        &:focus,
        &:focus-visible {
            outline: none;
        }

    }
}