@use "../reset.scss";

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

.JoinusStep1-header {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 50px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 100px;


    .JoinusStep1-headertitle {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid #3A2C19;
        position: relative;

        h3 {
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Dela Gothic One";
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 5.4px;
        }

        h4 {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--dark, #3A2C19);
            font-family: "Mantou Sans";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px;
            /* 208.333% */
            letter-spacing: 2.4px;
            color: white;
        }

    }

}

.CoachJoinus-Step3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 550px;
    height: 700px;
    margin-left: 350px;
    margin-right: 450px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 32px;
    padding-left: 32px;

    border-radius: 32px;
    border: 1px solid var(--dark, #3A2C19);
    background: #FFF;
    box-shadow: 4px 4px 24px 0px rgba(58, 44, 25, 0.30);

    .JoinusStep3-title {
        display: flex;
        flex-direction: row;
        gap: 150px;
        margin-bottom: 40px;
        border-bottom: 1px solid #3a2c19;

        .Step3-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            gap: 10px;
            white-space: nowrap;

            h3 {
                color: var(--primary, var(--primary, #FF8740));
                text-align: center;
                font-family: "Dela Gothic One";
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 5.4px;
            }

            h4 {
                color: var(--primary, var(--primary, #FF8740));
                text-align: center;
                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 250%;
                /* 35px */
                letter-spacing: 1.4px;
            }
        }

        p {
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Dela Gothic One";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

    }

    .Step3-form {
        position: relative;

        .Aboutme-textarea {
            .Aboutme-textarea-title {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 24px;
                margin-bottom: 4px;
                width: 193px;
                border-bottom: 1px solid #3A2C19;
                ;



                h4 {
                    color: var(--dark, #3A2C19);
                    /* 段落/14 */
                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                }

                p {
                    color: var(--primary, var(--primary, #FF8740));
                    /* 段落/14 */
                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                }

            }

            textarea {
                height: 156px;
                width: 393px;
                border-radius: 8px;
                border: 1px solid var(--dark, #3A2C19);
                background: var(--white, #FEFCF7);
                margin-top: 10px;
            }
        }

        .Aboutme-uploadphotos {
            margin-top: 14px;

            .Aboutme-uploadphotos-title {
                width: 202px;
                border-bottom: 1px solid #3A2C19;
                margin-bottom: 12px;

                h4 {
                    color: var(--dark, #3A2C19);
                    /* 段落/14 */
                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                }
            }

            .Aboutme-uploadphotos-button {
                margin-bottom: 36px;

                button {
                    margin-right: 18px;
                    border-radius: 999px;
                    border: 1px solid var(--primary, #FF8740);
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    font-family: "Noto Sans TC";
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 14px */
                    letter-spacing: 1px;
                }
            }
        }

        .teachingExperiences {
            display: flex;
            flex-direction: row;
            gap: 24px;
            width: 199px;
            border-bottom: 1px solid #3A2C19;

            h4 {
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            p {
                color: var(--primary, var(--primary, #FF8740));
                /* 段落/14 */
                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

        }

        .scrollFieldset-teachExperience {
            margin-top: 8px;
            border: 1px solid #d0cdc9;
            border-radius: 8px;
            max-height: 114px;
            /* 設置最大高度以啟用滾動條 */
            overflow-y: auto;
            width: 430px;

            .simpleTable {
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;

                thead {
                    display: table;
                    width: 100%;
                    table-layout: fixed; // 讓寬度對齊
                    background-color: #f4f4f4;

                    th {
                        padding: 8px;
                        font-size: 10px;
                        margin: 5px;
                        text-align: center;
                        color: var(--gray, #989794);
                        border-bottom: 1px solid #3a2c19;
                    }


                }

                tbody {
                    display: block;
                    max-height: 200px;
                    overflow-y: auto;
                    width: 100%;

                    tr {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                    }

                    td {
                        padding: 8px;
                        font-size: 14px;
                        text-align: center;
                        color: var(--dark, #3A2C19);
                        border-bottom: 1px solid #3a2c19;
                    }

                    input {
                        width: 20px;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 0.5px solid #989794;
                    }

                    .buttonGroup {
                        display: flex;
                        flex-direction: column;
                        gap: 4px; // 按鈕間距
                        align-items: center; // 水平置中

                        button {
                            border-radius: 999px;
                            border: 1px solid var(--primary, #FF8740);
                            color: var(--dark, #3A2C19);
                            text-align: center;
                            font-family: "Noto Sans TC";
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%;
                            /* 14px */
                            letter-spacing: 1px;

                        }
                    }
                }

                th:first-child,
                td:first-child {
                    width: 5px; // 或根據需要調整
                    padding-left: 5px; // 可以更小一點
                    text-align: left; // 如果你希望文字貼齊左側
                }

                // 滾軸樣式
                tbody::-webkit-scrollbar {
                    width: 8px;
                }

                tbody::-webkit-scrollbar-thumb {
                    background-color: #d9d9d9;
                    border-radius: 4px;
                }

                tbody::-webkit-scrollbar-track {
                    background: transparent;
                }
            }
        }

        .NextPreButton {
            display: flex;
            flex-direction: row;
            gap: 300px;
            width: 100%;
            margin-top: 40px;
    
            button {
                margin: 0px;
                white-space: nowrap;
    
                border-radius: 999px;
                border: 1px solid var(--primary, #FF8740);
                color: var(--dark, #3A2C19);
                text-align: center;
                /* 段落/14 */
                font-family: "Noto Sans TC";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }
    
    
    
        }






    }
}