@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}

#Joinus-Form {
    margin: 0 auto;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    // overflow-x: hidden;
    /* 隱藏橫向溢出 */
    width: 100%;
    // border: 1px solid red;
    box-sizing: border-box;



    @media (min-width: 393px) and (max-width: 1024px) {
        margin-bottom: 10rem;
    }
}

.Joinus-introduction {
    .BringPro {
        color: var(--primary, var(--primary, #FF8740));
        /* heading/標題4/Bold */
        font-family: "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        margin-top: 1rem;
    }

    .BringPro-intro {
        color: var(--dark, #3A2C19);
        /* 段落/14 */
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: 1.4px;
        margin-top: 10px;
    }

}

.Joinus-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 150px;



    .imcoach {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
            border-radius: 24px;
            background: #FFF;
            box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
            height: 400px;
            width: 420px;
            position: relative;

            .coach-label-img {
                display: flex;
                flex-direction: row;
                gap: 150px;
                position: relative;
                height: 50px;

                img {
                    width: 60px;
                    height: 120px;
                    position: relative;
                    top: -150%;
                    left: 70%;

                }

                label {
                    position: relative;
                    top: -15px;
                    left: 20px;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 33px;




                    .imcoach-Iam {
                        color: var(--dark, #3A2C19);
                        font-family: "Dela Gothic One";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        /* 166.667% */
                        letter-spacing: 2.4px;
                        // position: relative;
                        margin-right: 5px;
                    }

                    .imcoach-coach {
                        color: var(--primary, var(--primary, #FF8740));
                        font-family: "Dela Gothic One";
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 3.6px;
                    }

                }
            }



            .imcoach-youcan {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-bottom: 11px;
                padding-left: 30px;


                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imcoach-youcan-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

            p {
                margin-top: 14px;
                padding-left: 30px;
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            .imcoach-youhaveto {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-bottom: 11px;
                padding-left: 30px;

                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imcoach-youhaveto-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

        }

        // .imcoach-joinbutton {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     align-items: center;
        //     gap: 12px;
        //     width: 320px;
        //     height: 50px;
        //     padding: 8px 84px;
        //     margin-top: 30px;
        //     border-radius: 999px;
        //     background: var(--primary, #FF8740);

        //     color: var(--white, var(--white, #FEFCF7));
        //     text-align: center;
        //     font-family: "Noto Sans TC", sans-serif;
        //     font-size: 16px;
        //     font-style: normal;
        //     font-weight: 900;
        //     line-height: 140%;
        //     /* 22.4px */
        //     letter-spacing: 1.6px;

        //     img {
        //         width: 20px;
        //         height: 23px;
        //         position: absolute;
        //         right: 80px;
        //         opacity: 0;
        //         // transform: translateX(10px); // 預設略偏右
        //         transition: opacity 0.3s ease, transform 0.3s ease;
        //     }

        //     &:hover {
        //         transform: translateY(-4px);
        //         box-shadow: 4px 8px 0px 0px #3A2C19;
        //         border: none;
        //         outline: none;

        //         img {
        //             opacity: 1;
        //             // transform: translateX(0); // icon 滑進來
        //         }

        //         span {
        //             transform: translateX(-10px);
        //             transition: opacity 0.3s ease, transform 0.3s ease;
        //         }


        //     }

        //     &:active {
        //         // transform: translateY(-4px);
        //         box-shadow: 3px 6px 0px 0px #3A2C19;
        //         font-size: 14px;
        //         border: none;
        //         outline: none;
        //         transform: translate(2px, 2px);


        //         img {
        //             width: 18px;
        //             height: 20px;
        //         }
        //     }
        // }




    }

    .imnutrionist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            border-radius: 24px;
            background: #FFF;
            box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
            height: 400px;
            width: 420px;
            position: relative;

            .nutri-label-img {
                display: flex;
                flex-direction: row;
                gap: 150px;
                position: relative;
                height: 50px;

                img {
                    width: 60px;
                    height: 120px;
                    position: relative;
                    top: -150%;
                    left: 30%;
                }

                label {
                    position: relative;
                    top: -15px;
                    left: 20px;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 33px;


                    .imnutrionist-Iam {
                        color: var(--dark, #3A2C19);
                        font-family: "Dela Gothic One";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        /* 166.667% */
                        letter-spacing: 2.4px;
                        // position: relative;
                        margin-right: 5px;
                    }

                    .imnutrionist-nutrionist {
                        color: var(--primary, var(--primary, #FF8740));
                        font-family: "Dela Gothic One";
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 3.6px;
                    }



                }
            }



            .imnutrionist-youcan {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-bottom: 11px;
                padding-left: 30px;

                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }
            }

            .imnutrionist-youcan-line {
                width: 60%;
                height: 0.6px;
                background: #3A2C19;
            }
        }

        p {
            margin-top: 14px;
            padding-left: 30px;
            color: var(--dark, #3A2C19);
            /* 段落/14 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }

        .imnutrionist-youhaveto {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 14px;
            margin-bottom: 11px;
            padding-left: 30px;

            h4 {
                color: var(--dark, #3A2C19);
                text-align: center;
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
                opacity: 0.6;
            }

            .imnutrionist-youhaveto-line {
                width: 60%;
                height: 0.6px;
                background: #3A2C19;
            }
        }

    }

    .imnutrionist-joinbutton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 320px;
        height: 50px;
        padding: 8px 84px;
        margin-top: 30px;
        border-radius: 999px;
        background: var(--primary, #FF8740);

        color: var(--white, var(--white, #FEFCF7));
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 140%;
        /* 22.4px */
        letter-spacing: 1.6px;

        img {
            width: 20px;
            height: 23px;
            position: absolute;
            right: 80px;
            opacity: 0;
            // transform: translateX(10px); // 預設略偏右
            transition: opacity 0.3s ease, transform 0.3s ease;

        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 4px 8px 0px 0px #3A2C19;
            border: none;
            outline: none;

            img {
                opacity: 1;
                // transform: translateX(0); // icon 滑進來
            }

            span {
                transform: translateX(-10px);
                transition: opacity 0.3s ease, transform 0.3s ease;
            }


        }

        &:active {
            // transform: translateY(-4px);
            box-shadow: 3px 6px 0px 0px #3A2C19;
            font-size: 14px;
            border: none;
            outline: none;
            transform: translate(2px, 2px);


            img {
                width: 18px;
                height: 20px;
            }
        }
    }

}



//響應式
//801-1024px
@media (min-width:801px) and (max-width:1024px) {



    .Joinus-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        /* 不用 center，圖片可以靠上，靠 margin 控制 */
        margin-top: 5%;
        gap: 4rem;
    }

    .imnutrionist-Iam,
    .imcoach-Iam {
        color: var(--dark, #3A2C19);
        font-family: "Dela Gothic One";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 285.714% */
        letter-spacing: 1.4px;
        white-space: nowrap;
    }

    .imcoach-coach,
    .imnutrionist-nutrionist {
        color: var(--primary, var(--primary, #FF8740));
        font-family: "Dela Gothic One";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 166.667% */
        letter-spacing: 2.4px;
        white-space: nowrap;
    }

    .imcoach {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
            border-radius: 24px;
            background: #FFF;
            box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
            height: 290px !important;
            width: 330px !important;
            position: relative;

            .coach-label-img {
                display: flex;
                flex-direction: row;
                gap: 150px;
                position: relative;
                height: 50px;


                img {
                    position: absolute;
                    top: 5rem !important;
                    left: -2rem !important;
                    max-width: none !important;
                    max-height: none !important;
                    object-fit: contain;
                    width: 150px !important;
                    height: 200px !important;
                }


                label {
                    position: relative;
                    top: -15px;
                    left: 20px;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 33px;




                    .imcoach-Iam {
                        color: var(--dark, #3A2C19);
                        font-family: "Dela Gothic One";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        /* 166.667% */
                        letter-spacing: 2.4px;
                        // position: relative;
                        margin-right: 5px;
                    }

                    .imcoach-coach {
                        color: var(--primary, var(--primary, #FF8740));
                        font-family: "Dela Gothic One";
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 3.6px;
                    }

                }
            }



            .imcoach-youcan {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-bottom: 5px !important;
                padding-left: 30px;


                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imcoach-youcan-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

            p {
                margin-top: 14px;
                padding-left: 30px;
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            .imcoach-youhaveto {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-top: 10px;

                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imcoach-youhaveto-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

        }

        .join-button {
            width: 320px !important;
            height: 40px !important;
            border-radius: 8px !important;
            color: #FFF;
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 900 !important;
            line-height: 140%;
            /* 19.6px */

            &:hover {
                transform: none;
                box-shadow: none;

                img {
                    opacity: 0; // 或 0，看你需不需要圖示
                }

                span {
                    transform: none;
                    transition: none;
                }
            }

            &:active {
                transform: none;
                box-shadow: none;
                font-size: 14px;

                img {
                    width: auto;
                    height: auto;
                }
            }

        }


    }


    .imnutrionist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
            border-radius: 24px;
            background: #FFF;
            box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
            height: 290px !important;
            width: 330px !important;
            position: relative;

            .nutri-label-img {
                display: flex;
                flex-direction: row;
                gap: 150px;
                position: relative;
                height: 50px;

                img {
                    width: 60px;
                    height: 120px;
                    position: relative;
                    top: -150%;
                    left: 70%;

                }

                label {
                    position: relative;
                    top: -15px;
                    left: 20px;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 33px;




                    .imnutrionist-Iam {
                        color: var(--dark, #3A2C19);
                        font-family: "Dela Gothic One";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        /* 166.667% */
                        letter-spacing: 2.4px;
                        // position: relative;
                        margin-right: 5px;
                    }

                    .imnutrionist-nutrionist {
                        color: var(--primary, var(--primary, #FF8740));
                        font-family: "Dela Gothic One";
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 3.6px;
                    }

                }
            }



            .imnutrionist-youcan {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-bottom: 5px !important;
                padding-left: 30px;


                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imnutrionist-youcan-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

            p {
                margin-top: 14px;
                padding-left: 30px;
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            .imnutrionist-youhaveto {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-top: 10px;

                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imnutrionist-youhaveto-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

        }


        .nutri-label-img {
            display: flex;
            flex-direction: row;
            gap: 150px;
            position: relative;
            height: 50px;


            img {
                position: absolute;
                top: 6rem !important;
                left: -4rem !important;
                max-width: none !important;
                max-height: none !important;
                object-fit: contain;
                width: 150px !important;
                height: 200px !important;
            }


            label {
                position: relative;
                top: -15px;
                left: 20px;
                display: inline-flex;
                flex-direction: row;
                align-items: baseline;
                margin-bottom: 33px;




                .imnutrionist-Iam {
                    color: var(--dark, #3A2C19);
                    font-family: "Dela Gothic One";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px;
                    /* 166.667% */
                    letter-spacing: 2.4px;
                    // position: relative;
                    margin-right: 5px;
                }

                .imnutrionist-nutrionist {
                    color: var(--primary, var(--primary, #FF8740));
                    font-family: "Dela Gothic One";
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px;
                    letter-spacing: 3.6px;
                }

            }
        }

        .join-button {
            width: 320px !important;
            height: 40px !important;
            border-radius: 8px !important;
            color: #FFF;
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 900 !important;
            line-height: 140%;
            /* 19.6px */

            &:hover {
                transform: none;
                box-shadow: none;

                img {
                    opacity: 0; // 或 0，看你需不需要圖示
                }

                span {
                    transform: none;
                    transition: none;
                }
            }

            &:active {
                transform: none;
                box-shadow: none;
                font-size: 14px;

                img {
                    width: auto;
                    height: auto;
                }
            }

        }

    }






}


//393-800px
@media (min-width:393px) and (max-width:800px) {

    #Joinus-Form {
        margin: 0 auto;
        padding-top: 120px;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
        // overflow-x: hidden;
        /* 隱藏橫向溢出 */
        width: 100%;
        // border: 1px solid red;
        box-sizing: border-box;
        margin-bottom: 10rem;
    }

    .Joinus-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        gap: 5rem;
    }

    .Joinus-introduction {
        display: flex;
        flex-direction: column;
        text-align: right;
        max-width: 350px !important;
        margin-left: auto; // ✅ 讓區塊靠右對齊
    }

    .imcoach {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
            border-radius: 24px;
            background: #FFF;
            box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
            height: 280px !important;
            width: 327px !important;
            position: relative;

            .coach-label-img {
                display: flex;
                flex-direction: row;
                gap: 150px;
                position: relative;
                height: 30px !important;


                img {
                    position: absolute;
                    top: 2rem !important;
                    left: -1rem !important;
                    max-width: none !important;
                    max-height: none !important;
                    object-fit: contain;
                    width: 10rem !important;
                    height: 20rem !important;
                }


                label {
                    position: relative;
                    top: -15px;
                    left: 20px;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;





                    .imcoach-Iam {
                        color: var(--dark, #3A2C19);
                        font-family: "Dela Gothic One";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        /* 166.667% */
                        letter-spacing: 2.4px;
                        // position: relative;
                        margin-right: 5px;
                    }

                    .imcoach-coach {
                        color: var(--primary, var(--primary, #FF8740));
                        font-family: "Dela Gothic One";
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 3.6px;
                    }

                }
            }



            .imcoach-youcan {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                padding-left: 20px !important;


                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imcoach-youcan-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

            p {
                margin-top: 14px;
                padding-left: 20px !important;
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            .imcoach-youhaveto {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-top: 10px;

                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imcoach-youhaveto-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

        }

        .join-button {
            width: 320px !important;
            height: 40px !important;
            border-radius: 8px !important;
            color: #FFF;
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 900 !important;
            line-height: 140%;
            /* 19.6px */

            &:hover {
                transform: none;
                box-shadow: none;

                img {
                    opacity: 0; // 或 0，看你需不需要圖示
                }

                span {
                    transform: none;
                    transition: none;
                }
            }

            &:active {
                transform: none;
                box-shadow: none;
                font-size: 14px;

                img {
                    width: auto;
                    height: auto;
                }
            }

        }



    }

    .imnutrionist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
            border-radius: 24px;
            background: #FFF;
            box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
            height: 280px !important;
            width: 327px !important;
            position: relative;

            .nutri-label-img {
                display: flex;
                flex-direction: row;
                gap: 150px;
                position: relative;
                height: 30px !important;


                img {
                     position: absolute;
                    top: 2rem !important;
                    left: -3rem !important;
                    max-width: none !important;
                    max-height: none !important;
                    object-fit: contain;
                    width: 10rem !important;
                    height: 20rem !important;
                }


                label {
                    position: relative;
                    top: -15px;
                    left: 20px;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;





                    .imnutrionist-Iam {
                        color: var(--dark, #3A2C19);
                        font-family: "Dela Gothic One";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        /* 166.667% */
                        letter-spacing: 2.4px;
                        // position: relative;
                        margin-right: 5px;
                    }

                    .imnutrionist-nutrionist {
                        color: var(--primary, var(--primary, #FF8740));
                        font-family: "Dela Gothic One";
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: 3.6px;
                    }

                }
            }



            .imnutrionist-youcan {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                padding-left: 20px !important;


                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imnutrionist-youcan-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

            p {
                margin-top: 14px;
                padding-left: 20px !important;
                color: var(--dark, #3A2C19);
                /* 段落/14 */
                font-family: "Noto Sans TC", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }

            .imnutrionist-youhaveto {

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-top: 10px;

                h4 {
                    color: var(--dark, #3A2C19);
                    text-align: center;
                    /* 段落/14 */
                    font-family: "Noto Sans TC", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    letter-spacing: 1.4px;
                    opacity: 0.6;
                }

                .imnutrionist-youhaveto-line {
                    width: 60%;
                    height: 0.6px;
                    background: #3A2C19;
                }
            }

        }

        .join-button {
            width: 320px !important;
            height: 40px !important;
            border-radius: 8px !important;
            color: #FFF;
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 900 !important;
            line-height: 140%;
            /* 19.6px */

            &:hover {
                transform: none;
                box-shadow: none;

                img {
                    opacity: 0; // 或 0，看你需不需要圖示
                }

                span {
                    transform: none;
                    transition: none;
                }
            }

            &:active {
                transform: none;
                box-shadow: none;
                font-size: 14px;

                img {
                    width: auto;
                    height: auto;
                }
            }

        }



    }

    .imnutrionist-Iam,
    .imcoach-Iam {
        color: var(--dark, #3A2C19);
        font-family: "Dela Gothic One";
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 285.714% */
        letter-spacing: 1.4px;
        white-space: nowrap;
    }

    .imcoach-coach,
    .imnutrionist-nutrionist {
        color: var(--primary, var(--primary, #FF8740));
        font-family: "Dela Gothic One";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 166.667% */
        letter-spacing: 2.4px;
        white-space: nowrap;
    }



}