@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}



#Joinus-Success {
    padding: 120px 50px;
    width: 100vw;
}

.Joinus-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;



    img {
        width: 330px;
        height: 329px;
    }

    .Joinus-Success-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Dela Gothic One";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 48px */
            letter-spacing: 6.4px;
        }

        h5 {
            color: var(--dark, #3A2C19);
            font-family: "Dela Gothic One";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 4.8px;
        }

        p {
            color: var(--gray, #989794);
            text-align: center;
            /* 段落/14 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }
    }



    .Joinus-btn {
        display: flex;
        width: 300px;
        padding: 12px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 99px;
        background: var(--primary, #FF8740);
        color: #FFF;
        text-align: center;
        /* heading/標題4/Bold */
        font-family: "Noto Sans TC";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        cursor: pointer;

        // &:hover {
        //     background: var(--primary, #FF8740);

        //     color: var(--white, var(--white, #FEFCF7));
        //     text-align: center;
        //     font-family: "Noto Sans TC", sans-serif;
        //     font-size: 14px;
        //     font-style: normal;
        //     font-weight: 900;
        //     line-height: 140%;
        //     /* 19.6px */
        //     letter-spacing: 1.4px;
        // }

        &:active {
            outline: none;
            border: 1px solid #FF8740;
        }
    }



}