@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Mantou Sans";
    src: url(../../assets/MantouSans-Regular.ttf);
}



#Joinus-Success {
    padding: 120px 50px;
    width: 100vw;
}

.Joinus-wrapper {
    position: relative;
    left: 10%;
    display: flex;
    width: 700px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 370px;
    margin-right: 370px;

    flex-shrink: 0;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);

    img {
        width: 330px;
        height: 329px;
    }

    .Joinus-Success-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Dela Gothic One";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 48px */
            letter-spacing: 6.4px;
        }

        h5 {
            color: var(--dark, #3A2C19);
            font-family: "Dela Gothic One";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 4.8px;
        }

        p {
            color: var(--gray, #989794);
            text-align: center;
            /* 段落/14 */
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;
        }
    }

    .Joinus-Success-button {
        display: flex;
        flex-direction: column;
       
        .Joinus-btn {
            width: 300px;
            height: 40px;
            justify-content: center;
            align-items: center;

            border-radius: 999px;
            border: 1px solid var(--primary, #FF8740);
            background-color: #FFF;

            color: var(--primary, var(--primary, #FF8740));
            text-align: center;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 900;
            line-height: 140%;
            /* 19.6px */
            letter-spacing: 1.4px;

            &:hover {
                background: var(--primary, #FF8740);

                color: var(--white, var(--white, #FEFCF7));
                text-align: center;
                font-family: "Noto Sans TC", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
                line-height: 140%;
                /* 19.6px */
                letter-spacing: 1.4px;
            }
        }



    }



}