@use "../reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
  font-family: "Mantou Sans";
  src: url(../../assets/MantouSans-Regular.ttf);
}

.joinus-form-wrapper {

  @media(max-width:1024px) {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.CoachJoinus-Step2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 650px;
  padding: 19px 32px;
  border-radius: 32px;
  border: 1px solid var(--dark, #3A2C19);
  background: #FFF;
  box-shadow: 8px 8px 0px 0px #3A2C19;
  box-sizing: border-box;

  @media(max-width:1024px) {
    width: 360px;
    min-height: 590px;
    margin-bottom: 5rem;
    margin-top: 5rem;

  }

  .JoinusStep2-header {
    display: flex;
    flex-direction: row;
    gap: 60%;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid #3a2c19;

    @media (max-width: 1024px) {
      gap: 30%;
      margin-bottom: 12px;

    }

    .Step2-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      gap: 12px;
      white-space: nowrap;

      @media (max-width: 1024px) {
        width: 289px; // 控制整個元素的寬度
        gap: 10px;

      }

      h4 {
        color: var(--dark, #3A2C19);
        text-align: center;
        font-family: "Dela Gothic One";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5.4px;

        @media(max-width:1024px) {
          color: var(--dark, #3A2C19);
          text-align: center;
          font-family: "Dela Gothic One";
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 3.6px;
        }
      }

      h5 {
        color: var(--dark, #3A2C19);
        opacity: 0.5;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 250%;
        letter-spacing: 1.4px;

        @media(max-width:1024px) {
          color: var(--dark, #3A2C19);
          text-align: center;
          /* 段落(小尺寸)/12 */
          font-family: "Noto Sans TC";
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          /* 16.8px */
          letter-spacing: 1.2px;
        }
      }
    }

    p {
      color: var(--primary, #FF8740);
      text-align: center;
      font-family: "Dela Gothic One";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 1.4px;

      @media(max-width:1024px) {
        color: var(--primary, var(--primary, #FF8740));
        opacity: 0.5;
        text-align: center;
        font-family: "Dela Gothic One";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 14px */
        letter-spacing: 1px;
      }
    }
  }



  .Step2Checkbox,
  .Step2-certification,
  .scrollFieldset {
    width: 100%;
  }

  .Step2Checkbox {
    position: relative;

    @media(max-width:1024px) {
      display: none;
    }

    .Specitialty-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 270px;
      margin-bottom: 4px;
      width: 193px;

      @media(max-width:1024px) {
        gap: 120px;
      }

      h4,
      p {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.4px;
        white-space: nowrap;
      }

      h4 {
        color: var(--dark, #3A2C19);
      }

      p {
        color: var(--primary, #FF8740);
      }
    }

    .Step2Checkbox-group {
      margin-top: 22px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      label {
        color: var(--dark, #3A2C19);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.4px;
      }

      input {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: 1px solid var(--dark, #3A2C19);
        background: #FFF;
      }
    }
  }

  .Step2-certification {
    margin-top: 30px;
    margin-bottom: 18px;

    @media(max-width:1024px) {
      margin-top: 100px;
    }

    .Step2-certification-header {
      display: flex;
      flex-direction: column;

      .Step2-certification-title {
        display: flex;
        flex-direction: row;
        width: 222px;
        margin-bottom: 4px;
        gap: 250px;

        @media(max-width:1024px) {
          gap: 120px;
        }


        h4,
        h5 {
          font-family: "Noto Sans TC", sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 140%;
          letter-spacing: 1.4px;
          white-space: nowrap;
        }

        h4 {
          color: var(--dark, #3A2C19);
        }

        h5 {
          color: var(--primary, #FF8740);
        }
      }

      p {
        color: var(--gray, #989794);
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 140%;
      }
    }
  }

  .scrollFieldset {
    width: 441px;
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #D0CDC9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 18px;
    margin-bottom: 8px;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.2px;

    @media (max-width: 1024px) {
      width: 289px !important;
    }

    // Scrollbar 美化
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 99px;
      background: #D9D9D9;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    // Input 欄位樣式
    input {
      height: 30px;
      border-radius: 99px;
      border: 0.5px solid var(--dark, #3A2C19);
      background: #FFF;
      margin-right: 18px;

      @media (max-width: 1024px) {
        width: 160px;
        border-radius: 8px;
        margin-right: 0;
      }
    }

    // legend 標題樣式
    legend {
      display: flex;
      justify-content: flex-start;
      width: 100%; // 改為自動跟隨 fieldset 寬度
      color: var(--dark, #3A2C19);
      font-size: 10px;
      padding-top: 18px;
      letter-spacing: 1px;

      @media (max-width: 1024px) {
        font-size: 12px;
        margin-bottom: 12px;
      }
    }

    // 子內容樣式
    .coach-scrollContent {
      @media (max-width: 1024px) {
        width: 289px;
      }

      .cert-line {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 0;
        padding-left: 0;


      }
    }


    .scrollContent {
      @media (max-width: 1024px) {
          width: 289px;
      }

      .cert-line {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-left: 0;
          padding-left: 0;
      }
  }


    // 上傳按鈕
    button.nutriupload {
      height: 25px;
      padding: 4px 12px;
      margin-right: 18px;
      margin-bottom: 8px;
      border-radius: 999px;
      border: 1px solid var(--primary, #FF8740);
      color: #FF8740;
 
     

      @media (max-width: 1024px) {
        width: 54px;
        height: 28px;
        margin: 0;
      }
    }

    // 刪除按鈕
    button.delete {
      width: 50px;
      height: 25px;
      padding: 4px 12px;
      margin-right: 5px !important;
      margin-bottom: 8px;
      border-radius: 999px;
      border: 1px solid #3A2C19;
      color: #3A2C19;
      white-space: nowrap;

      @media (max-width: 1024px) {
        width: 54px;
        height: 28px;
        margin: 0;
      }
    }

    // 更新按鈕區塊
    .update-button {
      display: flex;
      justify-content: flex-end;

      @media (max-width: 1024px) {
        margin-right: 1%;
        margin-top: 12px;
      }

      .update {
        width: 50px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;
        border-radius: 999px;
        border: 1px solid var(--primary, #FF8740);
        background: var(--primary, #FF8740);
        color: var(--white, #FEFCF7);
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  .Nutri-NextPreButton {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 300px;

    @media(max-width:1024px) {
      gap: 150px !important;
    }


    .Step2Pre-button,
    .Step2Next-button {
      width: 100px;
      height: 40px;
      margin: 0;
      border-radius: 999px;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 1.4px;
      white-space: nowrap;
      text-align: center;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    .Step2Pre-button {
      border: 1px solid var(--dark, #3A2C19);
      color: var(--dark, #3A2C19);
    }

    .Step2Next-button {
      border: 1px solid #FF8740;
      color: #FF8740;
    }
  }
}