@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 字體 */
body {
  font-family: "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Dela Gothic One";
  line-height: 1.5;
  background-color: #fefcf7;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* a預設的行內元素，不支援寬高及上下間距，通常會改為區塊，方便設定 */
  color: #444;
  text-decoration: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fefcf7;
  overflow-x: hidden;
}

input,
textarea,
select,
option,
button,
label {
  font-family: "Noto Sans TC", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/images/Vector1.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  color: #989794;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 1.4px;
}

#memberListAll {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 120px 80px;
  gap: 28px;
}
#memberListAll .memberList {
  display: flex;
}
#memberListAll .memberList .memberBotton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  padding-top: 70px;
  padding-left: 30px;
  /* 被選到跟沒選到的按鈕樣式 */
}
#memberListAll .memberList .memberBotton .memberListBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px 0px 0px 20px;
  background: #fbadad;
  padding: 20px;
  width: 206px;
  height: 240px;
}
#memberListAll .memberList .memberBotton .memberListBox.studentList {
  background: #fbdbad;
}
#memberListAll .memberList .memberBotton .member1 {
  width: 160px;
  position: relative;
  top: -30px;
  left: -50px;
}
#memberListAll .memberList .memberBotton .memberBt {
  width: 162px;
  height: 50px;
  border-radius: 20px;
  background: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: 1.6px;
  outline: none;
  display: flex;
  padding: 13px 46px 13px 47px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
#memberListAll .memberList .memberBotton .memberBt.memberActive {
  width: 216px;
  color: #ff8740;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  outline: none;
  z-index: 1;
}