@use "../../reset.scss";

.home-nutritionist {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10%;

  .home-nutritionist1 {
    display: flex;
    align-items: flex-end;
    padding-left: 15%;
    margin-top: 100px;
  }

  .home-nutritionist-active {
    display: flex;
    position: relative;

    margin-left: 10%;
    border-radius: 20px;
    background: linear-gradient(180deg, #ffc9a9 0%, #ff8740 100%);
    width: 250px;
    height: 355px;
    transform: skew(-20deg, 0deg);

    .home-nutritionist-img {
      position: absolute;
      right: 30px;
      top: -35px;

      img {
        width: 260px;
        transform: none;
        transform: skew(20deg, 0deg);
      }
    }

    //教練姓名
    .home-nutritionist-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      //   transform: skew(-20deg, 0deg);
      position: absolute;
      right: -80px;
      top: -50px;

      .home-nutritionist-name {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 1px solid #ff8740;
        background: #fff;
        box-shadow: 8px 8px 0px 0px #ff8740;
        width: 230px;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
        color: #3a2c19;

        //教練英文名
        .home-nutritionist-enname {
          font-size: 20px;
          letter-spacing: 2px;
        }
      }

      .home-nutritionist-tags {
        display: flex;
        position: absolute;
        right: -20px;
        top: 100px;
        width: 190px;
        height: 50px;
        padding: 10px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid #ff8740;
        background: #fff;
        box-shadow: 8px 8px 0px 0px #ff8740;
        color: #3a2c19;
        text-align: right;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.4px;
      }
    }
  }

  //沒有被選的教練
  .home-nutritionist-none {
    width: 187px;
    margin-right: -3%;
  }

  .home-nutritionist-footer {
    display: flex;
    position: relative;
    padding-top: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;

    .home-nutritionist-img {
      position: absolute;
      right: 20px;  
    }

    .home-nutritionist-title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   
      width: 100%;
      gap: 56px;

      .home-nutritionist-title1 {
        display: flex;
        flex-direction: column;
        
      }
      .home-nutritionist-title2 {
        display: flex;
            align-items: center;
        transform: skew(-20deg, 0deg);
        .home-nutritionist-titleCh {
          text-align: center;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #3a2c19;
          font-family: "Mantou Sans";
          font-size: 128px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 12.8px;
        }

        .home-nutritionist-titleEn {
          color: #fefcf7;
          font-family: "Dela Gothic One";
          font-size: 64px;
          font-style: normal;
          font-weight: 400;
          line-height: 100px;
          /* 156.25% */
          text-transform: capitalize;
        }
      }

      span {
        color: #3a2c19;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 200% */
        letter-spacing: 0.4px;
      }
    }

    .home-nutritionist-button {
      display: flex;
      gap: 20px;

      button {
        display: flex;
        padding: 16px 84px;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        border: 1px solid #ff8740;
        background: #fff;

        &:hover {
          background: #ff8740;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}
