@use "../../reset.scss";

.home-nutritionist {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10% 5% 5%;


  @media(max-width:1024px) {
    padding: 48% 5% 5%;
  }
  @media(max-width:800px) {
    padding: 36% 5% 5%;
  }

  @media(max-width:600px) {
    align-items: center;
    margin: 0 auto;
    padding: 48% 5% 5%;
    margin-bottom: 100px;
  }


  //卡牌輪播區域
  .nutritionist-card-box {
    display: flex;
    align-items: flex-end;
    align-self: center;
    margin-left: 13%;
    width: 100%;
    gap: 50px;

    @media(max-width:1024px) {
      justify-content: flex-end;
      margin-right: 28%;
      margin-left: 0;
    }

    @media(max-width:800px) {
      justify-content: center;
      margin: 0;
    }

    .home-nutritionist-maincard {
      display: flex;
      position: relative;
      border-radius: 20px;
      border: 1px solid #ff8740;
      background: #fff;
      box-shadow: 8px 8px 0px 0px #ff8740;
      width: 20%;
      aspect-ratio: 5 / 7;
      transform: skew(-20deg, 0deg);

      @media(max-width:1024px) {
        box-shadow: 14px 14px 0px 0px #ff8740;
        transform: skew(-16deg, 0deg);
      }

      @media(max-width:800px) {
        width: 25%;
      }

      @media(max-width:600px) {
        width: 140px;
      }




      .home-nutritionist-img {
        position: absolute;
        right: 20%;
        bottom: 0%;
        width: 100%;
        z-index: 99;

        @media(max-width:1024px) {
          right: 8%;
        }

        img {
          width: 92%;
          transform: none;
          transform: skew(20deg, 0deg);

          @media(max-width:1024px) {
            transform: skew(16deg, 0deg);
          }
        }
      }

      //營養師姓名
      .home-nutritionist-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        height: fit-content;
        right: -80px;
        top: -50px;

        .home-nutritionist-name {
          display: flex;
          padding: 12px 24px;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          border: 1px solid #ff8740;
          background: #fff;
          box-shadow: 8px 8px 0px 0px #ff8740;
          width: 230px;
          font-family: "Noto Sans TC", sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 3.2px;
          color: #3a2c19;
          white-space: nowrap;

          @media(max-width:1024px) {
            width: fit-content;
            font-size: 14px;
            gap: 3px;
            padding: 8px 24px;
            position: absolute;
            right: 20px;
            top: 27px;
          }

          @media(max-width:600px) {
            padding: 8px 16px;
          }


          //英文名
          .home-nutritionist-enname {
            font-size: 20px;
            letter-spacing: 2px;

            @media(max-width:1024px) {
              font-size: 14px;
            }
          }
        }

        //營養師tag
        .home-nutritionist-tags {
          display: flex;
          position: absolute;
          right: -25px;
          top: 100px;
          width: 190px;
          height: 50px;
          padding: 10px 12px;
          justify-content: center;
          align-items: center;
          gap: 2px;
          flex-shrink: 0;
          border-radius: 12px;
          border: 1px solid #ff8740;
          background: #fff;
          box-shadow: 8px 8px 0px 0px #ff8740;
          color: #3a2c19;
          text-align: right;
          font-family: "Noto Sans TC", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          letter-spacing: 1.4px;

          @media(max-width:1024px) {
            right: 70px;
            top: 280px;
            z-index: 100;
          }


          @media(max-width: 600px) {
            right: 70px;
            top: 230px;
            padding: 8px;
          }

        }
      }

    }

    // 四張排隊小卡
    .home-nutritionist-queue {
      display: inline-flex;
      width: 50%;
      height: auto;

      // margin-left:14%;
      @media (max-width:1024px) {
        display: none;
      }



      .nutritionist-card-small {
        width: 100%;
        height: auto;


        img {
          width: 100%;
          display: block;
        }
      }
    }

    // 按鈕區
    .home-nutritionist-controls {
      display: flex;
      width: 83%;
      justify-content: space-between;
      position: absolute;
      top: 35%;
      right: 13%;
      z-index: 100;

      @media(max-width:1024px) {
        width: 47%;
        top: 74%;
        right: 3%;
      }

      @media(max-width:800px) {
        width: 64%;
        top: 40%;
        right: 18%;
      }

        @media(max-width:600px) {
        width: 350px;
        bottom: 47%;
        margin: 0 auto;
        left: 48%; 
        transform: translateX(-50%);
      }
        @media(max-width:400px) {
        width: 350px;
        top: 268px;
        margin: 0 auto;
        left: 46%; 
        transform: translateX(-50%);
      }



      button {
        all: unset;
        /* optional: 為了確保可以點擊 */
        cursor: pointer;
        color: #3a2c19;
        font-family: "Noto Sans TC", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 24px */
        letter-spacing: 1.6px;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 82px;
        gap: 4px;
        transform: skew(-20deg, 0deg);
        // transition: all 0.3s ease;

        @media(max-width:600px) {
          font-size: 14px;
          width: 50px;
        }





        // 文字改變
        .label {
          position: relative;
          display: inline-block;
          transition: all 0.3s ease;
          white-space: nowrap;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            // transition: all 0.3s ease;
          }
        }

      }

      .next-btn {
        .label {
          &::before {
            content: 'NEXT';
          }

          &::after {
            content: '下一位';
          }
        }

        &:hover {
          .label {
            color: #ff8740;

            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 1;
              transform: skew(-10deg, 0deg);
            }
          }

          .arrow {
            content: url('/images/carousel-arrow-right-orange.svg');
            transform: scaleX(1.4);
          }
        }

        &:active {
          .arrow {
            transform: scaleX(0.95);
            transition: transform 0.3s ease;
          }

          .label {
            transform: scale(0.9);
            transition: transform 0.3s ease;
          }
        }

      }

      .prev-btn {
        .label {
          &::before {
            content: 'PREV';
          }

          &::after {
            content: '上一位';
          }
        }

        &:hover {
          transition: all 0.3s ease;

          .label {
            color: #ff8740;

            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 1;
              transform: skew(-10deg, 0deg);
            }
          }

          .arrow {
            content: url('/images/carousel-arrow-left-orange.svg');

            transform: scaleX(1.4);
          }
        }

        &:active {
          .arrow {
            transform: scaleX(0.95);
            transition: transform 0.3s ease;
          }

          .label {
            transform: scale(0.9);
            transition: transform 0.3s ease;
          }
        }

      }
    }

  }



  // 底部內容
  .home-nutritionist-footer {
    display: flex;
    position: relative;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media(max-width:800px) {
      padding: 0;
      transform: translateY(-30px);
    }

    @media(max-width:600px) {
      width: fit-content;
    }



    .home-nutritionist-img {
      position: absolute;
      right: 0%;
      bottom: -24%;
      width: 17%;

      @media(max-width:1024px) {
        left: 36%;
        bottom: 200%;
        width: 12%;
      }

      @media(max-width:800px) {
        width: 14%;
        left: 65%;
        bottom: 80px;
      }

      @media(max-width:600px) {
        width: 92px;
        left: 80%;
        bottom: 80px;
      }

    }

    .home-nutritionist-title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      gap: 45px;

      @media(max-width:1024px) {
        gap: 5px;
        position: absolute;
        width: fit-content;
        bottom: 0%;
        left: 0%;
      }

      @media(max-width:800px) {
        position: relative;
        width: 100%;
        margin-top: 144px;
        align-items: center;
      }


      .home-nutritionist-title1 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media(max-width:800px) {
          width: 320px;
        }

        .home-nutritionist-title2 {
          display: flex;
          align-items: center;
          transform: skew(-20deg, 0deg);
          gap: 32px;
          padding-left: 7%;

          @media(max-width:1024px) {
            flex-direction: column;
            gap: 0px;
            position: absolute;
            top: -127%;
            left: 85%
          }

          @media(max-width:800px) {
            top: -213%;
            left: 29%;
            z-index: -2;
          }

          @media(max-width:600px) {
            top: -196%;
            left: 8%;
          }


          .home-nutritionist-titleCh {

            font-family: "Mantou Sans";
            font-size: 84px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 12.8px;
            color: #3a2c19;
            white-space: nowrap;

            @media(max-width:1024px) {
              font-size: 128px;
              line-height: 113%;
              order: 2;
            }

            @media(max-width:800px) {
              opacity: 0.2;
              font-size: 96px;
            }

          }

          .home-nutritionist-titleEn {
            color: #fefcf7;
            font-family: "Dela Gothic One";
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 100px;
            /* 156.25% */
            text-transform: capitalize;

            @media(max-width:1024px) {
              font-size: 24px;
              line-height: 0%;
            }
          }

        }

        .home-nutritionist-title3 {
          color: #3a2c19;
          font-family: "Noto Sans TC", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px;
          /* 200% */
          letter-spacing: 0.4px;
          padding-left: 4%;

          span {
            display: block;
          }

          @media(max-width:1024px) {
            margin-right: 0%;
            width: 260px;

            :nth-child(1) {
              font-family: "Mantou Sans";
              font-size: 16px;
              letter-spacing: 1.6px;
            }

            :nth-child(2) {
              font-size: 14px;
              letter-spacing: 1.4px;
              line-height: 30px;
            }
          }

          @media(max-width:800px) {
            width: 256px;
          }
        }
      }

      .home-nutritionist-button {
        display: flex;
        gap: 20px;

        @media(max-width:1024px) {
          flex-direction: column;
          gap: 12px;
          margin-right: 0%;

          a {
            height: 40px;

            button {
              width: 320px;
              height: 40px;
              font-size: 14px;
              font-style: normal;
              font-weight: 900;
              line-height: 140%;
              /* 19.6px */
              letter-spacing: 1.4px;
              border-radius: 8px;
            }
          }
        }

      }
    }
  }
}