@use "../reset.scss";
#coachMain {
  padding: 120px 50px;
}
.coachTitle {
  display: flex;
  align-items: baseline;
  h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 9.6px;
    color: #ff8740;
    font-family: "Dela Gothic One", sans-serif;
  }
  h3 {
    font-family: "Mantou Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2.4px;
  }
}
.searchBox {
  display: flex;
  padding: 0px 200px;

}
#personal-search-form {
  margin-top: 50px;

  #area {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
  }
  #trainingNeeds {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
  }
  #sex {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
  }
  #keyword-search {
    width: 305px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
    border: 0.5px solid;
  }
  .submit {
    width: 165px;
    height: 40px;
    padding: 8px 8px;
    background: #ff8740;
    color: #fff;
    border-radius: 999px;
    border: none;
  }
}
.allCoachCards{
  padding:33px 143px;
.coachNineCards {
  display: flex;
  flex-wrap:wrap;
  gap:32px;
}
.all-coach {
  color: #ff8740;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 80px;
  font-weight: 400;
}}