@use "../reset.scss";
#coachMain {
  padding: 120px 50px;
}

.searchBox {
  display: flex;
  padding: 0px 150px;

}
#personal-search-form {
  margin-top: 50px;

  #area {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
  }
  #trainingNeeds {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
  }
  #sex {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
  }
  #keyword-search {
    width: 305px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
    border: 0.5px solid;
  }
  .submit {
    width: 165px;
    height: 40px;
    padding: 8px 8px;
    background: #ff8740;
    color: #fff;
    border-radius: 999px;
    border: none;
  }
}
.allCoachCards{
  padding:33px 143px;
.coachNineCards {
  display: flex;
  flex-wrap:wrap;
  gap:32px;
}
.all-coach {
  color: #ff8740;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 80px;
  font-weight: 400;
}}