@use "../reset.scss";

#coachMain {
  padding: 120px 50px;
  width: 100%;

}

.searchBox {
  display: flex;
  justify-content: center;
  padding: 0px 150px;
  width: 100%;
}

#personal-search-form {
  margin-top: 50px;
   display: flex;
   gap: 10px;

  #area,
  #trainingNeeds,
  #sex {
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
    // appearance: none;



  }

  #keyword-search {
    width: 300px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 999px;
    border: 0.5px solid;
  }

  .submit {
    width: 170px;
    height: 40px;
    padding: 8px 8px;
    background: #ff8740;
    color: #fff;
    border-radius: 999px;
    border: none;
  }
}

.allCoachCards {
  padding: 2% 15%;

  .coachNineCards {
 display: grid;
  grid-template-columns: repeat(3, 1fr); // 一列三格
  gap: 30px; // 同時控制橫向與直向間距

  }

  .all-coach {
    
    color: #ff8740;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 80px;
    font-weight: 400;
  }
}
//我的收藏的樣式
.favoriteBt {
  display: flex;
  justify-content: space-between;
  padding: 6px 24px;
  align-items: center;
  gap: 10px;

  .favoriteActive {
    outline: none;
    border-radius: 999px;
    border: 1px solid #ff8740;
    background: #ff8740;
    color: #3a2c19;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
  }

  .favoriteNoActive {
    color: #3a2c19;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
    border-radius: 999px;
    border: 1px solid #ff8740;
    background: #fefcf7;
  }

  .favorite-count {
    color: #3a2c19;
    font-family: "Dela Gothic One";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    gap: 10px;
    display: flex;

    .c-count {
      color: #ff8740;
    }

    .n-count {
      color: #56BD49;
    }
  }
}